// ==== DEPRECATED ==== //

// This file is essentially a trash bin for styles that apply to deprecated elements in the HTML5 specification

acronym {
  @extend abbr;
}

big {
  font-size: 120%;
  line-height: 0;
}

tt {
  @extend var;
}



// Unused styling from Twenty Twelve
img.wp-smiley,
.rsswidget img {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  display: inline;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
