/*   
Theme Name: Pendrell
Theme URI: http://synapticism.com
Author: Alexander Synaptic
Author URI: http://www.alexandersynaptic.com
Description: A child theme for personal usage.
Version: 0.1
License: GNU General Public Licence 2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: light, gray, white, one-column, two-columns, right-sidebar, flexible-width, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
Text Domain: twentytwelve
Template: twentytwelve
*/
@import url("../twentytwelve/style.css");



/* === HEADER === */

.header-image {
	margin-top: 0;
}
img.header-image {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	box-shadow: none;
}
.site-header {
	padding-top: 0;
}
.site-header img.avatar {
	display: none;
	float: left;
	margin-right: 12px;
	margin-right: 0.857142857rem;
	margin-top: 12px;
	margin-top: 0.857142857rem;
	border-bottom-left-radius: 3px;
}
.site-header .site-title, .site-header .site-description {
	clear: none;
}



/* === FONT STACKS & TYPE SIZING ===
- Google Web Fonts: http://www.google.com/webfonts
- Build Better Font Stacks: http://www.codestyle.org/css/font-family/BuildBetterCSSFontStacks.shtml
- Paul Irish's Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/
- Font Squirrel @font-face generator: http://www.fontsquirrel.com/fontface/generator
- 10 Web Font Stacks: http://georgebutler.com/blog/typography/10-definitive-web-font-stacks-for-designers/ */

.entry-content {
	font-size: 16px;
	font-size: 1.142857143rem;
	line-height: 1.846153846;
}
footer.entry-meta,
article.format-quote footer.entry-meta,
article.format-link footer.entry-meta,
article.format-status footer.entry-meta {
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
}



/* === GENERAL LAYOUT === */

/* Cheap trick to lose the sidebar on full-width view; surely there is a better way */
body.full-width .widget-area {
	display: none;
}

/* Needs some tweaking; long entry meta info will cause the buttons to slide to the next line */
.entry-meta-buttons {
	float: right;
}
.edit-link, .leave-reply {
	margin-left: 12px;
	margin-left: 0.857142857rem;
}

/* Show the author in entry meta on pages */
.page .entry-meta .by-author {
	display: inline;
}



/* === POST FORMATS === */

/* Link posts */
article.format-link header {
	padding: 0;
	float: none;
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 2.181818182;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	background-color: #fff;
	border-radius: 0;
}
article.format-link .entry-content {
	max-width: 100%;
	float: none;
}
article.format-link .entry-content a {
	font-size: 22px;
	font-size: 1.571428571rem;
	line-height: 1.090909091;
	text-decoration: none;
}

/* Quote */
article.format-quote .entry-content blockquote {
	font-style: italic;
	font-size: 18px;
	font-size: 1.285714286rem;
	background: #f8f8f8;
	border-radius: 3px;
}
.format-quote blockquote p:first-child::before {
	content: "\201C";
}
.format-quote blockquote p:last-child::after {
	content: "\201D";
}
article.format-quote footer.entry-meta .attribution {
	font-size: 16px;
	font-size: 1.142857143rem;
	line-height: 1.846153846;
	text-align: right;
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}

/* Status */
.format-status .entry-header {
	float: left;
}
.format-status .entry-header img {
	margin: 0;
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.format-status .entry-content {
	font-weight: normal;
	font-size: 18px;
	font-size: 1.285714286rem;
	line-height: 1.6;
	margin: 0 0 0 48px;
	/*border: 1px solid #ccc;
	border-radius: 3px;*/
}

/* Gallery */
/* Modified from: http://theme.fm/2011/06/how-to-style-your-wordpress-gallery-43/ */
.gallery { margin: 0 auto 24px; }
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item { width: 50%; }
.gallery-columns-4 .gallery-item { width: 25%; }
.gallery .gallery-icon img {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	border: 1px solid white;
	padding: 6px;
	background: #f8f8f8;
}
.gallery .gallery-icon img:hover {
	background: #fcfcfc;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}
.gallery dl, .gallery dt { margin: 0; }
.gallery br+br { display: none; }

/* Chats */
/* Do we really want to implement this? If so: http://justintadlock.com/archives/2012/08/21/post-formats-chat */



/* === IMAGE ATTACHMENTS === */

.image-info {
	border-top: 1px solid #ededed;
	margin: 24px 0;
	margin: 1.714285714rem 0;
	padding-top: 24px;
	padding-top: 1.714285714rem;
	overflow: hidden;
}
.image-description {
	color: #777;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
}
.image-navigation {
	position: relative;
	height: 96px;
	margin: 24px 0;
	margin: 1.714285714rem 0;
	padding-top: 24px;
	padding-top: 1.714285714rem;
	overflow: visible;
	width: 100%;
}
.previous-image {
	float: left;
	width: 30%;
	text-align: left;
	line-height: 80px;
}
.return-gallery {
	display: none;
	float: left;
	width: 40%;
	text-align: center;
	line-height: 80px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.next-image {
	float: right;
	width: 30%;
	text-align: right;
	line-height: 80px;
}
.previous-image img,
.next-image img {
	display: none;
}
.previous-image img {
	float: left;
}
.next-image img {
	float: right;
}
.return-gallery,
.nav-text {
	font-size: 100%;
	text-transform: uppercase;
	font-weight: bold;
}
.attachment-image-navigation {
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}



/* === PORTFOLIO ITEMS === */

/* Based on styling from Hatch */
.portfolio.archive header h1.entry-title,
.portfolio.archive footer .entry-meta {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	/* The following SHOULD work but it doesn't; hack it with padding instead
	overflow-x: hidden;
	overflow-y: visible; */
}
.portfolio.archive header h1.entry-title {
	font-size: 18px;
	padding-bottom: 2px;
}
.portfolio.archive header.entry-header {
	margin: 0;
}
.portfolio.archive footer.entry-meta {
	margin: 0;
}
/* Modified by media queries (below) */
.portfolio.archive .hentry {
	max-height: 192px;
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 0 0 24px 0;
	padding-bottom: 2.5%;
}
/* Responsive half-width images, mainly for use in portfolios */
.size-half-width,
.size-half-width-cropped {
	width: 48.4375%;
}
.size-half-width.alignleft,
.size-half-width-cropped.alignleft,
.size-third-width.alignleft,
.size-third-width-cropped.alignleft {
	margin: 0 3.125% 24px 0;
}
.size-half-width.alignright,
.size-half-width-cropped.alignright,
.size-third-width.alignright,
.size-third-width-cropped.alignright {
	margin: 0 0 24px 3.125%;
}
.size-third-width,
.size-third-width-cropped {
	width: 31.25%;
}



/* === BUTTONS === */

.button a {
	padding: 6px 10px;
	padding: 0.428571429rem 0.714285714rem;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	font-weight: normal;
	color: #7c7c7c;
	background-color: #e6e6e6;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -ms-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -webkit-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: linear-gradient(top, #f4f4f4, #e6e6e6);
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
	cursor: pointer;
	text-decoration: none;
}
.button a:hover {
	color: #5e5e5e;
	background-color: #ebebeb;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -ms-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -o-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: linear-gradient(top, #f9f9f9, #ebebeb);
}
.button a:active {
	color: #777;
	background-color: #e1e1e1;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -ms-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -webkit-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -o-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: linear-gradient(top, #ebebeb, #e1e1e1);
	box-shadow: inset 0 0 8px 2px #c6c6c6, 0 1px 0 0 #f4f4f4;
	border: none;
}



/* === ADDITIONAL RESETS AND HACKS === */

mark {
	text-decoration: underline;
	background: none;
}
.search-results mark {
	color: #fff;
	background: #fe57a1;
	/*background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -ms-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -webkit-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: linear-gradient(top, #f4f4f4, #e6e6e6);
	border: 1px solid #d2d2d2;*/
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
	padding: 0.5%;
	margin: -0.5% -0.25% -0.5% -0.25%;
}

strike {
	text-decoration: line-through;
}

/* Nice hyphens */
.entry-content,
.entry-summary {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

/* Add "no-shadow" to any img; good for design work on a white background */
img.no-shadow {
	box-shadow: none;
}



/* === PLUGINS === */

#disqus_thread {
	margin-top: 24px;
	margin-top: 1.714285714rem;
}



/* === MEDIA QUERIES === */

@media screen and (min-width: 350px) {
	.portfolio.archive .hentry {
		float: left;
		width: 47.6190476%;
		margin: 0 4.7619048% 24px 0;
	}
	.portfolio.archive .hentry.divisible-by-2,
	.portfolio.archive .hentry.divisible-by-2.divisible-by-3 {
		margin-right: 0;
	}
	.portfolio.archive .hentry.divisible-by-3 {
		margin-right: 4.7619048%;
	}
}

@media screen and (min-width: 680px) {
	.portfolio.archive .hentry {
		float: left;
		width: 31.25%;
		margin: 0 3.125% 24px 0;
	}
	.portfolio.archive .hentry.divisible-by-2 {
		margin-right: 3.125%;
	}
	.portfolio.archive .hentry.divisible-by-3,
	.portfolio.archive .hentry.divisible-by-3.divisble-by-2 {
		margin-right: 0;
	}
	.portfolio.archive header h1.entry-title {
		font-size: 22px;
		padding-bottom: 4px;
	}
}

@media screen and (min-width: 600px) {

	/* Header */
	.with-header-image {
		position: absolute;
		bottom: 0px;
		left: 0px;
		max-width: 66%;
		max-height: 96px;
		background: #fff;
		padding-right: 24px;
		padding-right: 1.714285714rem;
		border-top-right-radius: 3px;
	}
	.with-header-image img.avatar {
		display: block;
	}

	/* Image attachments */
	.return-gallery {
		display: block;
	}
	.author-avatar {
		float: right;
		margin-top: 8px;
		margin-top: 0.571428571rem;
	}
	.author-description {
		float: left;
		width: 80%;
	}

}

@media screen and (min-width: 960px) {

	body .site {
		margin-top: 0;
		margin-bottom: 0;
	}

	/* Image Attachment Navigation */
	.previous-image img,
	.next-image img {
		display: block;
	}
	.previous-image .nav-text {
		margin-left: 12px;
		margin-left: 0.857142857rem;
	}
	.next-image .nav-text {
		margin-right: 12px;
		margin-right: 0.857142857rem;
	}

}



/* === DEVELOPMENT AREA === */

body.serif,
body.serif button,
body.serif input,
body.serif select,
body.serif textarea {
	font-family: Georgia, "Palatino Linotype", Palatino, "URW Palladio L", "Book Antiqua", "Times New Roman", serif;
}
body.serif h1,
body.serif h2,
body.serif h3,
body.serif h4,
body.serif h5,
body.serif h6,
body.serif .pulledquote,
body.serif .format-quote blockquote {
	font-family: "PT Serif", Cambria, Constantia, "URW Palladio L", "Palatino Linotype", Palatino, Georgia, "Book Antiqua", "Times New Roman", serif;
}
body.sans,
body.sans button,
body.sans input,
body.sans select,
body.sans textarea {
	font-family: Tahoma, "DejaVu Sans", "Lucida Sans", "Lucida Grande", "Bitstream Vera Sans", "Liberation Sans", Verdana, sans-serif;
} /* Arial/Helvetica version: Corbel, Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", sans-serif; */
body.sans h1,
body.sans h2,
body.sans h3,
body.sans h4,
body.sans h5,
body.sans h6,
body.sans .pulledquote,
body.sans .format-quote blockquote {
	font-family: Calibri, "DejaVu Sans Condensed", Tahoma, "Lucida Sans", "Lucida Grande", "Bitstream Vera Sans", "Liberation Sans", Verdana, sans-serif;
}
body.monospace,
body.syntaxhighlighter,
pre,
code,
kbd,
samp {
	font-family: Consolas, "Bitstream Vera Sans Mono", "Andale Mono", Monaco, "DejaVu Sans Mono", "Lucida Console", monospace;
}

/* Aside: still under development, hasn't really been touched yet */
article.format-aside h1 {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
article.format-aside h1 a {
	text-decoration: none;
	color: #4d525a;
}
article.format-aside h1 a:hover {
	color: #2e3542;
}
article.format-aside .aside {
	padding: 0;
	background: none;
	border-left: none;
}
article.format-aside p {
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	color: #4a5466;
}
article.format-aside blockquote:last-child,
article.format-aside p:last-child {
	margin-bottom: 0;
}

/* Enclose any text with <span class="pullquote"></span> and this style will be applied! */
.pulledquote {
	color: #999;
	font-style: italic;
	font-size: 18px;
	font-size: 1.285714286rem;
	line-height: 1.6;
	border-top: 4px double #ededed;
	border-bottom: 4px double #ededed;
	float: right;
	max-width: 30%;
	/* still need this to play nice with existing vertical rhythm */
	margin: 0 0 12px 12px;
	padding: 20px 0 20px 0;
}
