// === AUTHORS === //

.author .archive-header {
  @include rem('margin-bottom', $spacer);
}
.author-info {
  border-top: $divider;
  @include rem('margin', $spacer 0);
  @include rem('padding-top', $spacer);
  overflow: hidden;
}
.author-description p {
  @include font-sizer(14);
}
.author.archive .author-info {
  border-top: 0;
  @include rem('margin', 0 0 $spacer*2);
}
.author.archive .author-avatar {
  margin-top: 0;
}
.author-avatar {
  @media screen and (min-width: 600px) {
    float: right;
    @include rem('margin-top', 8px);
  }
}
.author-description {
  @media screen and (min-width: 600px) {
    float: left;
    width: percentage(500/625);
  }
}