// === AUTHORS === //

.author-info {
  @include rem('margin-top', $spacer, 1);
  @include rem('padding-top', $spacer);
  border-top: $divider;
  overflow: hidden;
}
.author-avatar {
  display: none; // Only display author avatar on larger screens
  @media screen and (min-width: $break-medium) {
    @include rem('margin', 0 0 0 $spacer/2);
    display: block;
    float: right;
    line-height: 0; // Keeps the container snug around the avatar image
  }
}
.author-description {
  h2 {
    @include font-sizer(18);
  }
  p {
    @include font-sizer(14);
  }
}
