// ==== AUTHORS ==== //

.author-info {
  .entry-meta & {
    @include rem('margin-top', $spacer, 1);
    @include rem('padding-top', $spacer);
    border-top: $d-divider;
  }
}
.author-avatar {
  display: none; // Only display author avatar on larger screens
  img {
    @include border-radius;
  }
  @media screen and (min-width: $break-medium) {
    @include rem('margin', 0 0 0 $spacer/2);
    display: block;
    float: right;
    line-height: 0; // Keeps the container snug around the avatar image
  }
}
.author-description {
  p {
    @include font-size($s-text-small);
  }
}
