// ==== HELPERS ==== //

// These silent selectors should be used for common styling patterns

// Clearfix
%clearfix-above {
  @include clearfix-above;
}
%clearfix-below {
  @include clearfix-below;
}
%clearfix {
  @include clearfix;
}

// Spacing, to preserve a modicum of vertical rhythm
%spacer-above {
  @include rem('margin-top', $spacer);
}
%spacer-below {
  @include rem('margin-bottom', $spacer);
}

// Small header style
%small-headers {
  @include font-size($h5);
  font-family: $font-head;
  font-weight: 600;
  text-transform: uppercase;
}

// Right-aligned button container
%button-container {
  @include rem('margin-left', $spacer/2);
  float: right;
  height: $spacer;
}
