// ==== DRUMLORE CONFIGURATION ==== //

// A theme for Drumlore: http://drumlore.com

// == FONT SIZING == //

// Default font size and baseline (unitless integers); $base should be 16, set $s-text to alter body text font size
$base:              16;
$baseline:          30;

// Headers
$s-header-title:    48;
$s-header-big:      36;
$s-header:          28;
$s-header-sub:      22;
$s-header-small:    14;

// Menus
$s-menu-header:     18;
$s-menu-header-sm:  16; // Lower than 16 doesn't display well on mobile devices
$s-menu-footer:     16;

// Submenus
$s-sub:             14;

// Body text
$s-text-big:        24;
$s-text:            18; // Default body text font size
$s-text-small:      16;
$s-text-smaller:    14;
$s-text-smallest:   12;



// == FONT STACKS == //

$f-body: $open;
$f-head: $comfortaa;
$f-mono: $consolas;



// == FONT WEIGHTS == //

$w-light:           300;
$w-normal:          400;
$w-bold:            600;


// == LAYOUT == //

$content-width:     960px;
$main-width:        624px;
$thumbnail-size:    150px;
$spacer:            $baseline+0px; // Typically used in conjunction with the rem mixin
$sidebar-width:     ($content-width - $main-width) - ($spacer * 2);
$full-width:        true; // Toggle for full-width styles; set to true if the theme uses functionality contained in full-width.php



// == BREAKPOINTS == //

$b-small:           $main-width/1.5;
$b-medium:          $main-width + ($spacer * 2);
$b-large:           $main-width + ($spacer * 8); // Causes sidebar to slide below content
$b-full:            $content-width;



// == COLOURS == //

// @TODO: this is getting unusable... migrate this stuff to a better system

// Palette
$c-white:         white();
$c-black:         black();
$c-dark:          #404040;
$c-green:         #a2bf68;
$c-yellow:        #fff9c0;
$c-red:           #a30000;

// Base
$c-body:          $c-dark;
$c-body-bg:       $c-white;
$c-head:          darken($c-body, 13);
$c-highlight:     #edd496;
$c-offset:        lighten($c-body, 13);
$c-link:          #6a782b;

// Links
$c-link-v:        $c-link;
$c-link-h:        lighten($c-link, 17);
$c-link-a:        saturate(lighten($c-link, 13), 13);
$c-link-f:        saturate(lighten($c-link, 8), 8);

// Menus
$c-menu-link:     #d04d1d;
$c-menu-link-h:   #770909;
$c-menu-current:  #770909;
$c-menu-bg:       lighten(#edd496, 13);

// Submenus
$c-sub:           lighten($c-body, 17);
$c-sub-h:         $c-white;
$c-sub-bg:        darken($c-body-bg, 11);

// Meta
$c-meta:          lighten($c-body, 23);
$c-meta-link:     darken($c-meta, 33);
$c-meta-link-v:   $c-meta-link;
$c-meta-link-h:   $c-highlight;
$c-meta-link-a:   $c-meta-link;
$c-meta-link-f:   $c-meta-link;

// Footer
$c-footer:        $c-meta;
$c-footer-link:   $c-meta-link;
$c-footer-link-v: $c-meta-link-v;
$c-footer-link-h: $c-meta-link-h;
$c-footer-link-a: $c-meta-link-a;
$c-footer-link-f: $c-meta-link-f;

// Elements
$c-abbr:          $c-offset;
$c-blockquote:    $c-offset;
$c-blockquote-bg: darken($c-body-bg, 3);
$c-blockquote-c:  lighten($c-body, 37); // Comment blockquote
$c-code:          $c-offset;
$c-code-bg:       darken($c-body-bg, 3);
$c-del:           lighten($c-body, 27);
$c-hr:            rgba(#500000, .8);
$c-ins-bg:        $c-yellow;
$c-mark:          lighten($c-body, 19);
$c-mark-bg:       $c-ins-bg;
$c-pre:           darken($c-body, 13);
$c-table:         lighten($c-body, 19);

// Forms
$c-alert:         $c-red;
$c-required:      $c-red;
$c-success:       $c-green;

// Various
$c-archive:       lighten($c-body, 17);
$c-caption:       lighten($c-body, 37);
$c-divider:       rgba($c-link, .09);
$c-interface:     darken($c-body-bg, 27);
$c-site-desc:     $c-body;
$c-site-title:    $c-head;
$c-small-header:  $c-offset;
$c-small-print:   lighten($c-body, 23);
$c-text-box:      lighten($c-body, 7);
$c-text-box-bg:   darken($c-body-bg, 7);
$c-text-box-sh:   darken($c-text-box-bg, 3);
$c-tooltip:       lighten($c-body, 7);
$c-tooltip-bg:    $c-yellow;//darken($c-body-bg, 4);
$c-widget-head:   #2a4018;
$c-widget:        lighten(#6a782b, 17);



// == DESIGN PATTERNS == //

// Divider
$d-divider:       1px solid $c-divider;

// Glow
$d-glow:          0px 0px 5px $c-highlight;

// Gradients
$d-gradient-1:    darken($c-body-bg, 4);
$d-gradient-2:    darken($c-body-bg, 10);

// Image spacer; defines the space between gallery items and grouped images
$d-image-spacer:  $spacer;

// Interface border for buttons and submenus
$d-interface:     1px solid $c-interface;

// Mouseover border bottom
$d-mouseover:     1px dotted rgba($c-body, .4);

// Border radius default
$d-radius:        3px;

// Box shadow
$d-shadow:        0 1px 4px black(.2);



// == REFERENCE == //

// $b: breakpoint
// $c: colours
// $d: design pattern
// $f: font stack
// $s: size
