// ==== FONTS ==== //

// - Google Web Fonts: http://www.google.com/webfonts
// - Build Better Font Stacks: http://www.codestyle.org/css/font-family/BuildBetterCSSFontStacks.shtml
// - Paul Irish's Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/
// - Font Squirrel @font-face generator: http://www.fontsquirrel.com/fontface/generator
// - 10 Web Font Stacks: http://georgebutler.com/blog/typography/10-definitive-web-font-stacks-for-designers/



// == BASE STACKS == //

$sans-serif:  sans-serif;
$serif:       serif;
$monospace:   monospace;



// == CHINESE CHARACTER SUPPORT == //

// The idea here is to match up standard Chinese fonts with the fonts in the stacks below
// http://www.kendraschaefer.com/2012/06/chinese-standard-web-fonts-the-ultimate-guide-to-css-font-family-declarations-for-web-design-in-simplified-chinese/
// http://www.pinyinjoe.com/faq/chinese-web-site-fonts-and-character-sets.htm
// http://graficareal.net/blog/wordpress-sinotype-websafe-chinese-plugin/
// http://www.yale.edu/chinesemac/pages/fonts.html
// @TODO: research this further...

// Master switch for Chinese font stack functionality; true/false
$chinese: false;

@if $chinese == true {
  $sans-serif:  "Heiti TC", "Heiti SC", "微軟正黑體", "Microsoft JhengHei", "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", "宋体", SimSun, STXihei, "华文细黑", sans-serif !global;
  $serif:       "LiSong Pro", "新細明體", PMingLiU, STSong, STKaiti, serif !global;
  $monospace:   "Heiti TC", "Heiti SC", "微軟正黑體", "Microsoft JhengHei", "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", "宋体", SimSun, STXihei, "华文细黑", monospace !global;
}



// == WEB SAFE FONT STACKS == //

// Body font stacks
$tahoma:      join((Tahoma, "DejaVu Sans", "Lucida Sans", "Lucida Grande", "Bitstream Vera Sans", "Liberation Sans", Verdana), $sans-serif);
$corbel:      join((Corbel, "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", "Liberation Sans"), $sans-serif);
$georgia:     join((Georgia, "Palatino Linotype", Palatino, "URW Palladio L", "Book Antiqua", "Times New Roman"), $serif);
$helv-neue:   join(("Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", "Liberation Sans"), $sans-serif);
$helv-neue-l: join(("HelveticaNeue-Light", "Helvetica-Neue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", "Liberation Sans"), $sans-serif);

// Header font stacks
$calibri:     join((Calibri, "DejaVu Sans Condensed", Tahoma, "Lucida Sans", "Lucida Grande", "Bitstream Vera Sans", "Liberation Sans", Verdana), $sans-serif);
$cambria:     join((Cambria, Constantia, "URW Palladio L", "Palatino Linotype", Palatino, Georgia, "Book Antiqua", "Times New Roman"), $serif);

// Monospace stacks
$consolas:    join((Consolas, "Bitstream Vera Sans Mono", "Andale Mono", Monaco, "DejaVu Sans Mono", "Lucida Console"), $monospace);
$courier:     join(("Courier 10 Pitch", "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter"), $monospace);
$andale:      join(("Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier), $monospace);



// == GOOGLE WEB FONTS == //

// To define your own Google Web Font stack use the join() function and specify one of the web safe stacks as the second parameter.
// Be sure to use brackets around multiple fonts if you define more than one.
// Make sure you also import the relevant fonts in functions.php!

// Body font stacks
$alegreya-sans:     join("Alegreya Sans", $corbel);
$arimo:             join((Arimo, "Open Sans"), $corbel);
$lato:              join(Lato, $tahoma);                    // Lato:400italic,400,700
$open:              join("Open Sans", $corbel);
$pt-serif-body:     join("PT Serif", $georgia);             // PT+Serif:300,400italic,400,700italic,700
$quattro:           join("Quattrocento Sans", $tahoma);     // Quattrocento+Sans:400,700,400italic,700italic
$roboto:            join(Roboto, $tahoma);                  // Roboto:400italic,400,700italic,700
$source-sans:       join("Source Sans Pro", $corbel);       // Source+Sans+Pro:300italic,300,400italic,400,700
$ubuntu:            join(Ubuntu, $corbel);

// Header font stacks
$cabin:             join(Cabin, $calibri);
$comfortaa:         join(Comfortaa, $calibri);
$merriweather:      join(Merriweather, $cambria);           // Merriweather:400,700
$montserrat:        join(Montserrat, $calibri);
$oxygen:            join(Oxygen, $calibri);
$pt-serif-header:   join("PT Serif", $cambria);             // PT+Serif:400,700
$quando:            join(Quando, $corbel);                  // Quando:400
$quicksand:         join(Quicksand, $corbel);               // Quicksand:300,400,700
$raleway:           join(Raleway, $corbel);                 // Raleway:300,400,700
$russo:             join("Russo One", $tahoma);
$signika:           join(Signika, $calibri);
$varela:            join(Varela, $calibri);
$varela-round:      join("Varela Round", $calibri);         // Varela+Round:400
