// === COLOURS === //

// Body
$c-site-bg:     #fff;
$c-body-bg:     #e6e6e6;

// Text
$c-body:        #555;
$c-font-head:   #333;

// Links
$c-link:        #429ab2;
$c-link-v:      #52b1cc;
$c-link-h:      #ED7251;
$c-link-a:      $c-link-h;
$c-link-f:      $c-link-h;

// Main menu
$c-menu-link:   #5e5e5e;
$c-menu-link-h: #757575;

// Elements
$c-del:         #333;
$c-hr:          #ccc;
$c-ins-bg:      #fff9c0;
$c-mark:        #fff;
$c-mark-bg:     #bbb;

// Various
$c-site-header: #222;
$c-divider:     #ededed;
$c-pullquote:   #888;
$c-required:    crimson;

// Twenty Twelve legacy variables
$link-color:           $c-link;
$link-color-hover:     $c-link-h;
$font-color: $c-body