// ==== OMNITROPIC CONFIGURATION ==== //

// A theme for Omnitropic: http://omnitropic.com

// == FONT SIZING == //

// Default font size and baseline (unitless integers); $base should be 16, set $s-text to alter body text font size
$base:            16;
$baseline:        30;

// Headers
$s-header-title:  48;
$s-header-big:    36;
$s-header:        28;
$s-header-sub:    22;
$s-header-small:  14;

// Menus
$s-menu-header:   22;
$s-menu-footer:   14;
$s-menu-sub:      12;

// Body text
$s-text-big:      24;
$s-text:          18; // Default body text font size
$s-text-small:    16;
$s-text-smaller:  14;
$s-text-smallest: 12;



// == FONT STACKS == //

$f-body: $helv-neue-l;
$f-head: $oxygen;
$f-menu: $orbitron;
$f-mono: $courier;



// == LAYOUT == //

$content-width:     960px;
$main-width:        624px;
$spacer:            $baseline+0px; // Typically used in conjunction with the rem mixin
$sidebar-width:     ($content-width - $main-width) - ($spacer * 2);
$full-width:        false; // Toggle for full-width styles; set to true if the theme uses functionality contained in full-width.php



// == BREAKPOINTS == //

$break-single-column: $main-width + ($spacer * 8); // Causes sidebar to slide below content
$break-medium: $main-width;
$break-large: $content-width;



// == COLOURS == //

// Palette
$c-white:         #fff;
$c-black:         #000;
$c-dark:          #444547;
$c-green:         #a2bf68;
$c-yellow:        #fff9c0;
$c-red:           #a30000;

// Base
$c-body:          $c-dark;
$c-body-bg:       $c-white;
$c-head:          darken($c-body, 33);
$c-highlight:     #D13F31;
$c-offset:        lighten($c-body, 13);
$c-link:          #559dd1;

// Links
$c-link-v:        $c-link;
$c-link-h:        saturate(lighten($c-link, 17), 7);
$c-link-a:        saturate(lighten($c-link, 13), 13);
$c-link-f:        saturate(lighten($c-link, 17), 7);

// Menus
$c-menu-link:     $c-white;
$c-menu-link-h:   darken($c-white, 13);
$c-menu-current:  darken($c-white, 13);
$c-menu-bg:       lighten($c-dark, 13);

// Meta
$c-meta:          lighten($c-body, 33);
$c-meta-link:     darken($c-meta, 33);
$c-meta-link-v:   $c-meta-link;
$c-meta-link-h:   $c-highlight;
$c-meta-link-a:   $c-meta-link;
$c-meta-link-f:   $c-meta-link;

// Footer
$c-footer:        darken($c-body-bg, 37);
$c-footer-link:   lighten($c-footer, 13);
$c-footer-link-v: $c-footer-link;
$c-footer-link-h: lighten($c-footer-link, 13);
$c-footer-link-a: $c-footer-link-h;
$c-footer-link-f: $c-footer-link-h;

// Elements
$c-abbr:          $c-offset;
$c-blockquote:    $c-offset;
$c-blockquote-bg: darken($c-body-bg, 3);
$c-code:          $c-offset;
$c-code-bg:       darken($c-body-bg, 7);
$c-del:           lighten($c-body, 27);
$c-hr:            rgba($c-body, .09);
$c-ins-bg:        $c-yellow;
$c-mark:          lighten($c-body, 19);
$c-mark-bg:       $c-ins-bg;
$c-pre:           darken($c-body, 13);
$c-table:         lighten($c-body, 19);

// Forms
$c-alert:         $c-red;
$c-required:      $c-red;
$c-success:       $c-green;

// Various
$c-archive:       lighten($c-body, 17);
$c-caption:       lighten($c-body, 37);
$c-divider:       rgba($c-body, .09);
$c-site-desc:     $c-body;
$c-site-title:    $c-head;
$c-small-header:  $c-offset;
$c-small-print:   lighten($c-body, 23);
$c-text-box:      lighten($c-body, 7);
$c-text-box-bg:   darken($c-body-bg, 7);
$c-text-box-sh:   darken($c-text-box-bg, 3);
$c-widget-head:   darken($c-body, 7);
$c-widget:        lighten($c-body, 23);



// == DESIGN PATTERNS == //

// Dividing line
$d-divider: 1px solid $c-divider;

// Gallery
$d-image-spacer: $spacer/2;

// Gradients
$d-gradient-begin: #f4f4f4;
$d-gradient-end: #e6e6e6;

// Border radius
$d-radius: 3px;

// Box shadow
$d-shadow: 0 1px 4px rgba($c-black, .2);

// Glow
$glow: 0px 0px 5px $c-highlight;



// == REFERENCE == //

// $c: colours
// $d: design pattern
// $f: font stack
// $s: size
