// ==== HELPERS ==== //

// These helper classes are meant to be used with @extend

// Clearing
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Small headers
%small-headers {
  @include font-sizer(12);
  font-weight: bold;
  text-transform: uppercase;
}

// Spacer shortcuts
%spacer-above {
  @include rem('margin-top', $spacer);
}
%spacer-below {
  @include rem('margin-bottom', $spacer);
}
