// ==== DEFAULT CONFIGURATION ==== //

// == FONT SIZING == //

// Default font size and baseline (unitless integers); $base should be 16, set $s-text to alter body text font size
$base:            16;
$baseline:        32;

// Headers
$s-header-title:  48;
$s-header-big:    36;
$s-header:        28;
$s-header-sub:    22;
$s-header-small:  14;

// Body text
$s-text-big:      24;
$s-text:          18; // Default body text font size
$s-text-small:    16;
$s-text-smaller:  14;
$s-text-smallest: 12;



// == FONT STACKS == //

$f-body: $ubuntu;
$f-head: $raleway;
$f-mono: $consolas;



// == LAYOUT == //

$spacer: $baseline+0px; // Typically used in conjunction with the rem mixin
$content-width: 960px;
$main-width: 624px;
$sidebar-width: ($content-width - $main-width) - ($spacer * 2);



// == BREAKPOINTS == //

$break-single-column: $main-width + ($spacer * 6); // Causes sidebar to slide below content
$break-medium: $main-width;
$break-large: $content-width;



// == COLOURS == //

// Base
$c-body:          #555555;
$c-body-bg:       #FFFFFF;
$c-head:          darken($c-body, 33);
$c-highlight:     #ED7251;
$c-offset:        lighten($c-body, 13);
$c-link:          #5cb6cc;
$c-green:         #a2bf68;
$c-yellow:        #fff9c0;
$c-red:           #a30000;

// Links
$c-link-v:        $c-link;
$c-link-h:        saturate(lighten($c-link, 17), 7);
$c-link-a:        saturate(lighten($c-link, 13), 13);
$c-link-f:        saturate(lighten($c-link, 17), 7);

// Menus
$c-menu-link:     lighten($c-body, 33);
$c-menu-link-h:   $c-highlight;
$c-menu-current:  lighten($c-menu-link, 23);
$c-menu-bg:       darken($c-body-bg, 3);

// Meta
$c-meta:          lighten($c-body, 33);
$c-meta-link:     darken($c-meta, 33);
$c-meta-link-v:   $c-meta-link;
$c-meta-link-h:   $c-highlight;
$c-meta-link-a:   $c-meta-link;
$c-meta-link-f:   $c-meta-link;

// Footer
$c-footer:        $c-meta;
$c-footer-link:   $c-meta-link;
$c-footer-link-v: $c-meta-link-v;
$c-footer-link-h: $c-meta-link-h;
$c-footer-link-a: $c-meta-link-a;
$c-footer-link-f: $c-meta-link-f;

// Elements
$c-abbr:          $c-offset;
$c-blockquote:    $c-offset;
$c-blockquote-bg: darken($c-body-bg, 3);
$c-code:          $c-offset;
$c-code-bg:       darken($c-body-bg, 7);
$c-del:           lighten($c-body, 27);
$c-hr:            darken($c-body-bg, 17);
$c-ins-bg:        $c-yellow;
$c-mark:          lighten($c-body, 19);
$c-mark-bg:       $c-ins-bg;
$c-pre:           darken($c-body, 13);
$c-table:         lighten($c-body, 19);

// Forms
$c-alert:         $c-red;
$c-required:      $c-red;
$c-success:       $c-green;

// Various
$c-archive:       lighten($c-body, 17);
$c-caption:       lighten($c-body, 23);
$c-divider:       rgba($c-body, 0.10);
$c-site-desc:     $c-body;
$c-site-title:    $c-head;
$c-small-header:  $c-offset;
$c-small-print:   lighten($c-body, 23);
$c-text-box:      lighten($c-body, 7);
$c-text-box-bg:   darken($c-body-bg, 7);
$c-text-box-sh:   darken($c-text-box-bg, 3);
$c-widget-head:   darken($c-body, 7);
$c-widget:        lighten($c-body, 23);



// == DESIGN PATTERNS == //

// Dividing line
$d-divider: 1px solid $c-divider;

// Gradients
$d-gradient-begin: #f4f4f4;
$d-gradient-end: #e6e6e6;

// Border radius
$d-radius: 3px;

// Box shadow
$d-shadow: 0 1px 4px rgba(0, 0, 0, .2);

// Glow
$glow: 0px 0px 5px $c-highlight;



// == REFERENCE == //

// $c: colours
// $d: design pattern
// $f: font stack
// $s: size
