// ==== HELPERS ==== //

// These helper classes are meant to be used with @extend

// Clearing; these selectors have been broken into before and after for greater utility
%clearfix-above {
  &:before {
    content: "";
    display: table;
    clear: both;
  }
}
%clearfix-below {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
%clearfix {
  @extend %clearfix-above;
  @extend %clearfix-below;
}

// Spacing shortcuts
%spacer-above {
  @include rem('margin-top', $spacer);
}
%spacer-below {
  @include rem('margin-bottom', $spacer);
}

// A shortcut to apply the header font and basic style
%font-header {
  font-family: $font-head;
  font-weight: 400;
}

// Small header style
%small-headers {
  @include font-sizer($h5);
  @extend %font-header;
  font-weight: 600;
  text-transform: uppercase;
}

// Right-aligned button container
%button-container {
  @include rem('margin-left', $spacer/2);
  float: right;
  height: $spacer;
}

// Links with bottom borders
%bordered-links {
  a {
    border-bottom: 1px dotted rgba($c-link, 0.25);
    &:visited {
      border-bottom-color: rgba($c-link-v, 0.20);
    }
    &:hover {
      border-bottom-color: rgba($c-link-h, 0.30);
      border-bottom-style: solid;
    }
    &:active {
      border-bottom-color: rgba($c-link-a, 0.25);
      border-bottom-style: solid;
    }
    &:focus {
      border-bottom-color: rgba($c-link-f, 0.25);
    }
  }
}
