// ==== PENDRELL COLOUR SCHEME ==== //

// == FONTS == //

$font-body: $lato;
$font-head: $raleway;
$font-mono: $consolas;

// Default font size and baseline (integer)
$font-size: 18;
$base: 30;

// Font scale
$h1: 36;
$h2: 28;
$h3: 22; // Should be more than $font-size
$h4: 16; // Should be less than $font-size
$h5: 14;
$h6: 12;



// == BASE == //

$c-body:          #555555;
$c-body-bg:       #FFFFFF;
$c-head:          darken($c-body, 33);
$c-highlight:     #ED7251;
$c-offset:        lighten($c-body, 13);
$c-link:          #5cb6cc;
$c-green:         #a2bf68;
$c-yellow:        #fff9c0;
$c-red:           #a30000;



// == LINKS == //

$c-link-v:        $c-link;
$c-link-h:        saturate(lighten($c-link, 17), 7);
$c-link-a:        saturate(lighten($c-link, 13), 13);
$c-link-f:        saturate(lighten($c-link, 17), 7);



// == MENUS == //

$c-menu-link:     lighten($c-body, 33);
$c-menu-link-h:   $c-highlight;
$c-menu-current:  lighten($c-menu-link, 23);
$c-menu-bg:       darken($c-body-bg, 3);



// == META == //

$c-meta:          lighten($c-body, 33);
$c-meta-link:     darken($c-meta, 33);
$c-meta-link-v:   $c-meta-link;
$c-meta-link-h:   $c-highlight;
$c-meta-link-a:   $c-meta-link;
$c-meta-link-f:   $c-meta-link;



// == FOOTER == //

$c-footer:        $c-meta;
$c-footer-link:   $c-meta-link;
$c-footer-link-v: $c-meta-link-v;
$c-footer-link-h: $c-meta-link-h;
$c-footer-link-a: $c-meta-link-a;
$c-footer-link-f: $c-meta-link-f;



// == ELEMENTS == //

$c-abbr:          $c-offset;
$c-blockquote:    $c-offset;
$c-blockquote-bg: darken($c-body-bg, 3);
$c-code:          $c-offset;
$c-code-bg:       darken($c-body-bg, 3);
$c-del:           lighten($c-body, 27);
$c-hr:            darken($c-body-bg, 17);
$c-ins-bg:        $c-yellow;
$c-mark:          lighten($c-body, 19);
$c-mark-bg:       $c-ins-bg;
$c-pre:           darken($c-body, 23);
$c-table:         lighten($c-body, 19);



// == FORMS == //

$c-alert:         $c-red;
$c-required:      $c-red;
$c-success:       $c-green;



// == VARIOUS == //

$c-archive:       lighten($c-body, 17);
$c-caption:       lighten($c-body, 23);
$c-divider:       rgba($c-body, 0.10);
$c-site-desc:     $c-body;
$c-site-title:    $c-head;
$c-small-header:  $c-offset;
$c-text-box:      lighten($c-body, 7);
$c-text-box-bg:   darken($c-body-bg, 3);
$c-text-box-sh:   darken($c-text-box-bg, 3);
$c-widget-head:   darken($c-body, 7);
$c-widget:        lighten($c-body, 23);



// == PRISM == //

$p-text:            $c-body;
$p-comment:         lighten($p-text, 43);
$p-punctuation:     lighten($p-text, 27);
$p-tag:             adjust-hue($c-link, 270);//#905;
$p-selector:        adjust-hue($p-tag, 90);//#690;
$p-variable:        adjust-hue($p-tag, 270);//#a67f59;
$p-keyword:         adjust-hue($p-tag, 180);//#07a;
$p-regex:           adjust-hue($p-tag, 120);//#e90;



// == DEFAULT SETTINGS == //

// Dividing line
$d-divider: 1px solid $c-divider;

// Gradients
$d-gradient-begin: #f4f4f4;
$d-gradient-end: #e6e6e6;

// Border radius
$d-radius: 3px;

// Box shadow
$d-shadow: 0 1px 4px rgba(0, 0, 0, .20);

// Glow
$glow: 0px 0px 5px $c-highlight;



// == REFERENCE == //

// $c: colours
// $d: default design patterns
// $p: Prism code highlighting
