
/* =Comments
-------------------------------------------------------------- */

.comments-title {
  @include font-sizer(18);
  @include rem('margin-bottom', $spacer);
}
.comments-area {
  article {
    @include rem('margin-bottom', $spacer 0);
    header {
      @include rem('margin-bottom', $spacer);
      overflow: hidden;
      position: relative;
      a {
        text-decoration: none;
      }
      img.avatar {
        @include border-radius($spacer/4);
        float: left;
        line-height: $spacer*2;
        padding: 0;
      }
      cite,
      time {
        @include rem('margin-left', 75px);
        display: block;
      }
      cite {
        font-style: normal;
        a {
          color: $c-body;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      time {
        @include font-sizer(14);
        color: lighten($c-body, 10);
        text-decoration: none;
      }
      h4 { // TODO: find out what this is
        @include border-radius();
        @include font-sizer(12, 2);
        @include rem('padding', 6px 12px);
        @include vertical-gradient($startColor: #009cee, $endColor: #0088d0);
        border: 1px solid #007cbd;
        color: #fff;
        font-weight: normal;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
  cite b {
    font-weight: normal;
  }
  .bypostauthor {
    cite {
      span {
        @include font-sizer(12);
        color: lighten($c-body, 37);
      }
    }
  }
}



// Twenty Twelve cruft
.commentlist .pingback {
  @include rem('margin-bottom', $spacer);
}
.commentlist .children {
  @media screen and (min-width: 600px) {
    @include rem('margin-left', $spacer*2);
  }
}



// Response form
#respond {
  //@include rem('margin-top', $spacer*2);
  h3#reply-title {
    #cancel-comment-reply-link {
      @include font-sizer(12);
      @include rem('margin-left', $spacer/2);
      font-weight: normal;
    }
  }
  form {
    @include font-sizer(14);
    label {
      display: block;
      font-family: $font-head;
      text-transform: uppercase;
    }
    input[type="text"],
    textarea {
      font-family: inherit;
      width: 100%;
    }
    input[type="text"] {
      @media screen and (min-width: 600px) {
        width: 40%;
      }
    }
    textarea {
      @media screen and (min-width: 600px) {
        width: 80%;
      }
    }
    p.comment-notes,
    p.logged-in-as,
    p.comment-form-url {
      @include rem('margin-bottom', $spacer);
    }
    p.form-allowed-tags {
      @include font-sizer(14);
      @include rem('margin-bottom', $spacer);
      color: lighten($c-body, 10);
      code {
        display: block;
      }
    }
  }
}
