
/* =Comments
-------------------------------------------------------------- */

.comments-title {
  @include rem('margin-bottom', $vbase*2);
  @include font-sizer(16);
  font-weight: normal;
}
.comments-area {
  article {
    @include rem('margin', $vbase 0);
    header {
      @include rem('margin', 0 0 $vbase*2 0);
      overflow: hidden;
      position: relative;
      a {
        text-decoration: none;
        color: lighten($c-font-body, 10);
        &:hover {
          color: $c-link;
        }
      }
      img {
        float: left;
        padding: 0;
        line-height: 0;
      }
      cite,
      time {
        display: block;
        @include rem('margin-left', $vbase*3);
      }
      cite {
        font-style: normal;
        @include font-sizer(15);
        a {
          color: $c-font-body;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      time {
        @include font-sizer(12);
        color: lighten($c-font-body, 10);
        text-decoration: none;
      }
      h4 {
        position: absolute;
        top: 0;
        right: 0;
        @include rem('padding', 6px 12px);
        @include rem('font-size', 12px);
        font-weight: normal;
        color: #fff;
        @include vertical-gradient($startColor: #009cee, $endColor: #0088d0);
        @include border-radius();
        border: 1px solid #007cbd;
      }
    }
  }
  cite b {
    font-weight: normal;
  }
  .bypostauthor {
    cite {
      span {
        position: absolute;
        @include rem('margin-left', 5px);
        @include rem('padding', 2px 5px);
        @include font-sizer(10);
      }
      b {
        font-weight: bold;
      }
    }
  }
}
.bypostauthor cite span { // TODO: merge this with the one above
  color: #fff;
  background-color: #429ab2;
  background-image: none;
  border: 1px solid #1f6f93;
  border-radius: 2px;
  box-shadow: none;
  padding: 0;
}
a.comment-reply-link,
a.comment-edit-link {
  @include font-sizer(13);
  color: lighten($c-font-body, 14);
  &:hover {
    color: $c-link;
  }
}
.commentlist .pingback {
  @include rem('margin-bottom', $vbase);
}

// Response form
#respond {
  @include rem('margin-top', $vbase*2);
  h3#reply-title {
    @include font-sizer(16);
    #cancel-comment-reply-link {
      @include rem('margin-left', 10px);
      font-weight: normal;
      @include rem('font-size', 12px);
    }
  }
  form {
    @include rem('margin', $vbase 0);
    p {

      @include rem('margin', 11px 0);
    }
    p.logged-in-as {
      @include rem('margin-bottom', $vbase);
    }
    label {
      display: block;
      line-height: $lheight;
    }
    input[type="text"],
    textarea {
      -moz-box-sizing: border-box; // Redundant?
      box-sizing: border-box;
      font-family: inherit;
      @include rem('padding', 5px);
      width: 100%;
    }
    p.form-allowed-tags {
      margin: 0;
      @include font-sizer(12);
      color: lighten($c-font-body, 10);
    }
  }
}