// === COMMENTS === //

.comments-area {
  max-width: $content-width;
  article {
    @include rem('margin-bottom', $spacer*2);
    padding: 0;
  }
}
.comments-title {
  @include font-sizer(18);
  @include rem('margin-bottom', $spacer);
}
.comment-meta {
  @extend %clearfix;
}
.comment-meta-avatar {
  @include rem('margin-right', $spacer/2);
  display: inline-block;
  float: left;
  line-height: 0; // Keeps the container snug around the avatar image
  img.avatar {
    @include border-radius($spacer/4);
  }
}
.comment-meta-main {
  @extend .entry-meta-main;
  h3 {
    @include font-sizer(16);
  }
}



// These classes contain right-aligned buttons
.comment-meta-buttons,
.comment-reply-title small {
  @include button-div();
}
.commentlist {
  .pingback {
    @include font-sizer(14);
  }
  // Threaded comments
  .children {
    @media screen and (min-width: $break-medium) {
      @include rem('margin-left', $spacer);
    }
  }
}



// General response form
.comment-form {
  @include rem('margin-bottom', $spacer*2);
  @include font-sizer(14);
  label {
    display: block;
    font-family: $font-head;
    text-transform: uppercase;
  }
  input[type="text"],
  textarea {
    font-family: inherit;
    width: 100%;
  }
  input[type="text"] {
    @media screen and (min-width: $break-medium) {
      width: 40%;
    }
  }
  textarea {
    @media screen and (min-width: $break-medium) {
      width: 80%;
    }
  }
  .form-submit {
    //@include button-div();
    @include rem('margin-bottom', $spacer);
  }

  // Spectific to comment form
  p:first-child,
  p.logged-in-as,
  p.comment-form-url {
    @include rem('margin-bottom', $spacer);
  }
  p.form-allowed-tags {
    @include font-sizer(14);
    @include rem('margin-bottom', $spacer);
    color: lighten($c-body, 10);
  }
  #cancel-comment-reply-link {
    @include font-sizer(12);
    @include rem('margin-left', $spacer/2);
    font-weight: normal;
  }
}
