// === CONTENT === //

// Entry header
.entry-header {
  @include rem('margin-bottom', $spacer);
  img.wp-post-image {
    @include rem('margin-bottom', $spacer);
  }
  .entry-title {
    @include font-sizer(32);
    font-weight: normal;
    a {
      text-decoration: none;
    }
  }
  .entry-format {
    @include rem('margin-top', $spacer);
    font-weight: normal;
  }
  .comments-link {
    @include rem('margin-top', $spacer);
    @include font-sizer(13);
    color: #757575;
  }
}



// Featured Post
article.sticky .featured-post {
  color: #757575;
  @include font-sizer(16);
  @include rem('margin-bottom', $spacer);
  text-align: center;
}



// Entry content
.entry-content,
.entry-summary {
  /*line-height: 1.714285714;*/
}
.entry-content,
.comment-content {
  h1,h2,h3,h4,h5,h6 {
    @include rem('margin', $spacer 0);
  }
  h1 { @include font-sizer(32); }
  h2 { @include font-sizer(24); }
  h3 { @include font-sizer(21); }
  h4 { @include font-sizer(18); }
  h5 { @include font-sizer(16); }
  h6 { @include font-sizer(14); }
}
.entry-content p,
.entry-summary p,
.comment-content p {
  @include rem('margin', 0 0 $spacer);
}
.entry-content ol,
.comment-content ol,
.entry-content ul,
.comment-content ul {
  margin: 0 0 24px;
  margin: 0 0 1.714285714rem;
  line-height: 1.714285714;
}
.entry-content ul ul,
.comment-content ul ul,
.entry-content ol ol,
.comment-content ol ol,
.entry-content ul ol,
.comment-content ul ol,
.entry-content ol ul,
.comment-content ol ul {
  margin-bottom: 0;
}
.entry-content ul,
.comment-content ul,
.mu_register ul {
  list-style: disc outside;
}
.entry-content ol,
.comment-content ol {
  list-style: decimal outside;
}
.entry-content li,
.comment-content li,
.mu_register li {
  margin: 0 0 0 36px;
  margin: 0 0 0 2.571428571rem;
}
.entry-content blockquote,
.comment-content blockquote {
  margin-bottom: 24px;
  margin-bottom: 1.714285714rem;
  padding: 24px;
  padding: 1.714285714rem;
  font-style: italic;
}
.entry-content blockquote p:last-child,
.comment-content blockquote p:last-child {
  margin-bottom: 0;
}
.entry-content code,
.comment-content code {
  font-family: Consolas, Monaco, Lucida Console, monospace;
  font-size: 12px;
  font-size: 0.857142857rem;
  line-height: 2;
}
.entry-content pre,
.comment-content pre {
  border: 1px solid #ededed;
  color: #666;
  font-family: Consolas, Monaco, Lucida Console, monospace;
  font-size: 12px;
  font-size: 0.857142857rem;
  line-height: 1.714285714;
  margin: 24px 0;
  margin: 1.714285714rem 0;
  overflow: auto;
  padding: 24px;
  padding: 1.714285714rem;
}
.entry-content pre code,
.comment-content pre code {
  display: block;
}
.entry-content abbr,
.comment-content abbr,
.entry-content dfn,
.comment-content dfn,
.entry-content acronym,
.comment-content acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}
.entry-content address,
.comment-content address {
  display: block;
  line-height: 1.714285714;
  margin: 0 0 24px;
  margin: 0 0 1.714285714rem;
}
img.alignleft,
.wp-caption.alignleft {
  margin: 12px 24px 12px 0;
  margin: 0.857142857rem 1.714285714rem 0.857142857rem 0;
}
img.alignright,
.wp-caption.alignright {
  margin: 12px 0 12px 24px;
  margin: 0.857142857rem 0 0.857142857rem 1.714285714rem;
}
img.aligncenter,
.wp-caption.aligncenter {
  clear: both;
  margin-top: 12px;
  margin-top: 0.857142857rem;
  margin-bottom: 12px;
  margin-bottom: 0.857142857rem;
}
.entry-content embed,
.entry-content iframe,
.entry-content object,
.entry-content video {
  margin-bottom: 24px;
  margin-bottom: 1.714285714rem;
}
.entry-content dl,
.comment-content dl {
  margin: 0 24px;
  margin: 0 1.714285714rem;
}
.entry-content dt,
.comment-content dt {
  font-weight: bold;
  line-height: 1.714285714;
}
.entry-content dd,
.comment-content dd {
  line-height: 1.714285714;
  margin-bottom: 24px;
  margin-bottom: 1.714285714rem;
}
.entry-content table,
.comment-content table {
  border-bottom: 1px solid #ededed;
  color: #757575;
  font-size: 12px;
  font-size: 0.857142857rem;
  line-height: 2;
  margin: 0 0 24px;
  margin: 0 0 1.714285714rem;
  width: 100%;
}
.entry-content table caption,
.comment-content table caption {
  font-size: 16px;
  font-size: 1.142857143rem;
  margin: 24px 0;
  margin: 1.714285714rem 0;
}
.entry-content td,
.comment-content td {
  border-top: 1px solid #ededed;
  padding: 6px 10px 6px 0;
}
.site-content article {
  margin-bottom: 72px;
  margin-bottom: 5.142857143rem;
  padding-bottom: 24px;
  padding-bottom: 1.714285714rem;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.page-links {
  clear: both;
  line-height: 1.714285714;
}



// Entry meta
.entry-meta {
  clear: both;
}
.comments-link,
.entry-meta {
  a {
    color: #757575;
    &:hover {
      color: $c-link-h;
    }
  }
}
footer.entry-meta {
  @include rem('margin-top', $spacer);
  @include font-sizer(12);
  color: #757575;
}
/* Needs some tweaking; long entry meta info will cause the buttons to slide to the next line */
.entry-meta-buttons {
  float: right;
}
.edit-link, .leave-reply {
  @include rem('margin-top', $spacer/2);
}
.single-author .entry-meta .by-author {
  display: none;
}
/* Show the author in entry meta on pages */
.page .entry-meta .by-author {
  display: inline;
}
