// ==== CONTENT ==== //

// Entry header
.entry-header {
  @extend %clearfix-below;
  h1,
  h2,
  h3 {
    &.entry-title {
      @include font-size-fw($s-header-big, $s-header-title);
      font-weight: 400;
      .archive &,
      .search-results & {
        @include font-size($s-header); // Drop the size of entry titles on archives and in search results
      }
      @include full-width($body-class: ".archive", $media-query: large) {
        @include font-size($s-header-big);
      }
    }
  }
}



// Shared post and comment contents; additional styling specific to just post contents can be found below
.entry-content,
.comment-content {
  @extend %clearfix-below;
  @include link-stylist($link-color: false);
  word-wrap: break-word;

  // Paragraph spacing
  p {
    @extend %spacer-below;
  }
}



// Exclusive to post contents
.entry-content {

  // Header spacing; not needed in .comment-content as we don't allow headers
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @extend %spacer-below;
  }

  // Headers
  h1,
  h2,
  h3 {
    @include rem('margin-top', $spacer*2); // Spaces out headers within body copy
    & + h1,
    & + h2,
    & + h3 {
      margin-top: 0; // Allows for subheadings
    }
  }

  // Lists and definitions, also not allowed in comments
  ol,
  ul,
  dl {
    @include rem('margin-bottom', $spacer);
  }
  ul ul,
  ol ol,
  ul ol,
  ol ul,
  dl dl {
    margin-bottom: 0;
  }
  ul {
    list-style: disc outside;
    ul {
      list-style: circle;
    }
  }
  ol {
    list-style: decimal outside;
    ol {
      list-style: lower-alpha;
    }
  }
  li {
    @include rem('margin', 0 0 0 $spacer);
  }
  dd {
    @include rem('margin', 0 $spacer $spacer);
  }
  dl {
    @include rem('margin', 0 $spacer);
  }

  // Tables
  table {
    @include rem('margin-bottom', $spacer, 1);
    border-bottom: $d-divider;
    color: $c-table;
    width: 100%;
    caption {
      @include font-size($s-text-small);
    }
  }
  th {
    @extend %small-headers;
  }
  td {
    @include font-size-fw($s-text-smaller, $s-text, 1);
    border-top: $d-divider;
  }

  // Asides; use this instead of <small> in post contents
  aside {
    @extend %spacer-below;
    @include reverse-italics;
    @include small-print;
  }

  // Images
  img {
    @include border-radius;
    display: block;
  }

  // First children of .entry-content that require extra spacing for visual flow
  > blockquote,
  > div,
  > figure,
  > img,
  > pre {
    &:first-child {
      @extend %spacer-above;
    }
  }
  .archive &,
  .search-results & {
    > p:first-child {
      @extend %spacer-above;
    }
  }

  // Full-width styling
  @include full-width($media-query: large) {
    @include font-size($s-text-big);
    color: darken($c-body, 7); // Darken content as much of it will be a thinner weight

    h1 { @include font-size($s-header-title); }
    h2 { @include font-size($s-header-big); }
    h3 { @include font-size($s-header); }
    h4 { @include font-size($s-header-sub); }
    h5 { @include font-size($s-text-small); }
    h6 { @include font-size($s-text-smaller); }

    // Lighter weight
    p,
    dl,
    ol,
    ul {
      font-weight: 300;
    }
    address,
    b,
    dt,
    strong {
      font-weight: 500;
    }

    // These are all usually $s-text-small; kick it up a notch
    aside,
    code,
    pre,
    small,
    table caption,
    .entry-caption,
    .footnotes,
    .references {
      @include font-size($s-text);
    }

    // Restore the reset
    sub,
    sup {
      font-size: 75%;
    }
  }
}



// Entry meta
.entry-meta {
  @extend %clearfix;
}
.entry-meta-buttons {
  @extend %button-container;
}
.entry-meta-main {
  @extend %clearfix-below;
  @include font-size($s-text-smaller);
  @include link-stylist($c-meta-link, $c-meta-link-v, $c-meta-link-h, $c-meta-link-a, $c-meta-link-f);
  color: $c-meta;
}
