// === CONTENT === //

// Entry header
.entry-header {
  @extend %spacer-below;
  img.wp-post-image {
    @extend %spacer-below;
  }
  .entry-title {
    @include font-sizer(28);
    font-weight: normal;
    margin: 0;
    //text-transform: none;
    a {
      text-decoration: none;
    }
  }
}



// Post contents
.entry-content,
.comment-content {
  @extend %clearfix;
  hyphens: auto; // Let autoprefix do the rest

  // Headers
  h1,h2,h3,h4,h5,h6 {
    @extend %spacer-above;
    font-family: $font-body;
    text-transform: none;
  }

  // Links
  a {
    //border-bottom: 1px solid lighten($c-link, 37);
    text-decoration: underline;
  }

  // Paragraphs
  p {
    @extend %spacer-below;
  }

  // Lists and definitions
  ol,
  ul,
  dl {
    @include rem('margin', 0 0 $spacer);
  }
  ul ul,
  ol ol,
  ul ol,
  ol ul,
  dl dl {
    margin-bottom: 0;
  }
  ul {
    list-style: disc outside;
    ul {
      list-style: circle;
    }
  }
  ol {
    list-style: decimal outside;
      ol {
      list-style: lower-alpha;
    }
  }
  li {
    @include rem('margin', 0 0 0 $spacer);
  }
  dl {
    @include rem('margin', 0 $spacer);
  }
  dd {
    @include rem('margin', 0 $spacer $spacer);
  }

  // Blockquote and quotations
  blockquote {
    @include text-box();
    @include font-sizer(24);
    font-style: italic;
    p {
      @include rem('padding-bottom', $spacer); // Padding is used instead of margins because of the blockquote background
      margin: 0;
      // Add opening and closing quotation marks to the blockquote element
      &:first-child::before {
        content: "\201C";
      }
      // Correctly adds quotation mark when footer or cite elements are present at the end of the blockquote
      &:nth-last-of-type(1)::after {
        content: "\201D";
      }
    }
    footer {
      @include font-sizer(16);
      @include rem('padding-bottom', $spacer);
      display: block;
      font-style: normal;
      text-align: right;
      &:before {
        content: "\2014\00a0"; // "\2015" is a "horizontal bar" or "quotation dash" meant to introduce a quotation, not a citation
      }
    }
    div > code,
    em > code,
    li > code,
    p > code,
    strong > code {
      @include highlight( darken($c-code-bg, 7) );
    }
  }
  q {
    quotes: none;
    &:before {
      content: "\201C";
    }
    &:after {
      content: "\201D";
    }
  }

  // Pre and code blocks
  pre {
    @include font-sizer(16);
    @include text-box();
    @include rem('padding-bottom', $spacer); // Needs to follow text-box
    color: $c-pre;
  }
  pre code {
    //word-break: normal;
    //word-spacing: normal;
  }
  div > code,
  em > code,
  li > code,
  p > code,
  strong > code {
    @include font-sizer(16);
    @include highlight($c-code-bg);
    color: $c-code;
    line-height: 0;
  }
  a code {
    color: $c-link;
    line-height: 0;
  }

  // Tables and figures
  table {
    border-bottom: $divider;
    color: $c-table;
    @include rem('margin-bottom', $spacer, 1);
    width: 100%;
    caption {
      @include font-sizer(16);
      @include rem('margin', $spacer 0);
    }
  }
  th {
    @extend %small-headers;
  }
  td {
    @include font-sizer(14, 1);
    border-top: $divider;
  }

  // Media
  img {
    display: block;
  }
  img.alignleft,
  .wp-caption.alignleft {
    @include rem('margin', 0 $spacer $spacer/2 0);
  }
  img.alignright,
  .wp-caption.alignright {
    @include rem('margin', 0 0 $spacer/2 $spacer);
  }
  img.aligncenter,
  .wp-caption.aligncenter {
    @include rem('margin', 0 0 $spacer/2 0);
    @extend %clearfix;
  }
  embed,
  iframe,
  object,
  video {
    @extend %spacer-below;
  }
}



// Excerpt-specific styles
//.entry-summary {}



// Entry meta
.entry-meta {
  @extend %clearfix;
  @extend %spacer-above;
}
.entry-meta-main {
  @include font-sizer(14);
  @extend %clearfix;
  color: $c-meta;
  a {
    color: darken($c-meta, 33);
    text-decoration: underline;
    &:hover {
      color: $c-link-h;
    }
  }
}
.entry-meta-buttons {
  @include button-div();
}
.edit-link,
.leave-reply {
  @include rem('margin-top', $spacer/2);
}
// Hide author on single author blogs
.single-author .entry-meta .by-author {
  display: none;
}
// Show the author in entry meta on pages
.page .entry-meta .by-author {
  display: inline;
}



// Image attachment metadata
.image-info {
  @include rem('margin-top', $spacer, 1);
  @include rem('padding-top', $spacer);
  border-top: $divider;
  overflow: hidden;
}
.image-description {
  @include font-sizer(14);
}
