// === POST FORMATS === //

// Aside
article.format-aside {
  h1 {
    @include rem('margin-bottom', $spacer);
    a {
      text-decoration: none;
    }
  }
  .aside {
    padding: 0;
  }
  p {
    @include font-sizer(13);
  }
}



// Image
article.format-image {
  footer h1 {
    @include font-sizer(13);
    font-weight: normal;
  }
  footer h2 {
    @include font-sizer(11);
  }
  footer a h2 {
    font-weight: normal;
  }
}



// Link
article.format-link {
  header {
    padding: 0;
    @include font-sizer(11);
  }
}



// Quote
/*article.format-quote {
}*/



// Status
/*article.format-status {
}*/