// ==== GALLERY ==== //

// Parts of this were adapted from Independent Publisher: https://github.com/raamdev/independent-publisher/
.gallery {
  @extend %clearfix;
  @extend %spacer-below;
}

// Individual gallery items with percentage-based margins; see also _full_width.scss
.gallery-item {
  @include image-overlay(".gallery-caption");
  float: left;
  margin: 0 percentage($d-image-spacer / $main-width) percentage($d-image-spacer / $main-width) 0;
}

// Generate column widths and flow control; see also _full_width.scss
@for $i from 1 to 10 {
  .gallery-columns-#{$i} .gallery-item {
    max-width: percentage(1 / ($i) ) - percentage( ( ($d-image-spacer * ($i - 1) ) / $main-width) / $i);
    &:nth-of-type(#{$i}n) {
      margin-right: 0;
    }
    &:nth-of-type(#{$i}n+1) {
      clear: left;
    }
  }
}

// Don't display captions on small thumbnails and try to be halfway smart about it
.gallery-columns-4,
.gallery-columns-5,
.gallery-columns-6 {
  .gallery-caption {
    @media screen and (max-width: $break-large) {
      @include hide-visually;
    }
  }
}
.gallery-columns-6,
.gallery-columns-7,
.gallery-columns-8,
.gallery-columns-9 {
  .gallery-caption {
    @include hide-visually;
  }
}
