// ==== GALLERY ==== //

// Gallery styling; makes a lot of assumptions about markup so you can't simply lift this and use it elsewhere
// Presently attempting a free-flowing gallery based on unordered lists; could also try CSS3 columns
// @TODO: account for vertical rhythm
// @TODO: finish this component; currently it isn't production-ready at all
$gallery-padding: 5px;

.gallery {
  overflow: hidden;
  ul {
    line-height: 0;
    list-style: none;
    margin-right: -$gallery-padding;
  }
  .gallery-item {
    @include rem('padding-right', $gallery-padding);
    box-sizing: border-box; // Make everyone's life easier
    display: inline-block;
    margin: 0;
    overflow: hidden;
    position: relative;
    img {
      backface-visibility: hidden; // Prevents flicker
      margin-bottom: $gallery-padding;
      width: 100%;
      transition: all .5s ease-out;
    }
    &:hover {
      .gallery-caption-text {
        opacity: 1;
        transition: opacity .5s ease;
      }
      img {
        filter: brightness(70%) grayscale(100%);
        transition: all .3s ease-in;
      }
    }
  }
  .gallery-caption-title {
    @include font-size($s-header-sub);
  }
  // @TODO: mask caption text that overflows the bounding box; not a problem with short titles/captions but looks ugly when it goes wrong
  .gallery-caption-text {
    @include font-size($s-text-smaller);
    @include rem('padding', 0 $gallery-padding + 5px 0 $gallery-padding );
    @include reverse-italics;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    opacity: 0;
    position: absolute;
      top: 0;
      z-index: 5;
    text-align: center;
    text-shadow: 0px 1px rgba(#000, 0.75);
    transition: opacity .3s ease;
    width: 100%;
  }
}

// Generate columns
@for $i from 1 to 11 {
  .gallery-columns-#{$i} .gallery-item {
    width: percentage(1/($i));
  }
}
