// === GENERAL === //

// Core
body {
  @include font-sizer($font-size);
  color: $c-body;
  background-color: $c-body-bg;
  font-family: $font-body;
  text-rendering: optimizeLegibility;
}
h1,h2,h3,h4,h5,h6 {
  color: $c-head;
  font-family: $font-head;
  text-transform: uppercase;
}
h1 { @include font-sizer(30); }
h2 { @include font-sizer(27); }
h3 { @include font-sizer(24); }
h4 { @include font-sizer(21); }
h5 { @include font-sizer(18); }
h6 { @include font-sizer(15); }
code,
kbd,
pre,
samp,
tt,
var {
  font-family: $font-mono;
}



// Links
a {
  color: $c-link;
  text-decoration: none;
  &:visited {
    color: $c-link-v;
  }
  &:hover {
    color: $c-link-h;
    outline: 0; // Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test
    text-decoration: underline;
  }
  &:active {
    color: $c-link-a;
    outline: 0;
  }
  &:focus {
    color: $c-link-f;
  }
}



// Reset-like things with variables or WordPress-specific styling
abbr,
acronym {
  border-bottom: $divider;
  color: $c-abbr;
  line-height: 0;
  &:hover {
    cursor: help;
  }
}
address {
  @extend %spacer-below;
  display: block;
  font-style: normal; // Italic is sometimes a bit harder to read
  &::first-line {
    font-weight: bold;
  }
}
del {
  color: $c-del;
}
ins {
  @include highlight($c-ins-bg);
  text-decoration: none;
}
hr {
  @include rem('margin-top', $spacer/2, 1);
  @include rem('margin-bottom', $spacer/2);
  background-color: $c-hr;
  border: 0;
  height: 1px;
}



// Pre and code blocks
code,
kbd,
tt,
var {
  display: inline;
  line-height: 0; // Fixes vertical rhythm for oversized monospaced fonts
}



// Form elements
button,
input,
textarea {
  @include border-radius();
  @include font-sizer(14, 8);
  @include rem('padding', 3px);
  border: $divider;
  color: lighten($c-body, 23);
  font-family: inherit;
  &:focus {
    background-color: darken($c-site-bg, 3);
  }
}
.menu-toggle,
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
