// === GENERAL === //

// Core
body {
  @include font-sizer($font-size);
  color: $c-body;
  background-color: $c-body-bg;
  font-family: $font-body;
  text-rendering: optimizeLegibility;
}
h1,h2,h3,h4,h5,h6 {
  color: $c-head;
  font-family: $font-head;
  text-transform: uppercase;
}
h1 { @include font-sizer(30); }
h2 { @include font-sizer(27); }
h3 { @include font-sizer(24); }
h4 { @include font-sizer(21); }
h5 { @include font-sizer(18); }
h6 { @include font-sizer(15); }
code,
kbd,
pre,
samp,
tt,
var {
  font-family: $font-mono;
}



// Links
a {
  color: $c-link;
  text-decoration: none;
  &:visited {
    color: $c-link-v;
  }
  &:hover {
    color: $c-link-h;
    outline: 0; // Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test
    text-decoration: underline;
  }
  &:active {
    color: $c-link-a;
    outline: 0;
  }
  &:focus {
    color: $c-link-f;
  }
}



// Reset-like things with variables or WordPress-specific styling
abbr,
acronym {
  border-bottom: $divider;
  color: $c-abbr;
  line-height: 0;
  &:hover {
    cursor: help;
  }
}
address {
  @include rem('margin', 0 0 $spacer);
  display: block;
  font-style: normal; // Italic is sometimes a bit harder to read
  &::first-line {
    font-weight: bold;
  }
}
del {
  color: $c-del;
}
ins {
  @include highlight($c-ins-bg);
  text-decoration: none;
}
hr {
  @include rem('margin-bottom', $spacer);
  background-color: $c-hr;
  border: 0;
  height: 1px;
}



// Pre and code blocks
code,
kbd,
tt,
var {
  display: inline;
  line-height: 0; // Fixes vertical rhythm for oversized monospaced fonts
}



// Blockquote and quotations
blockquote {
  @include border-radius(12px);
  @include box-shadow-layered(inset 4px 4px 8px #eee, 1px 1px 4px #eee);
  @include rem('margin', 0 0 $spacer 0);
  @include rem('padding', $spacer $spacer 0);
  background: $c-blockquote-bg;
  color: $c-blockquote;
  display: block;
  font-style: italic;
  p {
    @include rem('padding-bottom', $spacer); // Padding is used instead of margins because of the blockquote background
    margin-bottom: 0;
    // Add opening and closing quotation marks to the blockquote element
    &:first-child::before {
      content: "\201C";
    }
    // Correctly adds quotation mark when footer or cite elements are present at the end of the blockquote
    &:nth-last-of-type(1)::after {
      content: "\201D";
    }
  }
  footer {
    @include font-sizer(16);
    @include rem('padding-bottom', $spacer);
    display: block;
    font-style: normal;
    text-align: right;
    &:before {
      content: "\2014\00a0"; // "\2015" is a "horizontal bar" or "quotation dash" meant to introduce a quotation, not a citation
    }
  }
}
q {
  quotes: none;
  &:before {
    content: "\201C";
  }
  &:after {
    content: "\201D";
  }
}



// Form elements
button,
input,
textarea {
  @include border-radius();
  @include font-sizer(14, 8);
  @include rem('padding', 3px);
  border: $divider;
  color: lighten($c-body, 23);
  font-family: inherit;
  &:focus {
    background-color: darken($c-site-bg, 3);
  }
}
.menu-toggle,
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}



// === HELPERS === //

// Clearfix; activate with @extend %clearfix;
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
