// === HEADER === //
.site-header {
  @include rem('margin-bottom', $spacer*2, 1);
  @include rem('margin-top', $spacer);
  h1,
  h2 {
    text-align: center;
    @media screen and (min-width: 600px) {
      text-align: left;
    }
    a {
      color: $c-site-header;
      display: inline-block;
      text-decoration: none;
      &:hover {
        color: $c-link-h;
      }
    }
  }
  h1 {
    @include font-sizer(24);
    @media screen and (min-width: 600px) {
      @include font-sizer(32);
    }
  }
  h2 {
    color: lighten($c-site-header, 50);
    display: none;
    font-weight: normal;
    @include font-sizer(14);
    @media screen and (min-width: 600px) {
      display: block;
    }
  }
  img.avatar {
    display: none;
    float: left;
    @include rem('margin-right', $spacer/2);
    @include rem('margin-top', $spacer/2);
    border-bottom-left-radius: 3px;
  }
}
.header-image {
  margin-top: 0;
}
img.header-image {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: none;
}
.site-header .site-title, .site-header .site-description {
  clear: none;
}
.with-header-image {
  @media screen and (min-width: 600px) {
    position: absolute;
    bottom: 0px;
    left: 0px;
    max-width: 66%;
    max-height: 96px;
    background: #fff;
    @include rem('padding-right', $spacer);
    border-top-right-radius: 3px;
  }
}
.with-header-image img.avatar {
  @media screen and (min-width: 600px) {
    display: block;
  }
}