/* === IMAGE ATTACHMENTS === */

.article.attachment {
  overflow: hidden;
}
.image-attachment {
  div.attachment {
    text-align: center;
    p {
      text-align: center;
    }
    img {
      display: block;
      height: auto;
      margin: 0 auto;
      max-width: 100%;
    }
  }
}
.image-attachment .entry-caption {
  @include rem('margin-top', $spacer/3);
}
.image-info {
  @include rem('margin-top', $spacer, 1);
  @include rem('padding-top', $spacer);
  border-top: $divider;
  overflow: hidden;
}
.image-description {
  color: #777;
  @include font-sizer(13);
}
.image-navigation {
  @include rem('margin', $spacer 0);
  @include rem('padding-top', $spacer);
  height: 150px;
  position: relative;
  overflow: visible;
  width: 100%;
}
.previous-image {
  float: left;
  line-height: 150px;
  text-align: left;
  width: 30%;
}
.return-gallery {
  display: none;
  float: left;
  line-height: 150px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 40%;
}
.next-image {
  float: right;
  line-height: 150px;
  text-align: right;
  width: 30%;
}
.previous-image img,
.next-image img {
  display: none;
}
.previous-image img {
  float: left;
}
.next-image img {
  float: right;
}
.return-gallery,
.nav-text {
  font-size: 100%;
  font-weight: bold;
}
.attachment-image-navigation {
  @include border-radius();
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.image-navigation a {
  text-decoration: none;
}

@media screen and (min-width: $break-medium) {
  .return-gallery {
    display: block;
  }
}

@media screen and (min-width: $break-large) {
  // Image navigation
  .previous-image img,
  .next-image img {
    display: block;
  }
  .previous-image .nav-text {
    @include rem('margin-left', $spacer/2);
  }
  .next-image .nav-text {
    @include rem('margin-right', $spacer/2);
  }
}