// ==== INTERFACE ==== //

// This partial is meant to contain all user interface elements: buttons, menus, and so on

// Button styling adapted from Twenty Twelve
button,
.button a,
input[type="submit"],
input[type="button"],
input[type="reset"],
#cancel-comment-reply-link {
  @include border-radius;
  @include box-shadow(0 1px 2px rgba(64, 64, 64, .1));
  @include font-button;
  @include font-size($s-text-smaller, 4);
  @include gradient-vertical($d-gradient-1, $d-gradient-2);
  @include rem('padding', 0 $spacer/4);
  border: $d-interface;
  color: lighten($c-body, 17);
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-decoration: none;
  vertical-align: middle;
  &:hover {
    @include gradient-vertical(lighten($d-gradient-1, 3), lighten($d-gradient-2, 1));
    color: lighten($c-body, 13);
  }
  &:active {
    @include box-shadow-layered(inset 0 2px 3px 0 #c6c6c6, 0 1px 2px rgba(64, 64, 64, .1));
    @include gradient-vertical(darken($d-gradient-1, 7), lighten($d-gradient-2, 1));
    border-color: 1px solid darken($c-body-bg, 8);
    color: lighten($c-body, 37);
  }
  &:focus {
    outline: none; // Blue border is rather distracting
  }
}



// Site interface: the toolbar/menu at top right
#site-interface {
  display: block;
  position: absolute;
    // Spacing needs to match the spacing in the layout-box mixin in the custom library
    @include rem('right', $spacer);
    @include rem('top', $spacer);
    @include respond-to(medium) {
      @include rem('right', $spacer*1.5);
    }
}



// Menu toggle for mobile phones and small screens
#responsive-menu-toggle {
  @include respond-to(medium) {
    display: none;
  }
  &.toggled {
    @extend button:active;
  }
}



// Button dropdown menu; to be applied to a button
.button-dropdown-container {
  position: relative;
  &:hover {
    // @TODO: change button styling
    @include border-radius(3px 3px 0 0);
    > ul {
      opacity: 1;
      transition: opacity .09s ease-in;
      visibility: visible;
    }
  }
}
ul.button-dropdown {
  @include menu-dropdown;
  @include border-radius(4px 0 4px 4px);
  margin-right: -1px; // Border offset
  opacity: 0;
  position: absolute;
    right: 0;
    top: 100%;
  transition: opacity .2s ease-out; // @TODO: fix this, it's not working
  visibility: hidden;
  z-index: 999;
  li {
    &:first-child a {
      @include border-radius(3px 0 0 0);
    }
    display: block;
    margin: 0;
    text-align: left;
    white-space: nowrap;
    width: 100%;
    a {
      display: block;
    }
  }
}
