// ==== INTERFACE ==== //

// This partial is meant to contain all user interface elements: buttons, menus, and so on

// Button styling adapted from Twenty Twelve
button,
.button a,
input[type="submit"],
input[type="button"],
input[type="reset"],
#cancel-comment-reply-link {
  @include border-radius;
  @include box-shadow(0 1px 2px rgba(64, 64, 64, 0.1));
  @include font-button;
  @include font-size($s-text-smaller, 4);
  @include gradient-vertical($d-gradient-begin, $d-gradient-end);
  @include rem('padding', 0 $spacer/4);
  border: 1px solid darken($c-body-bg, 17);
  color: lighten($c-body, 17);
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-decoration: none;
  vertical-align: middle;
  &:hover {
    @include gradient-vertical(lighten($d-gradient-begin, 3), lighten($d-gradient-end, 1));
    color: lighten($c-body, 13);
  }
  &:active {
    @include box-shadow-layered(inset 0 2px 3px 0 #c6c6c6, 0 1px 2px rgba(64, 64, 64, 0.1));
    @include gradient-vertical(darken($d-gradient-begin, 7), lighten($d-gradient-end, 1));
    border-color: 1px solid darken($c-body-bg, 8);
    color: lighten($c-body, 37);
  }
  &:focus {
    outline: none; // Blue border is rather distracting
  }
}



// Site interface: the toolbar/menu at top right
#site-interface {
  display: block;
  position: absolute;
    @include rem('right', $spacer);
    @include rem('top', $spacer);
    @media screen and (min-width: $break-medium) {
      @include rem('right', $spacer*1.5);
    }
}



// Menu toggle for mobile phones
#responsive-menu-toggle {
  @media screen and (min-width: $break-medium) {
    display: none;
  }
  &.toggled {
    @extend button:active;
  }
}



// Dashicons
.dashicons,
.dashicons-before:before {
  display: inline-block;
  font-family: dashicons;
  height: auto;
  line-height: 0;
  margin: 0;
  padding: 0;
  //transition: color .1s ease-in 0; // @TODO: make transitions much smoother
  vertical-align: -0.15em;
  width: auto;
  .button & {
    font-size: $s-text-smaller+0px;
  }
}
