// === LAYOUT === //

// Site
.site {
  @include box-shadow-layered( 0 2px 6px rgba(100, 100, 100, 0.3), inset 0 -3px 12px #ddd );
  @include rem('padding', 0 $spacer);
  background-color: $c-site-bg;
  @media screen and (min-width: 600px) {
    @include rem('padding', 0 $spacer*1.5);
    margin: 0 auto;
    max-width: $site-width;
    overflow: hidden;
  }
}
.site-content {
  @media screen and (min-width: 600px) {
    float: left;
    width: percentage( $content-width / $site-width );
  }
}



// Header
.site-header {
  @include rem('margin-bottom', $spacer*2, 1);
  @include rem('padding-top', $spacer);
  h1,
  h2 {
    text-align: left;
    a {
      color: $c-site-header;
      display: inline-block;
      text-decoration: none;
      &:hover {
        color: $c-link-h;
      }
    }
  }
  h1 {
    @include font-sizer(28);
  }
  h2 {
    color: lighten($c-site-header, 47);
    display: none;
    font-weight: normal;
    @include font-sizer(14);
    @media screen and (min-width: 600px) {
      display: block;
    }
  }
}
.site-header .site-title,
.site-header .site-description {
  clear: none;
}



// Small headers
.archive-title,
.page-title,
.widget-title,
.entry-content th,
.comment-content th {
  @include font-sizer(12);
  font-weight: bold;
  text-transform: uppercase;
}



// Archives
.archive-header,
.page-header {
  @include rem('margin-bottom', $spacer*2, 1);
  @include rem('padding-bottom', $spacer);
  border-bottom: $divider;
}
.archive-meta {
  @include font-sizer(14);
  color: lighten($c-body, 14);
}



// Footer
.site-footer {
  @include font-sizer(12);
  @include rem('margin-top', $spacer, 1);
  @include rem('max-width', $site-width);
  @include rem('padding', $spacer/2 0);
  @extend %clearfix;
  border-top: $divider;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  a {
    color: lighten($c-body, 14);
    &:hover {
      color: $c-link-h;
    }
  }
}



// Twenty Twelve legacy styles
body.attachment .site-content,
body.full-width .site-content {
  @media screen and (min-width: 600px) {
    width: 100%;
  }
}

