// ==== LAYOUT ==== //

// == SITE == //
.site {
  @include rem('padding', 0 $spacer);
  background-color: $c-site-bg;
  @media screen and (min-width: $break-medium) {
    @include rem('padding', 0 $spacer*1.5);
    margin: 0 auto;
    max-width: $content-width;
    overflow: hidden;
  }
}
.site-content {
  max-width: $content-width;
  @media screen and (min-width: $break-single-column) {
    float: left;
    width: percentage( $main-width / $content-width );
  }
  // Full-width layouts as specified in `pendrell/lib/various.php`
  body.full-width & {
    width: 100%;
  }
}



// == HEADER == //
.site-header {
  @include rem('margin-bottom', $spacer*2, 1);
  @include rem('padding-top', $spacer);
  .site-title,
  .site-description {
    @extend %clearfix;
    text-align: left;
  }
  .site-title {
    @include font-sizer(21);
    @media screen and (min-width: $break-medium) {
      @include font-sizer(36);
    }
    a {
      color: $c-site-header;
      display: inline-block;
      text-decoration: none;
      &:hover {
        color: $c-link-h;
      }
    }
  }
  .site-description {
    @include font-sizer(12);
    color: lighten($c-site-header, 47);
    display: none;
    // Everything looks much nicer without the description but it should remain in the markup for SEO purposes
    //@media screen and (min-width: $break-medium) {
    //  display: block;
    //}
  }
}



// == FOOTER == //
.site-footer {
  @include rem('margin-top', $spacer, 1);
  @include rem('max-width', $content-width);
  @include rem('padding', $spacer/2 0);
  @extend %clearfix;
  border-top: $divider;
  a {
    color: lighten($c-body, 14);
    &:hover {
      color: $c-link-h;
    }
  }
}
.site-footer-buttons {
  @include button-div();
  display: block;
  @media screen and (min-width: $break-medium) {
    display: none;
  }
}
.site-footer-info {
  @include font-sizer(12);
}
