// === LAYOUT === //

.site {
  background: $c-site-bg;
  @if $dev == true {
  		@include baseline-grid-background($base-line-height * $base-factor);
  }
  @include respond-to(s) {
		padding: 0 c-spacing(1);
	}
	@include respond-to(m) {
		max-width: 960px;
		overflow: hidden;
		padding: 0 c-spacing(2);
	}
	@include respond-to(l) {
		@include box-shadow( 0 2px 6px rgba(100, 100, 100, 0.3) );
		margin: 0 auto 0 auto;
		padding: 0 c-spacing(2);
	}
}
.site-content {
	margin: 0;
}
.site-footer {
	clear: both;
	margin-bottom: 3em;
	width: 100%;
}



// === Site header === //
.site-header {
	padding-top: c-spacing(1);
	h1,
	h2 {
		text-align: center;
		a {
			display: inline-block;
			text-decoration: none;
		}
	}
	h1 {
		@include c-font-size(2);
	}
	h2 {
		@include c-font-size(4);
	}
}
.header-image {
	margin-top: c-spacing(1);
}



// === Small headers === //
.archive-title,
.page-title,
.widget-title,
.entry-content th,
.comment-content th {
	@include c-font-size(6);
	color: $c-header-small;
	font-weight: bold;
	text-transform: uppercase;
}



// Layout: content
@if $layout == content {
	#primary {
		width: 100%;
	}
	#secondary {
		width: 100%;
	}
}

// Layout: content-sidebar
@else if $layout == content-sidebar {
	#primary {
		float: left;
		margin: 0 -25% 0 0;
		width: 100%;
	}
	#content {
		margin: 0 25% 0 0;
		padding-right: c-spacing();
	}
	#secondary { // Sidebar 1
		float: right;
		overflow: hidden;
		width: 25%;
	}
	#tertiary { // Sidebar 2
		clear: right;
	}
}

// Layout: sidebar-content
@else if $layout == sidebar-content {
	#primary {
		float: right;
		margin: 0 0 0 -25%;
		width: 100%;
	}
	#content {
		margin: 0 0 0 25%;
	}
	#secondary { // Sidebar 1
		float: left;
		overflow: hidden;
		width: 25%;
	}
	#tertiary { // Sidebar 2
		clear: left;
	}
}

@if $layout != null {
	.site-footer {
		@include c-font-size(6);
		border-top: 1px solid $c-site-border;
		clear: both;
		width: 100%;
	}
}
