// ==== MEDIA ==== //

// == CAPTIONS == //
.wp-caption {
  @extend %spacer-below;
  max-width: 100%; // Keep wide captions from overflowing their containers
}
.wp-caption .wp-caption-text,
.entry-caption {
  @include font-size($s-text-small);
  @include reverse-italics;
  color: $c-caption;
}



// == IMAGE METADATA == //
.image-info {
  @extend %spacer-above;
  @include rem('padding-top', $spacer, 1);
  border-top: $d-divider;
}
.image-description {
  @include font-size($s-text-small);
}



// == IMAGE LAYOUT == //

// Isolating these declarations from content.scss reduces bloat
figure.wp-caption {
  overflow: auto; // Without this the floats won't float
}

// We are only concerned with images in posts, not comments
figure.wp-caption,
.entry-content p img {

  // Responsive margins
  &.alignleft {
    margin-right: percentage($spacer/$content-width);
  }
  &.alignright {
    margin-left: percentage($spacer/$content-width);
  }
  &.alignnone { // @TODO: fix known issue, aligncenter class not working on captioned images
    margin-left: 0;
    margin-right: 0;
  }

  // Responsive partial-width images
  &.size-third,
  &.size-third-square,
  &.size-third-width, // Below: compatibility with old Pendrell styling; may be removed on fresh installs
  &.size-medium-third,
  &.size-medium-third-cropped {
    width: percentage((1-(($spacer/$content-width)*2))/3); // 31.25%
  }
  &.size-half,
  &.size-half-square,
  &.size-half-width, // Below: compatibility with old Pendrell styling; may be removed on fresh installs
  &.size-medium-half,
  &.size-medium-half-cropped {
    width: percentage((1-(($spacer/$content-width)))/2); // 48.4375%
  }
  // Ugly hack: clear some of the elements likely to come after image layout in a post
  & + p,
  & + h1,
  & + h2,
  & + h3,
  & + blockquote,
  & + div,
  & + pre {
    @extend %clearfix-above;
  }
}