// ==== MEDIA ==== //

// Captions
.wp-caption {
  max-width: 100%; // Keep wide captions from overflowing their containers
}
.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
  @include font-sizer(14);
  color: $c-caption;
  font-style: italic;
}



// Emoticons; should be destroyed
img.wp-smiley,
.rsswidget img {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  display: inline;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  vertical-align: baseline;
}



// Galleries;
// @TODO: revise this section and check for link borders
// @TODO: account for vertical rhythm
// @TODO: border-radius isn't working; bottom corners are squished
// @TODO: quirky filter shifts a pixel around... something to do with image rendering
$gallery-padding: 5px;

.gallery {
  overflow: hidden;
  ul {
    line-height: 0;
    list-style: none;
    margin-right: -$gallery-padding;
  }
  .gallery-item {
    @include rem('padding-right', $gallery-padding);
    box-sizing: border-box; // Make everyone's life easier
    display: inline-block;
    margin: 0;
    position: relative;
    img {
      backface-visibility: hidden; // Prevents flicker
      padding-bottom: $gallery-padding;
      width: 100%;
      transition: all .5s ease-out;
    }
    &:hover {
      .gallery-caption {
        opacity: 1;
        transition: opacity .5s ease;
      }
      img {
        filter: brightness(75%) grayscale(100%);
        transition: all .3s ease-in;
      }
    }
  }
  .gallery-caption {
    //display: none; // Can't transition the display property
    @include rem('padding', 0 $gallery-padding + 5px 0 $gallery-padding );
    color: #fff;
    cursor: pointer;
    //display: block;
    font-family: $font-head;
    font-style: normal;
    max-width: 100%;
    opacity: 0;
    position: absolute;
      bottom: 0;
      top: 0;
      z-index: 5;
    text-align: center;
    text-transform: uppercase;
    transition: opacity .3s ease;
  }
}

// @TODO: media query to remove a column on smaller screens
@for $i from 2 to 6 {
  .gallery-columns-#{$i} .gallery-item {
    width: percentage(1/($i));
  }
}
