// ==== MENU ==== //

// Inline menu; used in header and footer navigation; should be applied to ol or ul elements
.inline-menu {
  @include list-floated($spacer);
  margin-bottom: 0;
  li {
    @include font-header;
    font-weight: 300;
    white-space: nowrap;
  }
  .current-menu-item > a,
  .current-menu-ancestor > a,
  .current_page_item > a,
  .current_page_ancestor > a {
    @include ghost;
    font-weight: 200;
  }
  @media screen and (max-width: $break-medium) {
    > li:hover > ul {
      @include hide-visually; // Don't bother displaying submenus on small screens
    }
  }
}



// Header menu; applied to a ul element
.menu-header {
  @include font-size($s-menu-header-sm);
  @include list-nested;
  display: none;
  &.toggled {
    display: block;
  }
  @media screen and (min-width: $break-medium) {
    @include font-size($s-menu-header);
    border-bottom: $d-divider; // Border for the whole menu
    display: block;
    width: 100%;

    // Primary menu items
    > li {
      @include rem('padding-bottom', $spacer/2, 1); // Padding list items rather than the whole list so submenus display properly

      // Styling specific to the first submenu
      > ul {
        margin-top: -$spacer/4; // Breaks vertical rhythm but gives a more natural look
        > li:first-child a {
          @include triangle; // Pseudo triangle on first submenu only
          border-color: $c-interface;
          &:hover {
            border-color: darken($c-sub-bg, 13); // Must match value below
          }
        }
      }

      // All submenus
      ul {
        @include menu-dropdown;
      }
    }
  }
}



// Footer menu
.menu-footer {
  @include link-stylist($c-menu-link, $c-menu-link, $c-menu-link-h, $c-menu-link, $c-menu-link, false);
  @include rem('padding-bottom', $spacer/2);
  @include rem('padding-top', $spacer/2, 1);
  border-top: $d-divider;
  li {
    @include font-size($s-menu-footer);
  }
  > li:hover > ul {
    @include hide-visually; // No submenus in the footer
  }
}
