// ==== MENU ==== //

// Inline menu; used in header and footer navigation; should be applied to ol or ul elements
.inline-menu {
  @include k-list-floated($spacer);
  margin-bottom: 0;
  li {
    @include font-header;
    font-weight: $w-light;
    white-space: nowrap;
  }
  @include k-media-below($b-medium) {
    > li:hover > ul {
      @include hide; // Don't bother displaying submenus on small screens
    }
  }
}



// Header menu; applied to a ul element
.menu-header {
  @include font-size($s-menu-header-sm);
  @include k-list-nested;

  // Toggle display with mobile-friendly menu button
  display: none;
  &.toggled {
    display: block;
  }

  // Link styling
  a:hover {
    color: $c-highlight;
  }

  // Immediate children link styling
  > .current-menu-item,
  > .current-menu-ancestor,
  > .current_page_item,
  > .current_page_ancestor {
    > a {
      color: lighten($c-link, 23);
      &:hover {
        color: lighten($c-link, 33);
      }
    }
  }

  // Submenu styling; placed here to avoid unnecessary nesting
  > li {

    // Styling specific to the first submenu
    > ul {
      display: none; // Only display submenus on larger screens
      margin-top: -$spacer/4; // Breaks vertical rhythm but gives a more natural look
      > li:first-child > a {
        @include triangle; // Pseudo triangle on first submenu only
        border-color: $c-interface;
        &:hover {
          border-color: darken($c-sub-bg, 13); // Must match value below
        }
      }
    }

    // Styling for all submenus
    ul {
      @include dropdown-menu;
    }
  }

  // Media query to enable all menu features on larger screens
  @include respond-to(medium) {
    @include font-size($s-menu-header);
    border-bottom: $d-divider; // Border for the whole menu
    display: block;
    width: 100%;
    > li {
      @include rem('padding-bottom', $spacer/2, 1); // Padding list items rather than the whole list so submenus display properly
      > ul {
        display: block;
      }
    }
  }
}



// Footer menu
.menu-footer {
  @include font-size($s-menu-footer);
  @include link-stylist($c-menu-link, $c-menu-link, $c-menu-link-h, $c-menu-link, $c-menu-link, $link-border: false);
  @include rem('padding-bottom', $spacer/2);
  @include rem('padding-top', $spacer/2, 1);
  border-top: $d-divider;

  // Immediate child link styling; temporarily removed as it doesn't really seem necessary
  /*.current-menu-item,
  .current-menu-ancestor,
  .current_page_item,
  .current_page_ancestor {
    > a {
      color: lighten($c-menu-link, 17);
      &:visited {
        color: lighten($c-menu-link, 17);
      }
      &:hover,
      &:active,
      &:focus {
        color: lighten($c-menu-link-h, 17);
      }
    }
  }*/

  // No submenus in the footer
  ul {
    @include hide;
  }
}
