// ==== NAVIGATION ==== //

// Buttons from Twenty Twelve; @TODO: totally redo all this garbage
.button a,
.menu-toggle,
input[type="submit"],
input[type="button"],
input[type="reset"],
article.post-password-required input[type=submit],
#cancel-comment-reply-link {
  @include border-radius;
  @include box-shadow(0 1px 2px rgba(64, 64, 64, 0.1));
  @include font-header;
  @include font-size($s-text-smaller, 4);
  @include rem('padding', 0 $spacer/4);
  @include gradient-vertical($d-gradient-begin, $d-gradient-end);
  border: 1px solid #d2d2d2;
  color: lighten($c-body, 22);
  display: inline-block;
  font-weight: 400;
  text-decoration: none;
  &:hover {
    @include gradient-vertical(#f9f9f9, #ebebeb);
    color: lighten($c-body, 13);
  }
  &:active {
    @include box-shadow-layered(inset 0 2px 3px 0 #c6c6c6, 0 1px 2px rgba(64, 64, 64, 0.1));
    @include gradient-vertical(#e1e1e1, #ebebeb);
    border-color: 1px solid #ebebeb;
    color: lighten($c-body, 37);
  }
}



// Menu toggle for mobile phones
.menu-toggle {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  @include rem('right', $spacer);
  @include rem('top', $spacer);
  @media screen and (min-width: $break-medium) {
    display: none;
  }
  &.toggled-on {
    @extend .menu-toggle:active;
  }
}



// Menu (general)
.inline-menu {
  margin-bottom: 0;
  @include link-stylist($c-menu-link, $c-menu-link, $c-menu-link-h, $c-menu-link, $c-menu-link, false);
  .current-menu-item > a,
  .current-menu-ancestor > a,
  .current_page_item > a,
  .current_page_ancestor > a {
    @include ghost;
    font-weight: 200;
  }
  ul {
    @include list-floated($spacer);
    @include list-nested;
    @media screen and (max-width: $break-medium) {
      // Don't bother displaying submenus on small screens
      & > li:hover > ul {
        display: none;
      }
    }
  }
  li {
    // Styling specific to Pendrell
    @include font-header;
    font-weight: 300;
    white-space: nowrap;
  }
}



// Header navigation
#menu-header {
  @include rem('margin-top', $spacer/2);
  ul.menu-header {
    border-bottom: $d-divider;
    display: none;
    @media screen and (min-width: $break-medium) {
      display: block;
      width: 100%;
    }
    &.toggled-on {
      display: block;
    }
  }
  li {
    @include font-size($s-menu-sub);
    @media screen and (min-width: $break-medium) {
      @include font-size($s-menu-header);
      line-height: $spacer*1.5; // Space out the header menu
      ul {
        // Submenu styling
        @include box-shadow(2px 2px 4px rgba(64, 64, 64, .05));
        li a {
          @include font-size($s-menu-sub, 1);
          @include rem('padding', 0 $spacer/4);
          background: $c-menu-bg;
          border-bottom: $d-divider;
          &:hover {
            background: darken($c-menu-bg, 3);
          }
        }
      }
    }
  }
}



// Footer menu
#menu-footer {
  @extend %spacer-below;
  // Don't bother displaying submenus in the footer; a bit of an anti-pattern but it's cleaner this way
  ul > li:hover > ul {
    display: none;
  }
  li {
    @include font-size($s-menu-footer);
  }
}



// General navigation
.page-links,
.page-navigation,
.post-navigation {
  @extend %clearfix;
  @extend %spacer-below;
  @include link-stylist($link-color: false);
}
.nav-above,
.nav-below {
  @include rem('margin-bottom', $spacer*3);
  &:first-child {
    @include rem('margin-bottom', $spacer);
  }
}
.nav-previous {
  float: left;
  width: 50%;
}
.nav-next {
  float: right;
  text-align: right;
  width: 50%;
}



// Breadcrumb navigation; used in Ubik's places and kept here since it can be used elsewhere
.breadcrumbs {
  @extend %spacer-below;
  li {
    @include font-size($s-text-smaller);
    display: inline-block;
    margin-left: 0;
    & + li::before {
      content: "\00a0\2192\00a0"; // Or perhaps you'd like to use a "greater than" symbol: \003e
    }
  }
}
