// === NAVIGATION === //

// Buttons from Twenty Twelve
.menu-toggle,
input[type="submit"],
input[type="button"],
input[type="reset"],
article.post-password-required input[type=submit],
.bypostauthor cite span {
  @include rem('padding', 4px 8px);
  @include font-sizer(13);
  font-weight: normal;
  color: lighten($c-font-body, 22);
  @include vertical-gradient($startColor: #f4f4f4, $endColor: #e6e6e6);
  border: 1px solid #d2d2d2;
  @include border-radius;
  @include box-shadow($shadow: 0 1px 2px rgba(64, 64, 64, .10));
}
.menu-toggle,
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
.menu-toggle:hover,
button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
article.post-password-required input[type=submit]:hover {
  color: lighten($c-font-body, 10);
  @include vertical-gradient($startColor: #f9f9f9, $endColor: #ebebeb);
}
.menu-toggle:active,
.menu-toggle.toggled-on,
button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
  color: lighten($c-font-body, 20);
  @include vertical-gradient($startColor: #ebebeb, $endColor: #e1e1e1);
  @include box-shadow-layered(inset 0 0 8px 2px #c6c6c6, 0 1px 0 0 #f4f4f4);
  border-color: transparent;
}



// Pendrell buttons
.button a {
  @include rem('padding', 4px 8px);
  @include font-sizer(13);
  font-weight: normal;
  color: lighten($c-font-body, 22);
  @include vertical-gradient($startColor: #f4f4f4, $endColor: #e6e6e6);
  border: 1px solid #d2d2d2;
  @include border-radius;
  @include box-shadow($shadow: 0 1px 2px rgba(64, 64, 64, .10));
  cursor: pointer;
  text-decoration: none;
}
.button a:hover {
  color: lighten($c-font-body, 10);
  @include vertical-gradient($startColor: #f9f9f9, $endColor: #ebebeb);
}
.button a:active {
  color: lighten($c-font-body, 20);
  @include vertical-gradient($startColor: #ebebeb, $endColor: #e1e1e1);
  @include box-shadow-layered(inset 0 0 8px 2px #c6c6c6, 0 1px 0 0 #f4f4f4);
  border: none;
}



// General navigation
.site-content nav {
  clear: both;
  line-height: ($evbase/12);
  overflow: hidden;
}
#nav-above {
  @include rem('padding', $vbase 0);
}
#nav-above {
  display: none;
}
.paged #nav-above {
  display: block;
}
.nav-previous,
.previous-image {
  float: left;
  width: 50%;
}
.nav-next,
.next-image {
  float: right;
  text-align: right;
  width: 50%;
}
.nav-single + .comments-area,
#comment-nav-above {
  @include rem('margin', $vbase2 0);
}



// Main navigation
.main-navigation {
  text-align: center;
  li {
    @include rem('margin-top', $vbase);
    @include font-sizer(14);
  }
  a {
    color: $c-menu-link;
    &:hover {
      color: $c-menu-link-h;
    }
  }
  ul.nav-menu,
  div.nav-menu > ul {
    display: none;
  }
  ul.nav-menu.toggled-on {
    display: inline-block;
  }
}
.menu-toggle {
  display: inline-block;
}
