// ==== NAVIGATION ==== //

// Buttons from Twenty Twelve
.button a,
.menu-toggle,
input[type="submit"],
input[type="button"],
input[type="reset"],
article.post-password-required input[type=submit],
#cancel-comment-reply-link {
  @include border-radius;
  @include box-shadow(0 1px 2px rgba(64, 64, 64, 0.1));
  @include font-sizer(12, 2);
  @include rem('padding', 0 $spacer/4);
  @include vertical-gradient($startColor: #f4f4f4, $endColor: #e6e6e6);
  border: 1px solid #d2d2d2;
  color: lighten($c-body, 22);
  display: inline-block;
  font-family: $font-head;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    @include vertical-gradient($startColor: #f9f9f9, $endColor: #ebebeb);
    color: lighten($c-body, 13);
  }
  &:active {
    @include box-shadow-layered(inset 0 2px 3px 0 #c6c6c6, 0 1px 2px rgba(64, 64, 64, 0.1));
    @include vertical-gradient($startColor: #e1e1e1, $endColor: #ebebeb);
    border-color: 1px solid #ebebeb;
    color: lighten($c-body, 37);
  }
}



// Menu toggle for mobile phones
.menu-toggle {
  display: inline-block;
  position: absolute;
  @include rem('right', $spacer);
  @include rem('top', $spacer);
  @media screen and (min-width: $break-medium) {
    display: none;
  }
}
.menu-toggle.toggled-on {
  @extend .menu-toggle:active;
}



// Menu (general)
.inline-menu {
  font-family: $font-head;
  text-transform: uppercase;
  a {
    color: $c-menu-link;
    text-decoration: none;
    &:hover {
      color: $c-menu-link-h;
    }
  }
  .current-menu-item > a,
  .current-menu-ancestor > a,
  .current_page_item > a,
  .current_page_ancestor > a {
    color: $c-menu-current;
  }
  li {
    @include font-sizer(14);
    @include rem('margin', 0 $spacer 0 0);
    display: inline-block;
    position: relative;
    // Don't bother displaying secondary and tertiary menu items on small screens
    ul {
      display: none;
    }
  }
}



// Header navigation
#menu-header {
  @include rem('margin-top', $spacer/2);
  ul.menu-header {
    border-bottom: $divider;
    display: none;
    margin: 0;
    text-indent: 0;
    @media screen and (min-width: $break-medium) {
      display: inline-block;
      width: 100%;
    }
  }
  ul.menu-header.toggled-on {
    display: inline-block;
  }
  a {
    @media screen and (min-width: $break-medium) {
      line-height: $spacer*1.5;
      white-space: nowrap;
    }
  }
  @media screen and (min-width: $break-medium) {
    li {
      ul {
        @include box-shadow(2px 2px 5px rgba(64, 64, 64, 0.05));
        margin: 0;
        padding: 0;
        position: absolute;
        top: 100%;
        z-index: 1;
        ul {
          top: 0;
          left: 100%;
        }
        li {
          display: block;
          margin: 0;
          white-space: normal;
          a {
            @include font-sizer(12, 1);
            @include rem('padding', 0 $spacer/4);
            background: $c-menu-bg;
            border-bottom: $divider;
            display: block;
            &:hover {
              background: darken($c-menu-bg, 3);
            }
          }
        }
      }
    }
    ul li:hover > ul {
      border-left: 0;
      display: block;
    }
  }
}



#menu-footer {
  @extend %spacer-below;
}



// General navigation
.site-content nav,
.page-links,
.page-navigation {
  @extend %clearfix;
  @extend %spacer-below;
}
#nav-below {
  @include rem('margin-bottom', $spacer*2);
}
.nav-previous {
  float: left;
  width: 50%;
}
.nav-next {
  float: right;
  text-align: right;
  width: 50%;
}



// Breadcrumb navigation; used in Ubik's places and kept here since it can be used elsewhere
nav.breadcrumbs {
  @extend %spacer-below;
  li {
    display: inline-block;
    margin-left: 0;
    & + li:before {
      content: "\00a0\2192\00a0"; // Or perhaps you'd like to use a "greater than" symbol: \003e
    }
  }
}