// ==== PORTFOLIO ==== //

// @TODO: completely revamp this section

// Based on styling from Hatch
.portfolio.archive {
  header h1.entry-title,
  footer .entry-meta {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /* The following SHOULD work but it doesn't; hack it with padding instead
    overflow-x: hidden;
    overflow-y: visible; */
  }
  header h1.entry-title {
    @include font-sizer(16);
    padding-bottom: 2px;
  }
  header.entry-header {
    margin: 0;
  }
  footer.entry-meta {
    margin: 0;
  }
  /* Modified by media queries (below) */
  .portfolio.archive .hentry {
    @extend %spacer-below;
    max-height: 300px;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 2.5%;
  }
}

// Responsive half-width images, mainly for use in portfolios
.size-medium-465,
.size-medium-465-cropped {
  width: percentage( ( ( $site-width - $spacer ) / 2 ) / $site-width );
}
.size-medium-465.alignleft,
.size-medium-465-cropped.alignleft,
.size-medium-300.alignleft,
.size-medium-300-cropped.alignleft {
  @include rem('margin', 0 $spacer $spacer 0);
}
.size-medium-465.alignright,
.size-medium-465-cropped.alignright,
.size-medium-300.alignright,
.size-medium-300-cropped.alignright {
  @include rem('margin', 0 0 $spacer $spacer);
}
.size-medium-300,
.size-medium-300-cropped {
  width: percentage( ( ( $site-width - ( $spacer * 2 ) ) / 3 ) / $site-width );
}



// Portfolio media queries
@media screen and (min-width: 350px) {
  .portfolio.archive .hentry {
    float: left;
    width: 47.6190476%;
    margin: 0 4.7619048% 24px 0;
  }
  .portfolio.archive .hentry.divisible-by-2,
  .portfolio.archive .hentry.divisible-by-2.divisible-by-3 {
    margin-right: 0;
  }
  .portfolio.archive .hentry.divisible-by-3 {
    margin-right: 4.7619048%;
  }
}
@media screen and (min-width: 680px) {
  .portfolio.archive .hentry {
    @include rem('margin', 0 $spacer $spacer 0);
    float: left;
    width: 31.25%;
  }
  .portfolio.archive .hentry.divisible-by-2 {
    @include rem('margin-right', $spacer);
  }
  .portfolio.archive .hentry.divisible-by-3,
  .portfolio.archive .hentry.divisible-by-3.divisble-by-2 {
    margin-right: 0;
  }
  .portfolio.archive header h1.entry-title {
    @include font-sizer(21);
    padding-bottom: 4px;
  }
}