// ==== PRISM ==== //

// Prism syntax highlighting by Lea Verou; based on http://dabblet.com
// This is a stripped down version of the default Prism theme

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: $prism-comment;
}

.token.punctuation {
  color: $prism-punctuation;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: $prism-tag;
}

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
  color: $prism-selector;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: $prism-variable;
  background: hsla(0,0%,100%,.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: $prism-keyword;
}

.token.regex,
.token.important {
  color: $prism-regex;
}

.token.important {
  font-weight: 600;
}

.token.entity {
  cursor: help;
}
