// ==== LIGHT SCHEME FOR PENDRELL ==== //

// == FONTS == //
$font-body: $lato;
$font-head: $varela;
$font-mono: $consolas;

// Default font size and baseline (integer)
$font-size: 18;
$base: 30;



// == COLORS == //

// Body
$c-site-bg:       #fff;
$c-site-sh-1:     #bbb;
$c-site-sh-2:     #eee;
$c-body-bg:       $c-site-bg; //darken($c-site-bg, 5);

// Text
$c-body:          #484848;
$c-head:          darken($c-body, 13);
$c-meta:          lighten($c-body, 37);

// Links
$c-link:          #429ab2;
$c-link-v:        saturate(lighten($c-link, 8), 8);
$c-link-h:        #ED7251;
$c-link-a:        saturate(lighten($c-link, 13), 13);
$c-link-f:        saturate(lighten($c-link, 8), 8);

// Main menu
$c-menu-link:     lighten($c-body, 17);
$c-menu-link-h:   lighten($c-menu-link, 23);
$c-menu-current:  darken($c-menu-link, 27);
$c-menu-bg:       darken($c-site-bg, 3);

// Elements: mostly defined in _general.scss
$c-abbr:          lighten($c-body, 13);
$c-blockquote:    lighten($c-body, 13);
$c-blockquote-bg: #f8f8f8;
$c-code:          lighten($c-body, 13);
$c-code-bg:       darken($c-site-bg, 4);
$c-del:           lighten($c-body, 13);
$c-hr:            #ccc;
$c-ins-bg:        #fff9c0;
$c-mark:          lighten($c-body, 19);
$c-mark-bg:       $c-ins-bg;
$c-pre:           darken($c-body, 23);
$c-table:         lighten($c-body, 19);

// Form states
$c-alert:         crimson;
$c-required:      crimson;
$c-success:       #a2bf68;

// Various
$c-caption:       lighten($c-body, 23);
$c-divider:       darken($c-body-bg, 7);
$c-highlight:     #eee;
$c-site-header:   #222;
$c-small-header:  lighten($c-body, 13);
$c-text-box:      lighten($c-body, 7);
$c-text-box-bg:   darken($c-site-bg, 5);
$c-text-box-sh:   darken($c-text-box-bg, 5);

// == PRISM == //
$prism-text:            $c-body;
$prism-comment:         lighten($prism-text, 43);
$prism-punctuation:     lighten($prism-text, 27);
$prism-tag:             adjust-hue($c-link, 270);//#905;
$prism-selector:        adjust-hue($prism-tag, 90);//#690;
$prism-variable:        adjust-hue($prism-tag, 270);//#a67f59;
$prism-keyword:         adjust-hue($prism-tag, 180);//#07a;
$prism-regex:           adjust-hue($prism-tag, 120);//#e90;

// Design patterns
$divider: 1px solid $c-divider;
