// === HELPERS === //

// Alignment
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



// Required: from Twenty Twelve, maybe used in comments
.required {
  color: red;
}


// Search result highlighter
.search-results mark {
  color: #fff;
  background: #bbb;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
  padding: 0.5%;
  margin: -0.5% -0.25% -0.5% -0.25%;
}



// Clearing
.clear:after,
.wrapper:after,
.format-status .entry-header:after {
  clear: both;
}
.clear:before,
.clear:after,
.wrapper:before,
.wrapper:after,
.format-status .entry-header:before,
.format-status .entry-header:after {
  display: table;
  content: "";
}



// jQuery pullquotes: enclose any text with <span class="pullquote"></span> and this style will be applied!
.pulledquote {
  color: #999;
  font-style: italic;
  @include font-sizer(18);
  float: right;
  max-width: 30%;
  /* still need this to play nice with existing vertical rhythm */
  margin: 0 0 12px 12px;
  padding: 20px 0 20px 0;
}



// Post series
.entry-meta-series {
  @include font-sizer(16);
  margin-bottom: 24px;
  margin-bottom: 1.714285714rem;
  ol {
    list-style: decimal inside;
  }
}



// Buttons
.button a {
  padding: 6px 10px;
  padding: 0.428571429rem 0.714285714rem;
  font-size: 12px;
  font-size: 0.857142857rem;
  line-height: 2;
  font-weight: normal;
  color: #7c7c7c;
  background-color: #e6e6e6;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);
  background-image: -ms-linear-gradient(top, #f4f4f4, #e6e6e6);
  background-image: -webkit-linear-gradient(top, #f4f4f4, #e6e6e6);
  background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6);
  background-image: linear-gradient(top, #f4f4f4, #e6e6e6);
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
  cursor: pointer;
  text-decoration: none;
}
.button a:hover {
  color: #5e5e5e;
  background-color: #ebebeb;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #f9f9f9, #ebebeb);
  background-image: -ms-linear-gradient(top, #f9f9f9, #ebebeb);
  background-image: -webkit-linear-gradient(top, #f9f9f9, #ebebeb);
  background-image: -o-linear-gradient(top, #f9f9f9, #ebebeb);
  background-image: linear-gradient(top, #f9f9f9, #ebebeb);
}
.button a:active {
  color: #777;
  background-color: #e1e1e1;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #ebebeb, #e1e1e1);
  background-image: -ms-linear-gradient(top, #ebebeb, #e1e1e1);
  background-image: -webkit-linear-gradient(top, #ebebeb, #e1e1e1);
  background-image: -o-linear-gradient(top, #ebebeb, #e1e1e1);
  background-image: linear-gradient(top, #ebebeb, #e1e1e1);
  box-shadow: inset 0 0 8px 2px #c6c6c6, 0 1px 0 0 #f4f4f4;
  border: none;
}



// Assistive text
.assistive-text,
.site .screen-reader-text {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}
.main-navigation .assistive-text:focus {
  background: #fff;
  border: 2px solid #333;
  border-radius: 3px;
  clip: auto !important;
  color: #000;
  display: block;
  font-size: 12px;
  padding: 12px;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 100000; /* Above WP toolbar */
}