// ==== VARIOUS ==== //

// Alignment
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.aligncenter {
  @extend %clearfix-below;
  @include scut-center-block;
  display: block;
}



// Clearing helper classes
.clear {
  @extend %clearfix-below;
}



// Form entry
.alert {
  color: $c-alert;
  font-weight: 600;
}
.alert-field {
  @include box-shadow(0 0 6px $c-alert);
  border: 1px solid $c-alert;
  outline: none;
}
.required {
  color: $c-required;
}
.success {
  color: $c-success;
}



// References list; for use with scholarly works
.references {
  @include font-sizer($h5);
  ol,
  ul {
    list-style: none;
  }
  li {
    @include scut-hanging-indent($spacer);
    margin: 0;
  }
}



// Assistive text; Twenty Twelve cruft
.assistive-text,
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
#menu-header .assistive-text:focus {
  @include border-radius;
  background: transparent;
  border: 2px solid #333;
  clip: auto !important;
  color: #000;
  display: block;
  padding: 12px;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 100000; // Above WP toolbar
}



// Something from Jetpack Markdown I want to take note of
//.entry-content > .footnotes,
//.entrytext > .footnotes,
//.hentry .footnotes > ol {
//  margin-top: 4em;
//}

//.entry-content > .footnotes > hr,
//.entrytext > .footnotes > hr,
//.hentry .footnotes > hr {
//  margin-right: 50%;
//}

//.entry-content > .footnotes > ol,
//.hentry .footnotes > ol {
//  font-size: 87.5%;
//}



// Hide that mysterious smiley face that appears when you use Jetpack
img#wpstats {
  @include scut-hide-visually;
}
