// ==== VARIOUS ==== //

// Alignment
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.aligncenter {
  @extend %clearfix-below;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



// Clearing helper classes
.clear {
  @extend %clearfix-below;
}



// Form entry
.alert {
  color: $c-alert;
  font-weight: 600;
}
.alert-field {
  @include box-shadow(0 0 6px $c-alert);
  border: 1px solid $c-alert;
  outline: none;
}
.required {
  color: $c-required;
}
.success {
  color: $c-success;
}



// Footnotes; for use with Markdown Extra
.footnotes {
  @include font-size($h4);
}



// References list; for use with scholarly works
.references {
  @include font-size($h5);
  ol,
  ul {
    list-style: none;
  }
  li {
    @include hanging-indent($spacer);
    margin: 0;
  }
}



// Screen reader text adapted from Twenty Twelve; @TODO: update and test this
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  #menu-header &:focus {
    @include border-radius;
    background: transparent;
    border: 2px solid #333;
    clip: auto !important;
    color: #000;
    display: block;
    padding: 12px;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 100000; // Above WP toolbar
  }
}



// Emoticons; should be destroyed
img.wp-smiley,
.rsswidget img {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  display: inline;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}



// Hide that mysterious smiley face that appears when you use Jetpack
img#wpstats {
  @include hide-visually;
}
