// ==== VIEWS ==== //

// View options
.view-options {
  display: none;
  @media screen and (min-width: $break-medium) {
    display: inline-block;
    button {
      position: relative;
      ul {
        @include menu-dropdown;
        @include border-radius(4px 0 4px 4px);
        margin-right: -1px; // Border offset
        opacity: 0;
        position: absolute;
          right: 0;
          top: 100%;
        transition: opacity .2s ease-out; // @TODO: fix this, it's not working
        visibility: hidden;
        z-index: 999;
        li {
          &:first-child a {
            @include border-radius(3px 0 0 0);
          }
          display: block;
          margin: 0;
          text-align: left;
          white-space: nowrap;
          width: 100%;
          a {
            display: block;
          }
        }
      }
      &:hover {
        // @TODO: change button styling
        @include border-radius(3px 3px 0 0);
        > ul {
          opacity: 1;
          transition: opacity .09s ease-in;
          visibility: visible;
        }
      }
    }
  }
}



// == GALLERY VIEW == //

.gallery-view {
  .site-main {
    img {
      @include border-radius;
      display: block;
    }
  }
  figure.wp-caption {
    @include image-overlay(".wp-caption-text", "title");
  }
}



// == LIST VIEW == //

.list-view {
  article {
    @include rem('margin-bottom', $spacer*2);
  }
  .entry-content-wrapper {
    margin-left: 150px + $spacer;
  }
  h1.entry-title {
    @include font-size-fw($s-header-sub, $s-text);
  }
}
.entry-thumbnail {
  position: absolute;
  img {
    @include border-radius;
  }
}



// == EXCERPT VIEW == //

// ?
