// === WIDGETS === //
.widget-title {
  @extend %small-headers;
}
.widget-area {
  @media screen and (min-width: $break-single-column) {
    float: right;
    width: percentage( $sidebar-width / $site-width );
  }
  .widget {
    @extend %spacer-below;
    word-wrap: break-word;
    p,
    li,
    .textwidget {
      @include font-sizer(14);
      color: lighten($c-body, 27);
    }
    p {
      @extend %spacer-below;
    }
    ul ul {
      @include rem('margin-left', $spacer/2);
    }
  }
  .textwidget {
    ul {
      @extend %spacer-below;
      list-style: disc outside;
    }
    li {
      @include rem('margin-left', $spacer);
    }
  }
  .widget_search {
    @include rem('margin-bottom', $spacer, 2); // Hack to deal with button alignment issues
    #s {
      width: 150px;
      @media screen and (min-width: $break-single-column) {
        width: percentage( 150px / $sidebar-width );
      }
    }
    #searchsubmit {
      vertical-align: middle;
    }
  }
}



// Twenty Twelve cruft
.widget_rss {
  li {
    @extend %spacer-below;
  }
}
.widget_recent_entries .post-date,
.widget_rss .rss-date {
  color: lighten($c-body, 40);
  @include rem('margin-left', $spacer/2);
}
#wp-calendar {
  @include font-sizer(13);
  color: lighten($c-body, 14);
  margin: 0;
  width: 100%;
  th,
  td,
  caption {
    text-align: left;
  }
  #next {
    @include rem('padding-right', $spacer);
    text-align: right;
  }
}
