// === WIDGETS === //
.widget-area {
  @media screen and (min-width: 600px) {
    float: right;
    width: percentage(250/960);
  }
  .widget {
    @include rem('margin-bottom', $spacer);
    word-wrap: break-word;
    p,
    li,
    .textwidget {
      @include font-sizer(14);
      color: lighten($c-body, 27);
    }
    p {
      @include rem('margin-bottom', $spacer);
    }
    ul ul {
      @include rem('margin-left', $spacer/2);
    }
  }
  .textwidget {
    ul {
      list-style: disc outside;
      @include rem('margin', 0 0 $spacer);
    }
    li {
      @include rem('margin-left', $spacer);
    }
  }
  .widget_search {
    @include rem('margin-bottom', $spacer, 2); // Hack to deal with button alignment issues
    #s {
      width: percentage(150/250);
    }
    #searchsubmit {
      vertical-align: middle;
    }
  }
}

// Twenty Twelve cruft
.widget_rss {
  li {
    @include rem('margin', $spacer/2 0);
  }
}
.widget_recent_entries .post-date,
.widget_rss .rss-date {
  color: lighten($c-body, 40);
  @include rem('margin-left', $spacer/2);
}
#wp-calendar {
  @include font-sizer(13);
  color: lighten($c-body, 14);
  margin: 0;
  width: 100%;
  th,
  td,
  caption {
    text-align: left;
  }
  #next {
    @include rem('padding-right', $spacer);
    text-align: right;
  }
}

// Cheap trick to lose the sidebar on full-width view; surely there is a better way
body.full-width,
body.single-format-aside,
body.single-format-link,
body.single-format-quote,
body.single-format-status {
  .widget-area,
  .nav-single {
    display: none;
  }
}