// ==== COLOURS ==== //

// Custom colours added to the standard library
$k-colours: map-merge( $k-colours, (
  norse-blue:     #5cb6cc,
  suomi-blue:     #559dd1,
  steel-sky:      #444547,
  jove:           #24221E
) );

// A few colour shortcuts (since we can't use the colour() function within the map)
$c-text:          k-colour(mako);
$c-body-bg:       grey(252);
$c-link:          k-colour(java);
$c-menu:          k-colour(emerald);
$c-highlight:     k-colour(jaffa);
$c-alternate:     k-colour(emerald);
$c-code:          k-colour(loblolly);
$c-muted:         k-colour(raven);

// General; @TODO: clean this up, there are many unused colours
$_colours: (
  body-bg:        $c-body-bg
, site-title:     $c-body-bg
, site-desc:      grey(156)
, highlight:      $c-highlight
, menu:           $c-menu
, interface:      grey(186)

  // Text
, text:           $c-text
, text-darkest:   darken( $c-text, 23 )
, text-darker:    darken( $c-text, 13 )
, text-dark:      darken( $c-text, 7 )
, text-light:     lighten( $c-text, 9 )
, text-lighter:   lighten( $c-text, 19 )
, text-lightest:  lighten( $c-text, 27 )
, text-muted:     $c-muted

  // Backgrounds
, body-dark:      darken( white(), 3 )
, body-darker:    darken( white(), 13 )
, body-darkest:   darken( white(), 27 )
, bg-body:        k-colour(shark)
, bg-header:      k-colour(mako)
, bg-sidebar:     k-colour(shark)
, bg-content:     white()
, bg-social:      k-colour(shark)
, bg-footer:      k-colour(mako)
, bg-date:        $c-code
, bg-cats:        k-colour(mako)
, bg-cats-h:      k-colour(java)
, bg-tags:        k-colour(raven)
, bg-tags-h:      k-colour(jaffa)

  // Links
, link:           $c-link
, link-v:         $c-link
, link-h:         $c-highlight //saturate( lighten( $c-link, 17 ), 7 )
, link-a:         saturate( lighten( $c-link, 13 ), 13 )
, link-f:         saturate( lighten( $c-link, 17 ), 7 )

  // Menus
, menu-link:      white()
, menu-link-h:    $c-highlight
, menu-current:   k-colour(shark)
, menu-sub:       lighten( k-colour(raven), 23 )
, menu-sub-h:     k-colour(raven)

  // Submenus
, sub:            lighten( $c-text, 17 )
, sub-h:          white()
, sub-bg:         darken( $c-body-bg, 13 )

  // Sidebar
, sidebar:        k-colour(mako)
, sidebar-h:      $c-highlight
, sidebar-link:   k-colour(raven)
, sidebar-link-h: k-colour(java)

  // Meta
, meta:           $c-code
, meta-date:      k-colour(mako)
, meta-link:      saturate( lighten( k-colour(raven), 9 ), 3% ) // Possibly unused
, meta-link-v:    grey(84)
, meta-link-h:    $c-highlight
, meta-link-a:    grey(84)
, meta-link-f:    grey(84)

  // Social
, social:         k-colour(java)
, social-h:       k-colour(jaffa)

  // Footer
, footer:         lighten( k-colour(raven), 23 )
, footer-link:    $c-body-bg
, footer-link-v:  grey(84)
, footer-link-h:  $c-highlight
, footer-link-a:  grey(84)
, footer-link-f:  grey(84)

  // Titles
, entry-title:    k-colour(jaffa)
, entry-title-h:  k-colour(eastern-blue)

  // Comments
, comment-link:   k-colour(raven)
, comment-link-h: $c-highlight
, comment-auth:   k-colour(jaffa)
, comment-auth-h: k-colour(eastern-blue)

  // Forms
, alert:          k-colour(milano-red)
, required:       k-colour(pueblo)
, success:        k-colour(atlantis)

  // Code blocks
, code:           k-colour(raven)
, code-bg:        rgba( #FAF9FC, .73 )
, code-box:       $c-code
, code-box-bg:    k-colour(shark)

  // Interface
, button:         k-colour(java)
, button-h:       k-colour(eastern-blue)
, button-alt:     k-colour(jaffa)
, divider:        rgba( $c-text, .09 ) // For use with <hr> etc.
, select-top:     grey(251)
, select-bottom:  grey(227)
, shadow-darkest: grey(8, .29)
, shadow-darker:  grey(24, .18)
, shadow-dark:    grey(96, .32)
, shadow-light:   grey(121, .12)
, shadow-lighter: grey(128, .07)
, text-input:     k-colour(mako)
, text-input-bg:  grey(248)

  // Various
, blockquote:     k-colour(raven)
, highlight-bg:   k-colour(lemon-chiffon)

  // Prism (optional)
, p-text:         $c-code
, p-comment:      k-colour(eastern-blue)
, p-punctuation:  k-colour(raven)
, p-tag:          grey(252)
, p-selector:     k-colour(jaffa)
, p-variable:     k-colour(java)
, p-keyword:      $c-alternate
, p-regex:        k-colour(atlantis)
);
