// ==== COLOURS ==== //

// Custom colours added to the standard library
$k-colours: map-merge( $k-colours, (
  norse-blue:     #5cb6cc,
  suomi-blue:     #559dd1,
  steel-sky:      #444547,
  jove:           #24221E
) );

// A few colour shortcuts (since we can't use the colour() function within the map)
$c-text:          k-colour(mako);//grey(84);
$c-body-bg:       grey(252);//#FAF9FC;
$c-link:          k-colour(java);//affair); // Purple
$c-menu:          k-colour(emerald);
$c-highlight:     k-colour(jaffa);
$c-offset:        k-colour(emerald);
$c-code:          k-colour(loblolly);//iron);

// General; @TODO: clean this up, there are many unused colours
$_colours: (
  body-bg:        $c-body-bg
, site-title:     $c-body-bg
, site-desc:      grey(156)
, highlight:      $c-highlight
, menu:           $c-menu
, interface:      grey(186)

  // Text
, text:           $c-text
, text-darkest:   darken( $c-text, 23 )
, text-darker:    darken( $c-text, 13 )
, text-dark:      darken( $c-text, 7 )
, text-light:     lighten( $c-text, 9 )
, text-lighter:   lighten( $c-text, 19 )
, text-lightest:  lighten( $c-text, 27 )

  // Backgrounds
, body-dark:      darken( white(), 3 )
, body-darker:    darken( white(), 13 )
, body-darkest:   darken( white(), 27 )

  // Links
, link:           $c-link
, link-v:         $c-link
, link-h:         $c-highlight //saturate( lighten( $c-link, 17 ), 7 )
, link-a:         saturate( lighten( $c-link, 13 ), 13 )
, link-f:         saturate( lighten( $c-link, 17 ), 7 )

  // Menus
, menu-link:      white()
, menu-link-h:    $c-highlight
, menu-current:   white(.9)
, menu-sub:       lighten( k-colour(raven), 23 )
, menu-sub-h:     k-colour(raven)

  // Submenus
, sub:            lighten( $c-text, 17 )
, sub-h:          white()
, sub-bg:         darken( $c-body-bg, 13 )

  // Sidebar
, sidebar:        darken( k-colour(raven), 13 )
, sidebar-h:      $c-highlight
, sidebar-link:   saturate( lighten( k-colour(raven), 3 ), 3% )

  // Meta
, meta:           lighten( $c-text, 9 )
, meta-link:      saturate( lighten( k-colour(raven), 9 ), 3% )
, meta-link-v:    grey(84)
, meta-link-h:    $c-highlight
, meta-link-a:    grey(84)
, meta-link-f:    grey(84)

  // Footer
, footer:         lighten( k-colour(raven), 23 )
, footer-bg:      k-colour(mako)//$c-body-bg
, footer-link:    $c-body-bg//k-colour(raven)
, footer-link-v:  grey(84)
, footer-link-h:  $c-highlight
, footer-link-a:  grey(84)
, footer-link-f:  grey(84)

  // Forms
, alert:          k-colour(milano-red)
, required:       k-colour(pueblo)
, success:        k-colour(atlantis)

  // Code blocks
, code-box:       $c-code
, code-box-bg:    k-colour(shark)

  // Interface
, button:         k-colour(java)
, button-h:       k-colour(eastern-blue)
, divider:        rgba( $c-text, .09 ) // For use with <hr> etc.
, select-top:     grey(251)
, select-bottom:  grey(227)
, shadow-darkest: grey(8, .29)
, shadow-darker:  grey(24, .18)
, shadow-dark:    grey(96, .32)
, shadow-light:   grey(121, .12)
, shadow-lighter: grey(128, .07)
, text-input:     k-colour(mako)
, text-input-bg:  $c-body-bg

  // Various
, highlight-bg:   k-colour(lemon-chiffon)

  // Prism (optional)
, p-text:         $c-code
, p-comment:      darken( $c-code, 17 )
, p-punctuation:  darken( $c-code, 7 )
, p-tag:          lighten( $c-code, 27 )
, p-selector:     adjust-hue( $c-highlight, 60 )
, p-variable:     lighten( $c-highlight, 7 )
, p-keyword:      adjust-hue( $c-highlight, 90 )
, p-regex:        adjust-hue( $c-highlight, 180 )
);
