// ==== COLOURS ==== //

// Custom colours added to the standard library
$k-colours: map-merge( $k-colours, (
  norse-blue:     #5cb6cc,
  suomi-blue:     #559dd1,
  steel-sky:      #444547,
  jove:           #24221E
) );

// A few colour shortcuts (since we can't use the colour() function within the map)
$c-text:          grey(84);
$c-body-bg:       white();
$c-link:          k-colour(norse-blue);
$c-highlight:     k-colour(burnt-sienna);
$c-code:          k-colour(iron);

// General colour palette
$_colours: (
  body-bg:        $c-body-bg
, site-title:     grey(16)
, site-desc:      grey(156)
, highlight:      $c-highlight
, interface:      grey(186)

  // Text
, text:           $c-text
, text-darkest:   darken( $c-text, 23 )
, text-darker:    darken( $c-text, 13 )
, text-dark:      darken( $c-text, 7 )
, text-light:     lighten( $c-text, 9 )
, text-lighter:   lighten( $c-text, 19 )
, text-lightest:  lighten( $c-text, 27 )

  // Backgrounds
, body-dark:      darken( $c-body-bg, 3 )
, body-darker:    darken( $c-body-bg, 13 )
, body-darkest:   darken( $c-body-bg, 27 )

  // Links
, link:           $c-link
, link-v:         $c-link
, link-h:         saturate( lighten( $c-link, 17 ), 7 )
, link-a:         saturate( lighten( $c-link, 13 ), 13 )
, link-f:         saturate( lighten( $c-link, 17 ), 7 )

  // Menus
, menu-link:      lighten( $c-text, 19 )
, menu-link-h:    $c-highlight
, menu-current:   lighten( $c-text, 33 )

  // Meta
, meta:           lighten( $c-text, 37 )
, meta-link:      grey(84)
, meta-link-v:    grey(84)
, meta-link-h:    $c-highlight
, meta-link-a:    grey(84)
, meta-link-f:    grey(84)

  // Footer
, footer:         lighten( $c-text, 37 )
, footer-link:    grey(84)
, footer-link-v:  grey(84)
, footer-link-h:  $c-highlight
, footer-link-a:  grey(84)
, footer-link-f:  grey(84)

  // Forms
, error:          k-colour(milano-red)
, required:       k-colour(crimson)
, success:        k-colour(atlantis)

  // Code blocks
, code-box:       $c-code
, code-box-bg:    rgba( k-colour(shark), .9 )

  // Buttons
, button1:        lighten( $c-text, 7 )
, button1-h:      darken( $c-text, 3 )
, button1-a:      lighten( $c-text, 23 )
, button1-b:      rgba( grey(158), .47 )
, button1-s:      rgba( white(), .85 )
, button1-bg-1:   darken( $c-body-bg, 5 )
, button1-bg-1-h: darken( $c-body-bg, 9 )
, button1-bg-1-a: darken( $c-body-bg, 11 )
, button1-bg-2:   grey(212)
, button1-bg-3:   grey(192)
, button2:        lighten( k-colour(mako), 7 )
, button2-h:      lighten( k-colour(mako), 11 )
, button2-a:      k-colour(shark)
, button2-b:      rgba( $c-link, .67 )
, button2-s:      rgba( white(), .85 )
, button2-bg-1:   lighten( $c-link, 33 )
, button2-bg-2:   darken( $c-link, 3 )
, button2-bg-3:   darken( $c-link, 17 )
, button3:        darken( $c-text, 3 )
, button3-h:      lighten( $c-text, 17 )
, button3-a:      lighten( $c-text, 23 )
, button3-b:      rgba( grey(133), .5 )
, button3-s:      rgba( white(), .85 )
, button3-bg-1:   grey(251)
, button3-bg-2:   grey(215)
, button3-bg-3:   grey(192)

  // Entry fields: input, textarea, and select element
, field:          lighten( $c-text, 9 )//rgba( grey(158), .27 )
, field-h:        lighten( $c-text, 7 )
, field-a:        lighten( $c-text, 3 )
, field-b:        rgba( grey(158), .27 )
, field-bg:       darken( $c-body-bg, 3 )
, field-bg-a:     darken( $c-body-bg, 9 )
, field-bg-h:     darken( $c-body-bg, 6 )

  // Dropdown
, drop:           lighten( $c-text, 17 )
, drop-h:         white()
, drop-a:         lighten( $c-text, 33 )
, drop-b:         grey(186)
, drop-bg:        darken( $c-body-bg, 7 )
, drop-bg-h:      darken( $c-body-bg, 21 )
, drop-bg-a:      darken( $c-body-bg, 17 )

  // Select menu dropdown
, select:         lighten( $c-text, 7 )
, select-h:       white()
, select-a:       rgba( lighten( $c-text, 17 ), .37 )
, select-bg:      darken( $c-body-bg, 3 )
, select-bg-h:    darken( $c-body-bg, 21 )
, select-bg-a:    none

  // Patterns
, shadow-darkest: grey(8, .29)
, shadow-darker:  grey(24, .18)
, shadow-dark:    grey(96, .32)
, shadow-light:   grey(113, .14)
, shadow-lighter: grey(128, .07)

  // Various
, divider:        rgba( $c-text, .09 ) // For use with <hr> etc.
, highlight-bg:   k-colour(lemon-chiffon)

  // Prism (optional)
, p-text:         $c-code
, p-comment:      darken( $c-code, 17 )
, p-punctuation:  darken( $c-code, 7 )
, p-tag:          lighten( $c-code, 27 )
, p-selector:     adjust-hue( $c-highlight, 60 )
, p-variable:     lighten( $c-highlight, 7 )
, p-keyword:      adjust-hue( $c-highlight, 90 )
, p-regex:        adjust-hue( $c-highlight, 180 )
);
