// ==== FONTS ==== //

// Sizes; use size() to access
$_sizes: (
  text-biggest:     32
, text-bigger:      22
, text-big:         20
, text:             18 // Default body text font size
, text-small:       16
, text-smaller:     14
, text-smallest:    12

, head-biggest:     42
, head-bigger:      35
, head-big:         25 // Don't want this too close to the baseline, line-height gets weird
, head:             23
, head-small:       18
, head-smaller:     16
, head-smallest:    14

, site-title-big:   26
, site-title-small: 18

, menu-header:      20
, menu-header-sm:   18 // Lower than 16 doesn't display well on mobile devices
, menu-footer:      16
, menu-sub:         14 // Submenu
);

// Fonts; use fonts() to access
$_fonts: (
  head-full:        k-font-stack("Catamaran", myriad)
, head-web:         "Catamaran"
, head-system:      k-font-stack(myriad) // k-font-stack(k-font-stack-trim(myriad), zh-heiti-tc)
, head-light:       100
, head-normal:      300
, head-bold:        500

, body-full:        k-font-stack("Oxygen", helvetica-light)
, body-web:         "Oxygen"
, body-system:      k-font-stack(helvetica-light) // k-font-stack(k-font-stack-trim(helvetica-light), zh-heiti-tc)
, body-light:       300
, body-normal:      400
, body-bold:        600

, mono-full:        k-font-stack(andale)
, mono-light:       300
, mono-normal:      400
, mono-bold:        600
);

// Font styles are wrapped in a mixin for ease of use and configuration; leave blank to inherit
@mixin font-style($style: body) {
  @if (type-of($style) != string) {
    @warn "Warning: @mixin font-style failed; not a string.";
  }

  // Standard stuff
  @if (head == $style) {
    @extend %head-bold-observer;
  }
  @if (body == $style) {
    @extend %body-light-observer;
  }
  @if (mono == $style) {
    @extend %mono-normal;
  }

  // Masthead
  @if (site-title == $style) {
    @extend %head-bold-observer;
    @extend %uppercase;
  }
  @if (site-description == $style) {
    @extend %body-normal;
  }

  // Menu
  @if (menu == $style) {
    @extend %head-normal-observer;
  }

  // Archives
  @if (archive-title == $style) {
    @extend %head-normal-observer;
  }

  // Content
  @if (entry-title == $style) {
    @extend %head-normal-observer;
  }
  @if (entry-header-meta == $style) {
    @extend %body-normal-observer;
  }
  @if (entry-content == $style) {
    // Inherit from body
  }
  @if (entry-footer-meta == $style) {
    @extend %body-normal; // Below the fold
  }

  // Comments
  @if (comment-author == $style) {
    @extend %body-bold; // Below the fold
  }

  // Widgets
  @if (widget-title == $style) {
    @extend %head-bold-observer;
    @extend %uppercase;
  }
  @if (widget-text == $style) {
    @extend %body-normal-observer;
  }

  // User interface
  @if (table-head == $style) {
    @extend %head-bold; // Below the fold
    @extend %uppercase;
  }
  @if (button == $style) {
    @extend %body-bold-observer;
  }
  @if (label == $style) {
    @extend %head-bold; // Below the fold
    @extend %uppercase;
  }
  @if (input == $style) {
    @extend %body-normal-observer;
  }

  // Post formats
  @if (quotation == $style) {
    // Inherit
  }
  @if (status == $style) {
    // Inherit
  }

  // Image overlays
  @if (image-overlay-title == $style) {
    //@extend %body-normal;
    text-align: center;
  }
  @if (image-overlay-caption == $style) {
    //@extend %body-normal;
  }
  @if (image-overlay-comments == $style) {
    //@extend %body-normal;
  }
  @if (image-overlay-date == $style) {
    //@extend %body-bold;
    @extend %uppercase;
  }
}

// Font stack mixin for use with Font Face Observer (to improve web font performance)
@mixin font-observer($stack: body) {
  font-family: font(#{$stack}-system);
  .wf-active & {
    font-family: font(#{$stack}-web);
  }
}
