// ==== FONTS ==== //

// Sizes; use size() to access
$_sizes: (
  text-biggest:     32
, text-bigger:      22
, text-big:         20
, text:             18 // Default body text font size
, text-small:       16
, text-smaller:     14
, text-smallest:    12

, head-biggest:     42
, head-bigger:      35
, head-big:         25 // Don't want this too close to the baseline, line-height gets weird
, head:             23
, head-small:       18
, head-smaller:     16
, head-smallest:    14

, site-title-big:   26
, site-title-small: 18

, menu-header:      20
, menu-header-sm:   18 // Lower than 16 doesn't display well on mobile devices
, menu-footer:      16
, menu-sub:         14 // Submenu
);

// Fonts; use fonts() to access
$_fonts: (
  head-full:        k-font-stack("Catamaran", myriad)
, head-web:         "Catamaran"
, head-system:      k-font-stack(myriad)
, head-light:       300
, head-normal:      300
, head-bold:        500

, body-full:        k-font-stack("Oxygen", helvetica-light)
, body-web:         "Oxygen"
, body-system:      k-font-stack(helvetica-light)
, body-light:       300
, body-normal:      400
, body-bold:        600

, text-full:        k-font-stack(helvetica-light)
, text-web:         k-font-stack(helvetica-light)
, text-system:      k-font-stack(helvetica-light)
, text-light:       300
, text-normal:      400
, text-bold:        600

, mono-full:        k-font-stack(menlo)
, mono-light:       300
, mono-normal:      400
, mono-bold:        600
);

// Font styles are wrapped in a mixin for ease of use and configuration; leave blank to inherit
@mixin font-style($style: body) {
  @if (type-of($style) != string) {
    @warn "Warning: @mixin font-style failed; not a string.";
  }

  // Standard stuff
  @if (head == $style) {
    @extend %head-bold-observer;
    color: colour(text-dark);
    font-feature-settings: 'lnum';
    margin-left: -0.04em;
  }
  @if (body == $style) {
    @extend %body-light-observer;
    @include font-size(text);
    color: colour(text);
    font-feature-settings: 'liga', 'opbd', 'size', 'init', 'fina'; // Ligatures; optical bounds; optical size; initial and final forms; via: http://www.microsoft.com/typography/otspec/featurelist.htm
    text-rendering: optimizeLegibility;
  }
  @if (mono == $style) {
    @extend %mono-normal;
  }

  // Masthead
  @if (site-title == $style) {
    @extend %head-bold-observer;
    @extend %uppercase;
    @include font-size(site-title-small);
    @include k-media-above( break(medium) ) {
      @include font-size(site-title-big);
    }
    a {
      color: colour(site-title);
      display: inline-block;
      text-decoration: none;
      &:hover {
        color: colour(link-h);
      }
    }
  }
  @if (site-description == $style) {
    @extend %body-normal;
    @include font-size(text-smaller);
    color: colour(site-desc);
  }

  // Menu
  @if (menu == $style) {
    @extend %head-normal-observer;
  }

  // Main
  @if (main-title == $style) {
    @extend %head-normal-observer;
    @include font-size(head-bigger);
    @include k-media-above( break(medium) ) {
      @include font-size(head-biggest);
    }
  }
  @if (main-desc == $style) {
    // Inherit from body
  }

  // Content
  @if (entry-title == $style) {
    @extend %head-normal-observer;
    @include font-size(head-big);
    @include k-media-above( break(medium) ) {
      @include font-size(head-bigger);
    }
  }
  @if (entry-header-meta == $style) {
    @extend %body-normal-observer;
    @include font-size(text-smaller);
    color: colour(text-lightest);
    .date {
      @extend %uppercase;
    }
  }
  @if (entry-content == $style) {
    @if module(one-column) {
      @include k-media-above( break(medium) ) {
        @include font-size(text-big);
      }
    }
  }
  @if (entry-blockquote == $style) {

  }
  @if (entry-caption == $style) {
    @include font-size(text-smaller);
    @include scut-reverse-italics;
    color: colour(text-lightest);
    @include k-media-above( break(medium) ) {
      @include font-size(text-small);
    }
  }
  @if (entry-footer-meta == $style) {
    @extend %body-normal; // Below the fold
    @include font-size(text-smaller);
    color: colour(meta);
  }

  // Comments
  @if (comment-author == $style) {
    @extend %body-bold; // Below the fold
    @include font-size(text);
  }
  @if (comment-content == $style) {
    @include font-size(text-small);
    h1 {
      @include font-size(head-big);
    }
    h2 {
      @include font-size(head);
    }
    h3 {
      @include font-size(head-small);
    }
    h4,
    h5,
    h6 {
      @include font-size(head-smallest);
    }
    blockquote {
      @include font-size(text-smaller);
      footer {
        @include font-size(text-smallest);
      }
    }
    pre {
      @include font-size(text-smaller);
    }
  }
  @if (comment-meta == $style) {
    @include font-size(text-smaller);
    color: colour(meta);
  }

  // Widgets
  @if (widget-title == $style) {
    @extend %head-bold-observer;
    @extend %uppercase;
    @include font-size(head-smallest);
  }
  @if (widget-text == $style) {
    @extend %body-normal-observer;
    @include font-size(text-smaller);
    color: colour(text-lighter);
  }

  // User interface
  @if (table-head == $style) {
    @extend %head-bold; // Below the fold
    @extend %uppercase;
    @include font-size(head-smaller);
  }
  @if (button == $style) {
    @extend %body-bold-observer;
  }
  @if (label == $style) {
    @extend %head-bold; // Below the fold
    @extend %uppercase;
  }
  @if (input == $style) {
    @extend %body-normal-observer;
  }

  // Image overlays
  @if (image-overlay-title == $style) {
    @include font-size( text, 0, 25 ); // Breaks the visual rhythm on purpose
    color: white();
    text-align: center;
    @include k-media-above( break(medium) ) {
      @include font-size(text-bigger);
      @include text-shadow-bigger;
    }
  }
  @if (image-overlay-caption == $style) {
    // Is this used?
    //@extend %body-normal;
  }
  @if (image-overlay-comments == $style) {
    //@extend %body-normal;
  }
  @if (image-overlay-date == $style) {
    //@extend %body-bold;
    @extend %uppercase;
  }

  // Post formats; only relevant when switched on in `config/_settings.scss`
  @if (format-quotation == $style) {
    @include font-size(text-bigger);
    color: colour(text);
    footer {
      @extend %text-small;
    }
  }
  @if (format-status == $style) {
    @include font-size(text-bigger);
  }
}

// Font stack mixin for use with Font Face Observer (to improve web font performance)
@mixin font-observer($stack: body) {
  font-family: font(#{$stack}-system);
  .wf-#{$stack}-active & {
    font-family: font(#{$stack}-web);
  }
}
