// ==== FONTS ==== //

// Sizes; use size() to access
$_sizes: (

  // Text
  text-biggest:     32
, text-bigger:      22
, text-big:         20
, text:             18 // Default body text font size
, text-small:       16
, text-smaller:     14
, text-smallest:    12

  // Headers
, head-biggest:     42
, head-bigger:      35
, head-big:         25 // Don't want this too close to the baseline, line-height gets weird
, head:             23
, head-small:       18
, head-smaller:     16
, head-smallest:    14

  // Site
, site-title-big:   35
, site-title-small: 26

  // Menus
, menu-header:      18
, menu-header-sm:   15 // Lower than 16 doesn't display well on mobile devices
, menu-footer:      15

  // Submenus
, sub:              14
);

// Body fonts; these are applied universally throughout the theme
$f-body:            k-font-stack("Oxygen", helvetica-light);
$w-body-light:      300;
$w-body-normal:     400;
$w-body-bold:       700;

// Header and probably menu fonts too
$f-head:            k-font-stack(Ubuntu, calibri);
$w-head-light:      300;
$w-head-normal:     400;
$w-head-bold:       700;

// Monospace fonts
$f-mono:            k-font-stack(menlo);
$w-mono-light:      300;
$w-mono-normal:     400;
$w-mono-bold:       700;

// Font styles are wrapped in a mixin for ease of use and configuration; leave blank to inherit
@mixin font-style($style: body) {
  @if (type-of($style) != string) {
    @warn "Warning: @mixin font-style failed; not a string.";
  }

  // Standard stuff
  @if (head == $style) {
    @extend %head-bold;
  }
  @if (body == $style) {
    @extend %body-normal;
  }
  @if (mono == $style) {
    @extend %mono-normal;
  }

  // Masthead
  @if (site-title == $style) {
    @extend %head-light;
    text-transform: lowercase;
  }
  @if (site-description == $style) {
    @extend %body-normal;
  }

  // Menu
  @if (menu == $style) {
    @extend %head-light;
  }

  // Archives
  @if (archive-title == $style) {
    @extend %head-normal;
  }

  // Content
  @if (entry-title == $style) {
    @extend %head-normal;
  }
  @if (entry-header-meta == $style) {
    @extend %head-light;
    text-transform: uppercase;
  }
  @if (entry-content == $style) {
    @extend %body-normal;
  }
  @if (entry-footer-meta == $style) {
    @extend %body-normal;
  }

  // Comments
  @if (comment-author == $style) {
    @extend %body-bold;
  }

  // Widgets
  @if (widget-title == $style) {
    @extend %head-light;
  }
  @if (widget-text == $style) {
    @extend %body-normal;
  }

  // User interface
  @if (table-head == $style) {
    @extend %head-bold-uppercase;
  }
  @if (button == $style) {
    @extend %body-normal;
  }
  @if (label == $style) {
    @extend %head-normal;
    text-transform: uppercase;
  }
  @if (input == $style) {
    @extend %body-normal;
  }

  // Post formats
  @if (quotation == $style) {
    // Inherit
  }
  @if (status == $style) {
    // Inherit
  }

  // Image overlays
  @if (image-overlay-title == $style) {
    //@extend %body-normal;
    text-align: center;
  }
  @if (image-overlay-caption == $style) {
    //@extend %body-normal;
  }
  @if (image-overlay-comments == $style) {
    //@extend %body-normal;
  }
  @if (image-overlay-date == $style) {
    //@extend %body-bold;
    text-transform: uppercase;
  }
}
