// ==== DEFAULT CONFIGURATION ==== //

// Development mode; switches on a few things that are otherwise build-specific
$dev: true;

// Output pixel fallback when generating rems for older browsers (pre-IE9)
$pixel-values: false;

// Base font size and line-height (unitless integers); base-size should be 16; set 'text' to alter body text font size
$base-size:       16;
$base-line:       30;

// Site widths
$width-content:   960px;
$width-main:      624px;
$width-thumb:     150px;

// Image spacer; defines the space between gallery items and grouped images
$spacer-image:    spacer();

// Default border radius
$radius:          3px;

// Metadata; use metadata() to access
$_metadata: (
  theme-name:               "Pendrell"
, theme-uri:                "https://github.com/synapticism/pendrell"
, theme-author:             "Alexander Synaptic"
, theme-author-uri:         "http://synapticism.com"
, theme-description:        "Alexander Synaptic"
, theme-version:            "0.47.0"
, theme-license:            "GPLv3"
, theme-license-uri:        "https://www.gnu.org/copyleft/gpl.txt"
, theme-tags:               (light, gray, white, one-column, two-columns, right-sidebar, fixed-layout, responsive-layout, custom-menu, featured-images, full-width-template, microformats, post-formats, theme-options, translation-ready)
, theme-text-domain:        "pendrell"
, theme-text-domain-path:   "/languages/"
);

// Breakpoints; use break() to access; pixel values (in the comments) are defaults but assume nothing else has changed
$_breaks: (
  tiny:               ceil( $width-main / 1.5 )       // 416
, small:              ceil( $width-main / 1.2 )       // 520
, medium:             ceil( $width-main + spacer(3) ) // 714
, large:              ceil( $width-main + spacer(8) ) // 864
, full:               ceil( $width-content )          // 960
);

// Modules; reduce bloat by switching some of these off; test with @if module(name) {}
$_modules: (
  full-width:         true
, gallery-shortcode:  false // WordPress core; activation creates some useless duplicate styles; disable if you don't use [gallery]
, magnific-popup:     false
, post-formats:       false
, prism:              false
, ubik-links:         false
, ubik-photo-meta:    false
, ubik-places:        false
, ubik-recordpress:   false
, ubik-related:       false
, ubik-series:        false
, ubik-views:         true
);

@if $dev {
  $_modules: (
    full-width:         true
  , gallery-shortcode:  true // WordPress core; activation creates some useless duplicate styles
  , magnific-popup:     true
  , post-formats:       true
  , prism:              true
  , ubik-links:         true
  , ubik-photo-meta:    true
  , ubik-places:        true
  , ubik-recordpress:   true
  , ubik-related:       true
  , ubik-series:        true
  , ubik-views:         true
  );
}
