// ==== DEFAULT CONFIGURATION ==== //

// Development mode; switches on a few things that are otherwise build-specific
$dev: false;

// Legacy mode; output styles for older browsers (usually pre-IE9)
$legacy: false;

// Base font size and line-height (unitless integers); base-size should be 16; set 'text' to alter body text font size
$base-size:       16;
$base-line:       28;

// Site widths
$width-content:   1020px;
$width-main:      720px;
$width-thumb:     150px;

// Image spacer; defines the space between gallery items and grouped images
$spacer-image:    spacer();

// Default border radius
$radius:          0px;

// Metadata; use metadata() to access
$_metadata: (
  theme-name:               "Technocrat"
, theme-uri:                "https://github.com/synapticism/technocrat"
, theme-author:             "Alexander Synaptic"
, theme-author-uri:         "http://synapticism.com"
, theme-description:        "Alexander Synaptic"
, theme-version:            "0.0.8"
, theme-license:            "GPLv3"
, theme-license-uri:        "https://www.gnu.org/copyleft/gpl.txt"
, theme-tags:               (light, gray, white, one-column, two-columns, right-sidebar, fixed-layout, responsive-layout, custom-menu, featured-images, microformats, post-formats, theme-options, translation-ready)
, theme-text-domain:        "pendrell"
, theme-text-domain-path:   "/languages/"
);

// Breakpoints; use break() to access; pixel values (in the comments) are defaults but assume nothing else has changed
$_breaks: (
  tiny:               ceil( $width-main / 1.8 )       // 400
, small:              ceil( $width-main / 1.5 )       // 480
, medium:             ceil( $width-main + spacer(2) ) // 780
, large:              ceil( $width-main + spacer(7) ) // 930
, full:               ceil( $width-content )          // 1020
);

// Modules; reduce bloat by switching some of these off; test with @if module(name) {}
$_modules: (
  gallery-shortcode:  false // WordPress core; activation creates some useless duplicate styles; disable if you don't use [gallery]
, post-formats:       false
, prism:              true
, ubik-links:         true
, ubik-photo-meta:    false
, ubik-places:        false
, ubik-recordpress:   false
, ubik-related:       true
, ubik-series:        false
, ubik-views:         false // *
);

@if $dev {
  $_modules: (
    gallery-shortcode:  true // WordPress core; activation creates some useless duplicate styles
  , post-formats:       true // Built-in
  , prism:              true
  , ubik-links:         true
  , ubik-photo-meta:    true
  , ubik-places:        true
  , ubik-recordpress:   true
  , ubik-related:       true
  , ubik-series:        true
  , ubik-views:         true // *
  );
}
