// ==== ACCESSIBILITY ==== //

// Screen reader text originally adapted from Twenty Twelve and _s
.screen-reader-text {
  @extend %off-screen;
  @extend %off-screen-focus;
  &:focus {
    @include border-radius;
    background-color: transparent;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px black(.6);
    color: black();
    font-weight: bold;
    line-height: normal;
    padding: spacer(1/2);
    text-decoration: none;
  }
}
.skip-link {
  opacity: 0;
  position: fixed;
  right: 99999%;
  &:focus {
    @include rem( margin-right, spacer(1/4) );
    background: colour(button-alt);
    float: left;
    opacity: 1;
    outline-width: 1px;
    position: static;
    transition: opacity .3s;
  }
}
