// ==== AUTHORS ==== //

.author-box {
  @extend %links-no-border;
  @include rem( margin, spacer(2.5) spacer(-1/2) );
  @include rem( padding, spacer(1/2) );
  @include k-media-above( break(small) ) {
    @include border-rounded(6px);
    @include box-shadow-inner-big;
    background: colour(body-dark);
  }
}
.author-info {
  .entry-meta & {
    @include rem( margin-top, spacer(), 1 );
    @include rem( padding-top, spacer() );
    border-top: 1px solid colour(divider);
  }
}
.author-avatar {
  @extend %links-reset-border;
  @include rem( margin-right, spacer(1/2) );
  @include rem( width, spacer(4) );
  float: left;
  line-height: 0; // Keeps the container snug around the avatar image
  img {
    @include border-rounded;
    width: 100%;
  }
  @include k-media-below( break(medium) ) {
    display: none; // Only display author avatar on larger screens
  }
}
.author-description {
  p {
    @extend %spacer-below;
    @extend %text-small;
    &:last-child {
      @extend %spacer-below-reset;
    }
  }
  .author-link {
    @extend %text-smaller;
    font-style: italic;
    text-align: right;
  }
}
