// ==== AUTHORS ==== //

.author-info {
  .entry-meta & {
    @include rem('margin-top', $spacer, 1);
    @include rem('padding-top', $spacer);
    border-top: $d-divider;
  }
}
.author-avatar { // @TODO: standardize this
  display: none; // Only display author avatar on larger screens
  @include respond-to(medium) {
    @include rem('margin', ($spacer * -2) 0 0 ($spacer * -4.5) );
    display: block;
    float: left;
    line-height: 0; // Keeps the container snug around the avatar image
    width: $spacer * 4;
  }
  img {
    @include circle;
    width: 100%;
  }
}
.author-description {
  p {
    @extend %small-text;
  }
}
