// ==== AUTHORS ==== //

.author-info {
  .entry-meta & {
    @include rem( margin-top, spacer(), 1 );
    @include rem( padding-top, spacer() );
    border-top: 1px solid colour(divider);
  }
}
.author-avatar {
  @extend %links-reset-border;
  @include rem( margin, 0 0 0 spacer(1/2) );
  float: right;
  line-height: 0; // Keeps the container snug around the avatar image
  width: spacer(4);
  img {
    @include k-circle;
    @include k-greyscale;
    width: 100%;
  }
  @include k-media-below( break(medium) ) {
    display: none; // Only display author avatar on larger screens
  }
}
.author-description {
  p {
    @extend %text-small;
  }
}
