// ==== HELPERS ==== //

// These silent selectors should be used for common styling patterns



// == CLEARFIX == //

// Clearfix
%clearfix-above {
  @include clearfix-above;
}
%clearfix-below {
  @include clearfix-below;
}
%clearfix {
  @include clearfix;
}



// == SPACING == //

// Spacing, to preserve a modicum of vertical rhythm
%spacer-above {
  @include rem("margin-top", $spacer);
}
%spacer-below {
  @include rem("margin-bottom", $spacer);
}



// == FONT STYLING == //

%body-light {
  font-family: $f-body;
  font-weight: $w-light;
}

%body-normal {
  font-family: $f-body;
  font-weight: $w-normal;
}

%body-bold {
  font-family: $f-body;
  font-weight: $w-bold;
}

%head-light {
  font-family: $f-head;
  font-weight: $w-light;
}

%head-normal {
  font-family: $f-head;
  font-weight: $w-normal;
}

%head-bold {
  font-family: $f-head;
  font-weight: $w-bold;
}

%head-small {
  font-family: $f-head;
  font-weight: $w-bold;
  text-transform: uppercase;
}

// Small text
%small-text {
  @include font-size($s-text-small);
}



// == UI ELEMENTS == //

// Right-aligned button container
%button-container {
  @include rem("margin-left", $spacer/2);
  float: right;
  height: $spacer;
}
