// ==== KIPPLE ==== //

// Kipple
@import "kipple/kipple";

// This file contains simple wrapper mixins for Kipple
// These mixins are not namespaced as they are designed for use in a single project
// Apart from providing more user-friendly aliases for Kipple mixins this also allows project-specific defaults to be easily set

@mixin border-radius($radius: $d-radius) {
  @include k-border-radius($radius);
}
@mixin center {
  @include k-center-block;
}
@mixin clearfix-above {
  @include k-clearfix-above;
}
@mixin clearfix-below {
  @include k-clearfix-below;
}
@mixin clearfix {
  @include k-clearfix;
}
@mixin ghost {
  @include k-ghost;
}
@mixin hide {
  @include k-hide-visually;
}
@mixin highlight($color: $c-highlight, $radius: $d-radius) {
  @include k-highlight($color, $radius);
}
@mixin tooltip {
  @include k-tooltip(
    $offset: $spacer - 6px
  , $tooltip-background: $c-tooltip-bg
  , $tooltip-border: $d-interface
  , $tooltip-border-radius: $d-radius
  , $tooltip-color: $c-tooltip
  , $tooltip-font-size: $s-text-smaller
  , $tooltip-triangle-color: $c-interface
  );
  border-bottom: $d-mouseover;
}
@mixin triangle(
  $color: inherit
, $direction: top
, $size: 6px
, $position: absolute
, $offset: left 0
) {
  @include k-triangle($color, $direction, $size, $position, $offset);
}
