// ==== DEFAULT CONFIGURATION ==== //

// == FONT SIZING == //

// Default font size and baseline (unitless integers); $base should be 16, set $s-text to alter body text font size
$base:              16;
$baseline:          30;

// Text
$s-text-biggest:    32;
$s-text-bigger:     24;
$s-text-big:        22;
$s-text:            20; // Default body text font size
$s-text-small:      16;
$s-text-smaller:    14;
$s-text-smallest:   12;

// Headers
$s-header-biggest:  48;
$s-header-bigger:   36;
$s-header-big:      26; // Don't want this too close to the baseline; line-height gets weird
$s-header:          24;
$s-header-small:    18;
$s-header-smaller:  16;
$s-header-smallest: 14;

// Menus
$s-menu-header:     20;
$s-menu-header-sm:  18; // Lower than 16 doesn't display well on mobile devices
$s-menu-footer:     14;

// Submenus
$s-sub:             14;





// == FONTS == //

// Suggested pairings:
// $k-helv-neue-l and $k-raleway; Raleway:200,300,600
// $k-noto-serif and $k-roboto-slab; Noto+Serif:400,400italic,700,700italic|Roboto+Slab:300,400,700

$f-body:            $k-helv-neue-l;
$w-body-light:      300;
$w-body-normal:     400;
$w-body-bold:       600;

$f-head:            $k-raleway;
$w-head-light:      200;
$w-head-normal:     300;
$w-head-bold:       600;

$f-mono:            $k-courier;
$w-mono-light:      300;
$w-mono-normal:     400;
$w-mono-bold:       700;

// Font styles are wrapped in a mixin for ease of use and configuration; leave blank to inherit
@mixin font-style($style: "body") {
  @if type-of($style) != "string" {
    @warn "Warning: @mixin font-style failed; not a string.";
  }

  // Standard stuff
  @if $style == "head" {
    @extend %head-bold;
  }
  @if $style == "body" {
    @extend %body-light;
  }
  @if $style == "mono" {
    font-family: $f-mono;
    font-weight: $w-mono-normal;
  }

  // Masthead
  @if $style == "site-title" {
    @extend %head-light;
    text-transform: uppercase;
  }
  @if $style == "site-description" {
    @extend %head-normal;
  }

  // Menu
  @if $style == "menu" {
    @extend %head-normal;
  }

  // Archives
  @if $style == "archive-title" {
    @extend %head-normal;
  }

  // Content
  @if $style == "entry-title" {
    @extend %head-normal;
  }
  @if $style == "entry-content" {
    //
  }
  @if $style == "entry-meta" {
    //
  }

  // Comments
  @if $style == "comment-author" {
    @extend %head-normal;
  }

  // Widgets
  @if $style == "widget-title" {
    @extend %head-bold-uppercase;
  }
  @if $style == "widget-text" {
    @extend %body-normal;
  }

  // User interface
  @if $style == "table-head" {
    @extend %head-bold-uppercase;
  }
  @if $style == "button" {
    @extend %head-bold;
  }
  @if $style == "label" {
    @extend %head-bold-uppercase;
  }
  @if $style == "input" {
    @extend %body-normal;
  }

  // Post formats
  @if $style == "quotation" {
    //
  }
  @if $style == "status" {
    //
  }

  // Image overlays
  @if $style == "image-overlay-title" {
    @extend %head-normal;
  }
  @if $style == "image-overlay-caption" {
    @extend %body-normal;
  }
}



// == LAYOUT == //

$content-width:     960px;
$main-width:        624px;
$thumbnail-size:    150px;
$spacer:            $baseline+0px; // Typically used in conjunction with the rem mixin



// == BREAKPOINTS == //

$b-small:           $main-width/1.2;
$b-medium:          $main-width + ($spacer * 3);
$b-large:           $main-width + ($spacer * 8); // Causes sidebar to slide below content
$b-full:            $content-width;



// == COLOURS == //

// Custom colours added to the standard library
$k-colours: map-merge($k-colours, (
  norse-blue:     #5cb6cc,
  suomi-blue:     #559dd1,
  steel-sky:      #444547,
  jove:           #24221E
));

// General
$c-body-bg:       white();
$c-site-title:    grey(16);
$c-site-desc:     grey(156);
$c-highlight:     colour(burnt-sienna);
$c-interface:     grey(186);

// Text
$c-text:          grey(84);
$c-text-darkest:  darken($c-text, 23);
$c-text-darker:   darken($c-text, 13);
$c-text-dark:     darken($c-text, 7);
$c-text-light:    lighten($c-text, 9);
$c-text-lighter:  lighten($c-text, 19);
$c-text-lightest: lighten($c-text, 27);

// Backgrounds
$c-body-dark:     darken($c-body-bg, 3);
$c-body-darker:   darken($c-body-bg, 13);
$c-body-darkest:  darken($c-body-bg, 27);

// Links
$c-link:          colour(norse-blue);
$c-link-v:        $c-link;
$c-link-h:        saturate(lighten($c-link, 17), 7);
$c-link-a:        saturate(lighten($c-link, 13), 13);
$c-link-f:        saturate(lighten($c-link, 17), 7);

// Menus
$c-menu-link:     $c-text-lightest;
$c-menu-link-h:   $c-highlight;
$c-menu-current:  lighten($c-menu-link, 23);

// Submenus
$c-sub:           lighten($c-text, 17);
$c-sub-h:         white();
$c-sub-bg:        $c-body-darker;

// Meta
$c-meta:          lighten($c-text-lightest, 10);
$c-meta-link:     $c-text;
$c-meta-link-v:   $c-meta-link;
$c-meta-link-h:   $c-highlight;
$c-meta-link-a:   $c-meta-link;
$c-meta-link-f:   $c-meta-link;

// Footer
$c-footer:        $c-meta;
$c-footer-link:   $c-meta-link;
$c-footer-link-v: $c-meta-link-v;
$c-footer-link-h: $c-meta-link-h;
$c-footer-link-a: $c-meta-link-a;
$c-footer-link-f: $c-meta-link-f;

// Forms
$c-alert:         colour(milano-red);
$c-required:      colour(pueblo);
$c-success:       colour(atlantis);

// Code blocks
$c-code-box:      colour(iron);
$c-code-box-bg:   rgba(colour(shark), .9);

// Various
$c-divider:       rgba($c-text, .09); // For use with <hr> etc.
$c-shadow:        black(.07);
$c-highlight-bg:  colour(lemon-chiffon);




// == DESIGN PATTERNS == //

// Divider
$d-divider:       1px solid $c-divider;

// Glow
$d-glow:          0px 0px 5px $c-highlight;

// Gradients
$d-gradient-1:    darken($c-body-bg, 4);
$d-gradient-2:    darken($c-body-bg, 10);

// Image spacer; defines the space between gallery items and grouped images
$d-image-spacer:  $spacer;

// Inset box shadow style
$d-inset-box:     inset 3px 3px 7px $c-shadow;

// Interface border for buttons and submenus
$d-interface:     1px solid $c-interface;

// Mouseover border bottom
$d-mouseover:     1px dotted rgba($c-text, .4);

// Border radius default
$d-radius:        3px;



// == MODULES == //

// Styling for optional modules; reduce bloat by switching some of these off

$m-gallery-shortcode: true; // WordPress core
$m-image-metadata:    false; // Built-in to Pendrell
$m-post-formats:      false; // Built-in
$m-views:             false; // Built-in
$m-ubik-places:       false;
$m-ubik-recordpress:  false;
$m-ubik-related:      false;
$m-ubik-series:       false;

// Override the settings above; true/false
$dev: false;

@if ($dev) {
  $m-gallery-shortcode: true; // WordPress core
  $m-image-metadata:    true; // Built-in to Pendrell
  $m-post-formats:      true; // Built-in
  $m-views:             true; // Built-in
  $m-ubik-places:       true;
  $m-ubik-recordpress:  true;
  $m-ubik-related:      true;
  $m-ubik-series:       true;
}



// == REFERENCE == //

// $b: breakpoint
// $c: colours
// $d: design pattern
// $f: font stack
// $s: size
