// ==== COMMENTS ==== //

.comments-title {
  @extend %spacer-below;
  @include font-size(head);
}
.comment-list {
  .children { // Threaded comments
    @include k-media-above( break(medium) ) {
      @include rem( margin-left, spacer() );
    }
  }
}
.comment-article { // Specific to individual comments
  @include rem( padding, spacer(1/2) );
  .bypostauthor & { // Specific to the post author's comments
    @include k-media-above( break(small) ) {
      @include border-radius(6px);
      @include box-shadow-inner-big;
      background: colour(body-dark);
    }
  }
}
.comment article { // Written this way to override the specificity of the default `.site-content article` declaration
  @include rem( margin, spacer(-1/2) spacer(-1/2) spacer(2.5) spacer(-1/2) );
}
.comment-author { // Comment author's byline
  @extend %clearfix-below;
  @include rem( margin-bottom, spacer(1/2) );
  h1 {
    @include font-size(text-big);
    @include font-style(comment-author);
  }
}
.comment-avatar {
  @include rem( margin-right, spacer(1/2) );
  display: inline-block;
  float: left;
  line-height: 0; // Keeps the container snug around the avatar image
  img.avatar {
    @include border-radius( spacer(1/4) );
  }
}
.comment-content {
  :last-child {
    @extend %spacer-below-reset; // Remove margin on the last element for a snug fit
  }

  // Make comments a little smaller
  @include font-size(text-small);
  h1 {
    @include font-size(head-big);
  }
  h2 {
    @include font-size(head);
  }
  h3 {
    @include font-size(head-small);
  }
  h4,
  h5,
  h6 {
    @include font-size(head-smallest);
  }
  blockquote {
    @include font-size(text-smaller);
    footer {
      @include font-size(text-smallest);
    }
  }
  pre {
    @include font-size(text-smaller);
  }
}
.comment-meta {
  @extend %links-meta-no-border;
  @include font-size(text-smaller);
  color: colour(meta);
}
.comment-pingback { // Pingbacks/trackbacks
  @include font-size(head-smaller);
  @include k-ghost;
}
.comment-warning { // Comment awaiting moderation
  @extend %text-smaller;
}
