// ==== COMMENTS ==== //

// General comments area
.comments-area { // See also .entry-after
  max-width: $width-main ; // Required to limit the width of the comments area when there is no sidebar displayed
  ol {
    @extend %list-style-none; // Reset list style from `_general.scss`
  }
}
.comments-title {
  @extend %spacer-below;
  @include font-size(head);
}



// == COMMENT LIST == //

.comment-list {
  .children { // Threaded comments
    @include k-media-above( break(medium) ) {
      @include rem( margin-left, spacer() );
    }
  }
}

// Pingbacks/trackbacks
.comment-pingback {
  @include font-size(head-smaller);
  @include k-ghost;
}

// Comment awaiting moderation
.comment-warning {
  @extend %text-smaller;
}

// Specific to individual comments
.comment article { // Needs to be written this way to override the specificity of the default `.site-content article` declaration
  @include rem( margin, spacer(-1/2) spacer(-1/2) spacer(2.5) spacer(-1/2) );
}
.comment-article {
  @include rem( padding, spacer(1/2) );
  .bypostauthor & { // Specific to the post author's comments
    @include k-media-above( break(small) ) {
      @include border-radius(6px);
      background: colour(body-dark);
      box-shadow: inset 3px 3px 7px colour(shadow);
    }
  }
}
.comment-author { // Comment author's byline
  @extend %clearfix-below;
  @include rem( margin-bottom, spacer(1/2) );
  h1 {
    @include font-size(text-big);
    @include font-style(comment-author);
  }
}
.comment-avatar {
  @include rem( margin-right, spacer(1/2) );
  display: inline-block;
  float: left;
  line-height: 0; // Keeps the container snug around the avatar image
  img.avatar {
    @include border-radius( spacer(1/4) );
  }
}
.comment-content {
  :last-child {
    margin-bottom: 0; // Remove margin on the last element for a snug fit
  }

  // Make comments a little smaller
  @include font-size(text-small);
  h1 {
    @include font-size(head-big);
  }
  h2 {
    @include font-size(head);
  }
  h3 {
    @include font-size(head-small);
  }
  h4,
  h5,
  h6 {
    @include font-size(head-smallest);
  }
  blockquote {
    @include font-size(text-smaller);
    footer {
      @include font-size(text-smallest);
    }
  }
  pre {
    @include font-size(text-smaller);
  }
}
.comment-meta {
  @extend %links-meta-no-border;
  @include font-size(text-smaller);
  color: colour(meta);
}



// == RESPONSE FORM == //

// Specific to comment form; see `_ui_elements.scss` for general declarations
.comment-form {
  .logged-in-as,
  .comment-form-url {
    @extend %spacer-below;
  }
  #submit {
    @extend %spacer-below-double; // Needed for when the comment form moves around
  }
}

// Formerly .form-allowed-tags; this is
.comment-notes-after {
  @extend %spacer-below;
  @include font-size(text-smaller);
  color:  colour(text-lighter);
  code {
    @include font-size(text-smallest);
    @include k-highlight-reset;
    display: inline;
  }
}

// These classes contain right-aligned buttons
.comment-buttons,
.comment-reply-title small {
  @extend %button-container;
}
