// ==== COMMENTS ==== //

// General comments area
.comments-area {
  max-width: $main-width;
  @include rem("margin-top", $spacer*3);
  article {
    @include rem("margin-bottom", $spacer*1.5);
    padding: 0;
  }
}
.comments-title {
  @extend %spacer-below;
  @include font-size($s-header-sub);
}



// == COMMENT LIST == //

.comment-list {
  list-style: none;

  // Pingbacks/trackbacks
  .pingback,
  .trackback {
    @include font-size($s-header-small);
    @include ghost;
  }
  // Threaded comments
  .children {
    @include k-media-above($b-medium) {
      @include rem("margin-left", $spacer);
    }
  }
  // Comment awaiting moderation
  .warning {
    @include font-size($s-text-smaller);
  }
}

// Specific to individual comments
.comment-author {
  @extend %clearfix-below;
  @include rem("margin-bottom", $spacer/2);
  h3 {
    font-weight: $w-head-normal;
  }
}
.comment-avatar {
  @include rem("margin-right", $spacer/2);
  display: inline-block;
  float: left;
  line-height: 0; // Keeps the container snug around the avatar image
  img.avatar {
    @include border-radius($spacer/4);
  }
}
.comment-meta {
  @include font-size($s-text-smaller);
  @include link-stylist($c-meta-link, $c-meta-link-v, $c-meta-link-h, $c-meta-link-a, $c-meta-link-f, $link-border: false);
  color: $c-meta;
}



// == RESPONSE FORM == //

// Specific to comment form; see `_ui_elements.scss` for general declarations
.comment-form {
  .logged-in-as,
  .comment-form-url {
    @extend %spacer-below;
  }
  #submit {
    @include rem("margin-bottom", $spacer*2); // Needed for when the comment form moves around
  }
}

// Formerly .form-allowed-tags; this is
.comment-notes-after {
  @extend %spacer-below;
  @include font-size($s-text-smaller);
  color: $c-text-lighter;
  code {
    @include font-size($s-text-smallest);
    @include k-highlight-reset;
    display: inline;
  }
}

// These classes contain right-aligned buttons
.comment-buttons,
.comment-reply-title small {
  @extend %button-container;
}
#cancel-comment-reply-link { // Only appears when replying to individual comments
  @include button;
}
