// ==== CONTENT ==== //

// Entry title
.entry-title {
  @extend %links-no-border;
  @extend %spacer-below-half;
  @include font-size(head-big);
  @include font-style(entry-title);
  @include k-media-above( break(medium) ) {
    @include font-size(head-bigger); // This is the normal title size seen on the homepage and on singular posts
  }

  // Drop the size of entry titles on archives, 404 pages, and in search results
  .archive &,
  .error404 &,
  .search-results &,
  .search-no-results & {
    @include font-size(head-big);
  }
}



// Shared post and comment contents
// Additional styling specific to just post contents can be found below this block; styling specific to comments can be found in comments.scss
.entry-content,
.comment-content {
  @extend %clearfix-below;
  @extend %links;
  @include font-style(entry-content);
  letter-spacing: 0.01rem;
  word-wrap: break-word;

  // Header spacing
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @extend %spacer-below-half;
  }

  // Headers
  h1,
  h2,
  h3 {
    @include rem( margin-top, spacer(1.5) ); // Spaces out headers within body copy
  }
  h1 + h2,
  h1 + h3,
  h2 + h3 {
    margin-top: 0; // Allows for subheadings e.g. h2 followed snugly by h3
  }
  h4,
  h5,
  h6 {
    text-transform: uppercase; // The sizing of these headers is below that of the body copy; let's give them some punch
  }

  // Links
  a {
    outline: none;
  }

  // Paragraph
  p {
    @extend %spacer-below;
    hanging-punctuation: first; // Not supported by any browser yet
  }

  // Lists and definitions
  ol,
  ul,
  dl {
    @extend %spacer-below;
    ol,
    ul,
    dl {
      margin-bottom: 0; // Remove spacing for sub-lists
    }
  }
  li {
    @include rem( margin, 0 0 0 spacer() );
  }
  dd {
    @include rem( margin, 0 spacer() spacer() );
  }
  dl {
    @include rem( margin, 0 spacer() );
  }

  // Superscript
  sup {
    @extend %links-reset-border;
    margin-left: .06em; // Makes superscript text a little more visible, particularly footnotes
    outline: none;
  }

  // Tables
  table {
    @extend %links-reset-border;
    @include rem( margin-bottom, spacer(), 1 );
    border-bottom: 1px solid colour(divider);
    width: 100%;
    caption {
      @extend %text-small;
    }
  }
  th {
    @include font-size(head-smaller);
    @include font-style(table-head);
  }
  td {
    @include font-size( text-smaller, 1 );
    border-top: 1px solid colour(divider);
  }

  // Asides; use this instead of <small> in post contents; does not appear in comments but the styling is kept here for ease of maintenance
  aside {
    @extend %spacer-below;
    @include font-size(text-small);
    @include k-reverse-italics;
    color: lighten( colour(text-lightest), 10 );
    &:first-child p { // Style opening asides here
      color: colour(text-lightest);
    }
  }

  // Images
  img {
    @include border-radius;
    display: block;
  }

  // Typographic styling via Ubik Text
  .divider {
    color: colour(text-dark);
    text-align: center;
  }
}



// Exclusive to post contents
.entry-content {

  // Full-width styling adjustments on viewports larger than the medium breakpoint
  @include k-media-above( break(medium) ) {
    .full-width & {
      @include font-size(text-bigger);

      // Increase top header sizes (the rest remain the same)
      h1 {
        @include font-size(head-biggest);
      }
      h2 {
        @include font-size(head-bigger);
      }
      h3 {
        @include font-size(head-big);
      }

      // Give quotations a boost
      blockquote {
        @include font-size(text-big);
        footer {
           @include font-size(text-small);
        }
      }

      // These are all usually size(text-small; kick it up a notch
      aside,
      table caption,
      .entry-caption,
      .footnotes,
      .references {
        @include font-size(text);
      }
      td {
        @include font-size(text, 1);
      }
    }
  }
}



// Entry meta
.entry-meta {
  @extend %clearfix;
  @include font-style(entry-meta);
}
.entry-meta-buttons {
  @extend %button-container;
}
.entry-meta-main {
  @extend %links-meta;
  @include font-size(text-smaller);
  color: colour(meta);
}



// Entry after (comments template, related posts, etc.)
.entry-after {
  @include rem( margin-top, spacer(2) );
  @extend %links-no-border;
  ol,
  ul {
    @extend %spacer-below;
    @include font-size(text-smaller);
    li:before {
      @include font-size(text-smallest);
      .full-width & {
        @include font-size(text-smallest);
      }
    }
  }
}
