// ==== CONTENT ==== //

// Entry title
.entry-title {
  @include font-size($s-header);
  @include font-style("entry-title");
  @include k-media-above($b-medium) {
    @include font-size($s-header-big); // This is the normal title size seen on the homepage
  }

  // Drop the size of entry titles on archives and in search results
  .archive &,
  .search-results &,
  .search-no-results & {
    @include font-size($s-header);
  }

  // Single post and page views
  @include k-media-above($b-large) {
    body.page &, // Targets singular pages, avoiding conflict with .search-results .page .entry-title declaration
    .single & {
      //@include font-size($s-header-title); // @TODO: fix this, it's an ugly mess
    }
  }

  // Boost the font size for full-width archives; @TODO: assess whether this is useful anymore
  @include k-media-above($b-large) {
    .full-width.archive & {
      @include font-size($s-header-big);
    }
  }
}



// Shared post and comment contents; additional styling specific to just post contents can be found below; styling specific to comments can be found in comments.scss
.entry-content,
.comment-content {
  @extend %clearfix-below;
  @include font-style("entry-content");
  @include link-stylist($link-color: false);
  word-wrap: break-word;

  // Paragraph spacing
  p {
    @extend %spacer-below;
  }

  // Header spacing; not needed in .comment-content as we don't allow headers
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @extend %spacer-below;
  }

  // Headers
  h1,
  h2,
  h3 {
    @include rem("margin-top", $spacer*2); // Spaces out headers within body copy
    & + h1,
    & + h2,
    & + h3 {
      margin-top: 0; // Allows for subheadings
    }
  }

  // Paragraph spacing
  p {
    @extend %spacer-below;
  }

  // Text styling
  cite,
  em,
  i {
    font-weight: $w-body-light; // This must be set otherwise these elements inherit font-weight: normal for some reason
  }

  // Lists and definitions
  ol,
  ul,
  dl {
    @include rem("margin-bottom", $spacer);
  }
  li {
    @include rem("margin", 0 0 0 $spacer);
  }
  dd {
    @include rem("margin", 0 $spacer $spacer);
  }
  dl {
    @include rem("margin", 0 $spacer);
  }

  // Tables
  table {
    @include rem("margin-bottom", $spacer, 1);
    border-bottom: $d-divider;
    width: 100%;
    a,
    a:visited,
    a:hover,
    a:focus,
    a:active {
      border-bottom: none;
    }
    caption {
      @include font-size($s-text-small);
    }
  }
  th {
    @include font-size($s-header-small);
    @include font-style("table-head");
  }
  td {
    @include font-size($s-text-smaller, 1);
    border-top: $d-divider;
  }

  // Images
  img {
    @include border-radius;
    display: block;
  }

  // First children of .entry-content and .comment-content that require extra spacing for visual flow
  > blockquote,
  > div,
  > figure,
  > img,
  > pre {
    &:first-child {
      @extend %spacer-above;
    }
  }
}



// Exclusive to post contents
.entry-content {

  // Asides; use this instead of <small> in post contents; does not appear in comments
  aside {
    @extend %spacer-below;
    @include font-size($s-text-small);
    @include k-reverse-italics;
    color: lighten($c-text-lightest, 10);
  }

  // First children of .entry-content that require extra spacing for visual flow
  .archive &,
  .search-results & {
    > p:first-child {
      @extend %spacer-above;
    }
  }

  // Full-width styling adjustments
  .full-width & {
    > * {
      max-width: $main-width;
    }
    figure,
    .img-group,
    .large-print {
      max-width: 100%;
    }
  }
}



// Entry meta
.entry-meta {
  @extend %clearfix;
  @include font-style("entry-meta");
  max-width: $main-width;
}
.entry-meta-buttons {
  @extend %button-container;
}
.entry-meta-main {
  @include font-size($s-text-smaller);
  @include link-stylist($c-meta-link, $c-meta-link-v, $c-meta-link-h, $c-meta-link-a, $c-meta-link-f);
  color: $c-meta;
}
