// ==== CONTENT ==== //

// Entry title
.entry-title {
  @extend %spacer-below-half;
  @include font-size($s-header-big);
  @include font-style("entry-title");
  @include k-media-above($b-medium) {
    @include font-size($s-header-bigger); // This is the normal title size seen on the homepage and on singular posts
  }

  // Drop the size of entry titles on archives, 404 pages, and in search results
  .archive &,
  .error404 &,
  .search-results &,
  .search-no-results & {
    @include font-size($s-header-big);
  }
}



// Shared post and comment contents
// Additional styling specific to just post contents can be found below this block; styling specific to comments can be found in comments.scss
.entry-content,
.comment-content {
  @extend %clearfix-below;
  @include font-style("entry-content");
  @include link-stylist($link-color: false);
  word-wrap: break-word;

  // Paragraph spacing
  p {
    @extend %spacer-below;
  }

  // Header spacing
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @extend %spacer-below-half;
  }

  // Headers
  h1,
  h2,
  h3 {
    @include rem("margin-top", $spacer*1.5); // Spaces out headers within body copy
  }
  h1 + h2,
  h1 + h3,
  h2 + h3 {
    margin-top: 0; // Allows for subheadings e.g. h2 followed snugly by h3
  }
  h4,
  h5,
  h6 {
    text-transform: uppercase; // The sizing of these headers is below that of the body copy; let's give them some punch
  }

  // Paragraph spacing
  p {
    @extend %spacer-below;
  }

  // Lists and definitions
  ol,
  ul,
  dl {
    @extend %spacer-below;
    ol,
    ul,
    dl {
      margin-bottom: 0; // Remove spacing for sub-lists
    }
  }
  li {
    @include rem("margin", 0 0 0 $spacer);
  }
  dd {
    @include rem("margin", 0 $spacer $spacer);
  }
  dl {
    @include rem("margin", 0 $spacer);
  }

  // Tables
  table {
    @include rem("margin-bottom", $spacer, 1);
    border-bottom: $d-divider;
    width: 100%;
    a,
    a:visited,
    a:hover,
    a:focus,
    a:active {
      border-bottom: none;
    }
    caption {
      @extend %text-small;
    }
  }
  th {
    @include font-size($s-header-smaller);
    @include font-style("table-head");
  }
  td {
    @include font-size($s-text-smaller, 1);
    border-top: $d-divider;
  }

  // Asides; use this instead of <small> in post contents; does not appear in comments but the styling is kept here for ease of maintenance
  aside {
    @extend %spacer-below;
    @include font-size($s-text-small);
    @include k-reverse-italics;
    color: lighten($c-text-lightest, 10);
  }

  // Images
  img {
    @include border-radius;
    display: block;
  }
}



// Exclusive to post contents
.entry-content {

  // Full-width styling adjustments on viewports larger than the medium breakpoint
  @include k-media-above($b-medium) {
    .full-width & {
      @include font-size($s-text-bigger);

      // Increase top header sizes (the rest remain the same)
      h1 {
        @include font-size($s-header-biggest);
      }
      h2 {
        @include font-size($s-header-bigger);
      }
      h3 {
        @include font-size($s-header-big);
      }

      // Give quotations a boost
      blockquote {
        @include font-size($s-text-big);
        footer {
           @include font-size($s-text-small);
        }
      }

      // These are all usually $s-text-small; kick it up a notch
      aside,
      code,
      pre,
      small,
      table caption,
      .entry-caption,
      .footnotes,
      .references {
        @include font-size($s-text);
      }
      td {
        @include font-size($s-text, 1);
      }

      // Restore the sub/superscript reset
      sub,
      sup {
        font-size: 75%;
      }
    }
  }
}



// Entry meta
.entry-meta {
  @extend %clearfix;
  @include font-style("entry-meta");
}
.entry-meta-buttons {
  @extend %button-container;
}
.entry-meta-main {
  @include font-size($s-text-smaller);
  @include link-stylist($c-meta-link, $c-meta-link-v, $c-meta-link-h, $c-meta-link-a, $c-meta-link-f);
  color: $c-meta;
}
