// ==== POST FORMATS ==== //

// Allows for all of these styles to be switched on or off from the main configuration file
@if module(post-formats) {

  // Hiding aside, quotation, and status titles to preserve structured data and visual flow
  body:not(.list-view) { // There's no way to isolate this, alas
    article.format-quote,
    article.format-status {
      header {
        @extend %hide;
      }
    }
  }



  // Aside
  body:not(.list-view) {
    article.format-aside {
      .entry-title {
        @include font-size(head-small); // A slightly smaller title size for asides
        @include k-media-above( break(medium) ) {
          @include font-size(head);
        }
      }
    }
  }



  // Link
  .entry-meta {
    .link { // Unique class; no need to nest it within article.format-link {}
      @extend %links-meta;
      @include font-size(text-small);
      @include scut-truncate; // Stops long URLs from overflowing the article width
      @include rem( margin-left, -3px );
      display: block; // Constrains overflow
      &:before {
        content: "\00a0\27A5\00a0";
      }
    }
  }


  // Quotation; a slight modification of the basic blockquote style defines in general.scss
  body:not(.list-view) {
    article.format-quote {
      blockquote {
        @include border-rounded(6px);
        @include box-shadow-inner-big;
        @include font-size(text-bigger);
        @include rem( padding, spacer(1/2) spacer() );
        border: none;
        color: colour(text);
        footer {
          @extend %text-small;
        }
      }
    }
  }



  // Status
  body:not(.list-view) {
    article.format-status {
      .entry-content {
        @include font-size(text-bigger);
        @include font-style(status);
      }
    }
  }
} // end @if
