// ==== GENERAL ==== //

// Basics
html {
  font-size: $base-size + 0px;
  height: 100%;
}
body {
  @include font-style(body);
  background-color: colour(body-bg);
}

// Headers
h1 {
  @include font-size(head-bigger);
  margin: 0; // Reset normalize.css
}
h2 {
  @include font-size(head-big);
}
h3 {
  @include font-size(head);
}
h4 {
  @include font-size(head-small);
}
h5 {
  @include font-size(head-smaller);
}
h6 {
  @include font-size(head-smallest);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-style(head);
}

// Monospaced
code,
kbd,
pre,
samp,
var {
  @include font-style(mono);
}

// Hyphenation explicitly off for certain elements
abbr,
code,
kbd,
pre,
q,
samp,
var {
  hyphens: none;
}

// Links; simple site-wide definitions
a {
  color: inherit;
  text-decoration: none;
  transition: color .8s ease-out;
  &:hover {
    transition: color .4s ease;
  }
  &:active {
    outline: 0;
  }
  &:focus {
    outline: thin dotted;
  }
}

// Reset-like things with variables or WordPress-specific styling
abbr {
  border-bottom: 1px dotted rgba( colour(text), .4 );
  line-height: 0;
  &:hover {
    cursor: help;
  }
}
address {
  @extend %spacer-below;
  font-style: normal; // Italics is sometimes a bit harder to read
  &:first-line {
    font-weight: font(body-bold);
  }
}
b,
strong {
  font-weight: font(body-bold); // Potentially superfluous; normalize.css sets both to font-weight: bold;
}
cite,
em,
i {
  font-style: italic;
}
// Both s and strike are deprecated but still in use in some places; let's style them the same way we style `del`
del,
s,
strike {
  color: colour(text-lighter);
  opacity: .6;
  text-decoration: line-through;
}
ins {
  @include highlight( colour(highlight-bg), $radius );
  text-decoration: none;
}
hr {
  @extend %clearfix;
  @include rem( margin-bottom, spacer(), 1 );
  @include rem( margin-top, spacer() );
  background-color: colour(divider);
  border: 0;
  height: 1px;
}
mark {
  background: transparent; // Reset normalize.css
  color: colour(highlight); // Reset normalize.css
  text-decoration: none;
}
small { // Set to font-size: 80% in Normalize.css
  display: inline-block; // This is non-standard but HTML5 now defines this element as "fine print"
}



// == QUOTATIONS == //

blockquote {
  @extend %spacer-below;
  @include font-size(text-small);
  @include rem( padding, spacer(1/2) spacer(1/2) spacer(1/2) spacer() - 3px );
  @include scut-reverse-italics;
  @include text-shadow-small;
  background: colour(body-bg);
  border-left: 3px solid colour(blockquote);
  color: rgba( colour(text), .75); // Transparent so that blockquotes can be nested
  quotes: none; // From the Meyer Reset
  blockquote {
    background: rgba( darken( colour(body-bg), 5), .3 );
  }
  &:before, &:after { // From the Meyer Reset
    content: "";
    content: none;
  }
  p {
    &:last-child {
      margin: 0;
    }
    &:first-child:before { // Add opening and closing quotation marks to the blockquote element
      content: "\201C";
    }
    &:nth-last-of-type(1):after { // Correctly adds quotation mark when footer or cite elements are present at the end of the blockquote
      content: "\201D";
    }
  }
  footer { // The footer element of a blockquote adds information about the source of the quotation
    @include font-size(text-smaller);
    display: block;
    font-style: normal;
    text-align: right;
    cite {
      font-style: italic; // Cancelled out by the scut-reverse-italics mixin above
    }
    &:before {
      content: "\2014\00a0"; // Citation dash
    }
  }
}
q {
  quotes: none;
  &:before {
    content: "\201C";
  }
  &:after {
    content: "\201D";
  }
}



// == CODE == //

pre,
code {
  font-feature-settings: 'liga' 0; // Explicitly switch off ligatures for monospaced fonts
}
pre {
  @extend %spacer-below;
  @include border-rounded;
  @include box-shadow-inner-big( colour(shadow-darkest) );
  @include font-size(text-small);
  @include text-shadow-small( black(.28) );
  @include rem( padding, spacer(1/2) );
  background: colour(code-box-bg);
  border-left: 6px solid colour(code-box);
  color: colour(code-box);
  margin-left: -6px;
  tab-size: 2;
  white-space: pre;
  word-wrap: normal; // Allows for horizontal scrollbars
  code {
    white-space: pre; // Allows for horizontal scrollbars
  }
}
code,
kbd,
var {
  display: inline;
  line-height: 0; // Fixes vertical rhythm for oversized monospaced fonts
  white-space: pre-wrap;
}
code {
  div > &,
  em > &,
  li > &,
  p > &,
  strong > & {
    @include highlight( colour(code-bg), 2px );
    color: colour(code);
    font-size: 80%; // Hack for fixing over-sized monospace fonts
  }
}
a code {
  color: colour(link);
}



// == LISTS == //

ul,
ol,
dl {
  font-style: normal;
}
ol,
ul {
  @extend %list-style-none;
}
dl {
  @extend %list-style-none;
  dt {
    font-weight: font(body-bold);
  }
}



// == TABLES == //

table {
  font-feature-settings: 'tnum'; // This might just be wishful thinking depending on the font in use
}
caption,
td,
th {
  text-align: left;
}



// == MEDIA == //

figure {
  @extend %spacer-reset; // Reset normalize.css
}
embed,
iframe,
object,
video {
  @extend %max-width-100; // Make sure embeds and iframes fit their containers
}



// == FORMS == //

// Textarea is not reset in the Eric Meyer reset; let's do that here
textarea {
  font-size: 100%;
  margin: 0;
}

// Text input
input,
textarea {
  box-sizing: border-box; // To account for padding and such
  font-family: inherit; // Possibly redundant
}
input[type="email"],
input[type="password"],
input[type="search"],
input[type="text"],
input[type="url"],
textarea {
  @include input-text;
  vertical-align: top;
}

// Reset rounded corners and shadows on certain form elements
input[type="checkbox"],
input[type="color"],
input[type="file"],
input[type="hidden"],
input[type="image"],
input[type="radio"] {
  border-radius: 0;
  &:focus,
  &:active {
    @extend %box-shadow-reset;
  }
}

// Select dropdown, simplified; currently using Selectric to style selects
select {
  @include font-size(text-smaller);
  @include rem( height, spacer(4/5) );
  @include rem( margin-bottom, spacer(1/5) );
  border: 1px solid colour(interface);
  color: colour(text-light);
  cursor: pointer;
  display: inline-block;
  outline: 0;
}

// Fieldset; resets styling imposted by normalize.css
fieldset {
  @include rem( margin, 0 0 spacer(1/2) 0 );
  border: none;
  padding: 0;
}

// Remove default Firefox styling of invalid form input; via: https://developer.mozilla.org/en-US/docs/Web/CSS/:invalid
//:invalid
:-moz-submit-invalid,
:-moz-ui-invalid {
  @extend %box-shadow-reset;
}
