// ==== HELPERS ==== //

// These silent selectors should be used for common styling patterns but don't overdo it; only use extends frivolously when a declaration has a single property

// Clearfix
%clearfix-above {
  @include k-clearfix-above;
}
%clearfix-below {
  @include k-clearfix-below;
}
%clearfix {
  @include k-clearfix;
}
%clearfix-reset {
  @include k-clearfix-reset;
}

// Spacing, to preserve a modicum of vertical rhythm
%spacer-above {
  @include rem( margin-top, spacer() );
}
%spacer-above-double {
  @include rem( margin-top, spacer(2) );
}
%spacer-above-triple {
  @include rem( margin-top, spacer(3) );
}
%spacer-above-half {
  @include rem( margin-top, spacer(1/2) );
}
%spacer-below {
  @include rem( margin-bottom, spacer() );
}
%spacer-below-double {
  @include rem( margin-bottom, spacer(2) );
}
%spacer-below-triple {
  @include rem( margin-bottom, spacer(3) );
}
%spacer-below-half {
  @include rem( margin-bottom, spacer(1/2) );
}
%spacer-reset {
  margin: 0;
}

// Alignment
%align-left {
  float: left;
}
%align-right {
  float: right;
}
%align-center {
  @extend %clearfix-below;
  @include k-center-block;
  text-align: center; // Presumably we might be applying this to elements that contain text
}
%align-none {
  @extend %clearfix;
  margin-left: 0;
  margin-right: 0;
}

// Positioning
%bottom-left {
  @include k-absolute(bottom 0 left 0);
}
%bottom-right {
  @include k-absolute(bottom 0 right 0);
}
%top-left {
  @include k-absolute(top 0 left 0);
}
%top-right {
  @include k-absolute(top 0 right 0);
}

// Hide
%hide {
  @include k-hide-visually;
}
%hide-below-medium {
  @include k-media-below( break(medium) ) {
    @include k-hide-visually;
  }
}
%hide-below-large {
  @include k-media-below( break(large) ) {
    @include k-hide-visually;
  }
}

// Font styling
%body-light {
  font-family: $f-body;
  font-weight: $w-body-light;
}
%body-normal {
  font-family: $f-body;
  font-weight: $w-body-normal;
}
%body-bold {
  font-family: $f-body;
  font-weight: $w-body-bold;
}
%body-bold-uppercase {
  font-family: $f-body;
  font-weight: $w-body-bold;
  font-feature-settings: 'lnum'; // To go with all uppercase letters
  text-transform: uppercase;
}
%core-light {
  font-family: $f-core;
  font-weight: $w-core-light;
}
%core-normal {
  font-family: $f-core;
  font-weight: $w-core-normal;
}
%core-bold {
  font-family: $f-core;
  font-weight: $w-core-bold;
}
%core-bold-uppercase {
  font-family: $f-core;
  font-weight: $w-core-bold;
  font-feature-settings: 'lnum';
  text-transform: uppercase;
}
%head-light {
  font-family: $f-head;
  font-weight: $w-head-light;
}
%head-normal {
  font-family: $f-head;
  font-weight: $w-head-normal;
}
%head-bold {
  font-family: $f-head;
  font-weight: $w-head-bold;
}
%head-bold-uppercase {
  font-family: $f-head;
  font-weight: $w-head-bold;
  font-feature-settings: 'lnum';
  text-transform: uppercase;
}
%mono-normal {
  font-family: $f-mono;
  font-weight: $w-mono-normal;
}

// Font sizes
%text-small {
  @include font-size(text-small);
}
%text-smaller {
  @include font-size(text-smaller);
}
%text-smallest {
  @include font-size(text-smallest);
}

// Lists
%lists {
  @include list-ordered;
  @include list-unordered;
}

// Links
%links {
  @include links;
}
%links-no-border {
  @include links( $link-border: false );
}
%links-meta {
  @include links( colour(meta-link), false, colour(meta-link-h), false, false);
}
%links-meta-no-border {
  @include links( colour(meta-link), false, colour(meta-link-h), false, false, $link-border: false);
}
%links-reset-border {
  a,
  a:visited,
  a:hover,
  a:focus,
  a:active {
    border-bottom: none;
  }
}

// Interface
%button-container {
  @include button-container;
}

// Various shortcuts
%list-style-none {
  list-style: none;
}
%max-width-100 {
  max-width: 100%;
}
