// ==== HELPERS ==== //

// These silent selectors should be used for common styling patterns

// Clearfix
%clearfix-above {
  @include k-clearfix-above;
}
%clearfix-below {
  @include k-clearfix-below;
}
%clearfix {
  @include k-clearfix;
}

// Hide
%hide {
  @include k-hide-visually;
}
%hide-below-medium {
  @include k-media-below($b-medium) {
    @include k-hide-visually;
  }
}
%hide-below-large {
  @include k-media-below($b-large) {
    @include k-hide-visually;
  }
}

// Spacing, to preserve a modicum of vertical rhythm
%spacer-above {
  @include rem("margin-top", $spacer);
}
%spacer-above-double {
  @include rem("margin-top", $spacer*2);
}
%spacer-above-triple {
  @include rem("margin-top", $spacer*3);
}
%spacer-above-half {
  @include rem("margin-top", $spacer/2);
}
%spacer-below {
  @include rem("margin-bottom", $spacer);
}
%spacer-below-double {
  @include rem("margin-bottom", $spacer*2);
}
%spacer-below-triple {
  @include rem("margin-bottom", $spacer*3);
}
%spacer-below-half {
  @include rem("margin-bottom", $spacer/2);
}

// Font sizes
%text-small {
  @include font-size($s-text-small);
}
%text-smaller {
  @include font-size($s-text-smaller);
}
%text-smallest {
  @include font-size($s-text-smallest);
}

// Font styling
%body-light {
  font-family: $f-body;
  font-weight: $w-body-light;
}
%body-normal {
  font-family: $f-body;
  font-weight: $w-body-normal;
}
%body-bold {
  font-family: $f-body;
  font-weight: $w-body-bold;
}
%head-light {
  font-family: $f-head;
  font-weight: $w-head-light;
}
%head-normal {
  font-family: $f-head;
  font-weight: $w-head-normal;
}
%head-bold {
  font-family: $f-head;
  font-weight: $w-head-bold;
}
%head-bold-uppercase {
  font-family: $f-head;
  font-weight: $w-head-bold;
  text-transform: uppercase;
}

// UI elements
%button-container {
  @include button-container;
}
