// ==== ICONS ==== //

// SVG icon sets; style icons individually, by set, or as a group
svg {
  &.icon {
    @include rem( height, 24px );
    @include rem( width, 24px );
    display: inline-block;
    fill: currentColor; // Inherit color
    vertical-align: baseline; // Options: baseline, sub, super, text-top, text-bottom, middle, top, bottom

    button &,
    .button & {
      @include icon-size-inline;
      @include icon-right;
    }

    .button.button-left & {
      @include icon-left; // Left aligned button icons (for previous page etc.)
    }

    .overlay & {
      @include rem( height, 14px );
      @include rem( width, 14px );
      filter: drop-shadow( 0px 1px 1px black(.6) );
      @include k-media-above( break(medium) ) {
        @include rem( height, 20px );
        @include rem( width, 20px );
        vertical-align: -2px;
      }
    }
    @if module(ubik-places) {
      .overlay .place.top-right & {
        margin-right: -3px; // Moves icons to the right a bit
      }
    }

    .no-image & {
      @include k-absolute(top 0 left 0 bottom 0 right 0);
      color: grey(120);
      filter: drop-shadow( 2px 2px 4px black(.3) );
      margin: auto;
      opacity: .5;
      height: 75%;
      width: 75%;
    }
  }

  // Fix jQuery bug: http://bugs.jquery.com/ticket/11352
  use {
    pointer-events: none;
  }
}

// Theme-specific
.social-icons {
  @extend %spacer-below-half;
  a {
    outline: none;
  }
  svg.icon {
    @include rem( height, spacer(1.5) );
    @include rem( width, spacer(1.5) );
    @include rem( margin, 0 4px 0 -6px );
    fill: colour(social);
    transition: all .7s ease-out;
    &:hover {
      fill: colour(social-h);
      transition: all .23s ease;
      transform: rotate(360deg);
    }
    &:active {
      transform: translateY(1px);
    }
  }
}
