// ==== IMAGE ==== //

// - Placeholder
// - Captions
// - Layout
// - Gallery
// - Image Metadata



// == PLACEHOLDER == //

// Image placeholder hack; fills out the space when a requested image isn't found
.no-image {
  @include image-fallback;
  padding-bottom: 100%;
}



// == CAPTIONS == //

:not(figure).wp-caption {
  @extend %spacer-below;
  max-width: 100%; // Keep wide captions from overflowing their containers
}
.entry-caption,
.wp-caption-text {
  @extend %clearfix-below;
  @include font-size(text-smaller);
  @include k-reverse-italics;
  color: lighten( colour(text-lightest), 10);
  max-width: 100%;
  .full-width & {
    @include font-size(text-small);
  }
}



// == LAYOUT == //

// Individual responsive images in posts, not comments; isolating these declarations from _content.scss reduces bloat
figure.wp-caption,
.entry-content p img {
  @extend %spacer-below;
  backface-visibility: hidden;
  overflow: auto; // Without this the floats won't float
  &.alignleft {
    margin-right: percentage( spacer() / $width-main );
    .full-width & {
      margin-right: percentage( spacer() / $width-content );
    }
  }
  &.alignright {
    margin-left: percentage( spacer() / $width-main );
    .full-width & {
      margin-left: percentage( spacer() / $width-content );
    }
  }
  &.aligncenter {
    img { // Applies centering to the image within the figure, not the figure element itself
      @include k-center-block;
    }
  }
}



// == GALLERY == //

// Parts of this were originally adapted from Independent Publisher: https://github.com/raamdev/independent-publisher/

// Notes:
// - WordPress applies the `gallery` and `gallery-item` classes in `[gallery]` shortcode output
// - The following styling builds on that in an extensible way i.e. you can apply the `gallery` class to other things and achieve the same layout
// - One caveat is that the `gallery-item` class is NOT applied in other contexts; it is simply inherited by qualifying `figure` elements

// The main gallery class
.gallery {
  @extend %clearfix;

  // Nicer layout for successive galleries
  @if spacer() != $spacer-image {
    & + & {
      @include rem( margin-top, - ( spacer() - $spacer-image ) ); // Assumes spacer() > $spacer-image
    }
  }
}

// Individual gallery items with percentage-based margins
.gallery-item,
.gallery figure.wp-caption {
  float: left;
  margin: 0 percentage( $spacer-image / $width-main ) percentage( $spacer-image / $width-main ) 0;
  width: 100%; // Force images to fill the available space
  .full-width & {
    margin: 0 percentage( $spacer-image / $width-content ) percentage( $spacer-image / $width-content ) 0;
  }
}

// Generate column widths and flow control for 2, 3, 4, 5, and 6 column galleries
@for $i from 2 to 7 {
  .gallery-columns-#{$i} {
    .gallery-item,
    figure.wp-caption {
      max-width: percentage( 1 / ($i) ) - percentage( ( ( $spacer-image * ($i - 1) ) / $width-main ) / $i );
      &:nth-of-type(#{$i}n) {
        margin-right: 0;
      }
      &:nth-of-type(#{$i}n+1) {
        clear: left;
      }
      .full-width & {
        max-width: percentage( 1 / ($i) ) - percentage( ( ( $spacer-image * ($i - 1) ) / $width-content ) / $i );
      }
    }
  }
}

// Don't display captions on small thumbnails and try to be halfway smart about it
@if module(gallery-shortcode) {
  .gallery-columns-4,
  .gallery-columns-5,
  .gallery-columns-6 {
    .gallery-caption {
      @extend %hide-below-large;
    }
  }
}



// == OVERLAYS == //

// General overlay helpers; @TODO: integrate into `lib/_images.scss`
.overlay {
  @include font-size(text-small);
  @include font-style(image-overlay-caption);
  @include rem( padding, spacer(1/4) spacer(1/3) );
  color: white();
  max-width: 42.5%; // @TODO: make this more precise; currently this is just a best guess based on 300px width images
  opacity: 0;
  pointer-events: none; // Allow clicks to pass through
  text-shadow: 0px 1px 2px black(.8);
  transition: opacity .75s ease-out;
  z-index: 999;
  @if module(icons) {
    & .icon {
      @include rem( height, 14px );
      @include rem( width, 14px );
      filter: drop-shadow( 0px 1px 1px black(.6) );
    }
  }
  @include k-media-above( break(medium) ) {
    .full-width & {
      @include font-size(text);
      @if module(icons) {
        & .icon {
          @include rem( height, 20px );
          @include rem( width, 20px );
          vertical-align: -2px;
        }
      }
    }
  }
}
.overlay-bottom-left {
  @include k-absolute(bottom 0 left 0);
}
.overlay-bottom-right {
  @include k-absolute(bottom 0 right 0);
}
.overlay-top-left {
  @include k-absolute(top 0 left 0);
}
.overlay-top-right {
  @include k-absolute(top 0 right 0);
}

// This class is specific to the output of the WordPress `[gallery]` shortcode; the classes can't change without a bunch of extra code to filter the output
@if module(gallery-shortcode) {
  .gallery-item {
    @include image-overlay(".gallery-caption", caption);
  }
}

// These classes are specific to the Views module and Ubik Related
@if module(views) and module(ubik-related) {
  .gallery-view,
  .related-posts {
    figure.wp-caption {
      @include image-overlay(".wp-caption-text", title);
    }
  }
  .related-posts {
    figure.wp-caption figcaption.wp-caption-text { // Specificity required to trump the default setting
      @include k-media-below( break(medium) ) {
        @include rem( font-size, size(text-small) + 0px );
      }
    }
  }
  .full-width.gallery-view {
    figure.wp-caption figcaption {
      @include k-media-above( break(medium) ) {
        @include rem( font-size, size(text-bigger) + 0px ); // Line-height is managed independently
        text-shadow: 1px 1px 5px black(.7);
      }
    }
  }
} @elseif module(views) {
  .gallery-view {
    figure.wp-caption {
      @include image-overlay(".wp-caption-text", title);
    }
  }
  .full-width.gallery-view {
    figure.wp-caption figcaption {
      @include k-media-above( break(medium) ) {
        @include rem( font-size, size(text-bigger) + 0px ); // Line-height is managed independently
        text-shadow: 1px 1px 5px black(.7);
      }
    }
  }
} @elseif module(ubik-related) {
  .related-posts {
    figure.wp-caption {
      @include image-overlay(".wp-caption-text", title);
    }
  }
  .related-posts {
    figure.wp-caption figcaption.wp-caption-text { // Specificity required to trump the default setting
      @include k-media-below( break(medium) ) {
        @include rem( font-size, size(text-small) + 0px );
      }
    }
  }
}



// == IMAGE METADATA == //

// Styling specific to the Image Metadata module for Pendrell
@if module(image-metadata) {
  .image-description {
    @include font-size(text-small);
  }
}
