// ==== IMAGE ==== //

// - Placeholder
// - Captions
// - Layout
// - Gallery
// - Image Metadata



// == PLACEHOLDER == //

// Image placeholder hack; fills out the space when a requested image isn't found
.no-image {
  @include image-fallback;
  padding-bottom: 100%;
}



// == CAPTIONS == //

:not(figure).wp-caption {
  @extend %spacer-below;
  max-width: 100%; // Keep wide captions from overflowing their containers
}
.entry-caption,
.wp-caption-text {
  @extend %clearfix-below;
  @include font-sizes($s-text-smaller, $s-text-small);
  @include k-reverse-italics;
  color: lighten($c-text-lightest, 10);
  max-width: 100%;
}



// == LAYOUT == //

// Individual responsive images in posts, not comments; isolating these declarations from _content.scss reduces bloat
figure.wp-caption,
.entry-content p img {
  @extend %spacer-below;
  overflow: auto; // Without this the floats won't float
  &.alignleft {
    margin-right: percentage($spacer / $main-width);
    .full-width & {
      margin-right: percentage($spacer / $content-width);
    }
  }
  &.alignright {
    margin-left: percentage($spacer / $main-width);
    .full-width & {
      margin-left: percentage($spacer / $content-width);
    }
  }
  &.aligncenter {
    img { // Applies centering to the image within the figure, not the figure element itself
      @include center;
    }
  }
}



// == GALLERY == //

// Parts of this were originally adapted from Independent Publisher: https://github.com/raamdev/independent-publisher/

// Notes:
// - WordPress applies the `gallery` and `gallery-item` classes in `[gallery]` shortcode output
// - The following styling builds on that in an extensible way i.e. you can apply the `gallery` class to other things and achieve the same layout
// - One caveat is that the `gallery-item` class is NOT applied in other contexts; it is simply inherited by qualifying `figure` elements

// The main gallery class
.gallery {
  @extend %clearfix;

  // Nicer layout for successive galleries
  @if $spacer != $d-image-spacer {
    & + & {
      @include rem("margin-top", -($spacer - $d-image-spacer) ); // Assumes $spacer > $d-image-spacer
    }
  }
}

// Individual gallery items with percentage-based margins
.gallery-item,
.gallery figure.wp-caption {
  float: left;
  margin: 0 percentage($d-image-spacer / $main-width) percentage($d-image-spacer / $main-width) 0;
  width: 100%; // Force images to fill the available space
  .full-width & {
    margin: 0 percentage($d-image-spacer / $content-width) percentage($d-image-spacer / $content-width) 0;
  }
}

// Generate column widths and flow control for 2, 3, 4, 5, and 6 column galleries
@for $i from 2 to 7 {
  .gallery-columns-#{$i} {
    .gallery-item,
    figure.wp-caption {
      max-width: percentage(1 / ($i) ) - percentage( ( ($d-image-spacer * ($i - 1) ) / $main-width) / $i);
      &:nth-of-type(#{$i}n) {
        margin-right: 0;
      }
      &:nth-of-type(#{$i}n+1) {
        clear: left;
      }
      .full-width & {
        max-width: percentage(1 / ($i) ) - percentage( ( ($d-image-spacer * ($i - 1) ) / $content-width) / $i);
      }
    }
  }
}

// Don't display captions on small thumbnails and try to be halfway smart about it
@if ($m-gallery-shortcode) {
  .gallery-columns-4,
  .gallery-columns-5,
  .gallery-columns-6 {
    .gallery-caption {
      @include k-media-below($b-large) { // @TODO: verify that this is working
        @include hide;
      }
    }
  }
}



// == OVERLAYS == //

// This class is specific to the output of the WordPress `[gallery]` shortcode; the classes can't change without a bunch of extra code to filter the output
@if ($m-gallery-shortcode) {
  .gallery-item {
    @include image-overlay(".gallery-caption", "caption");
  }
}

// These classes are specific to the Views module and Ubik Related
@if ($m-views and $m-ubik-related) {
  .gallery-view,
  .related-posts {
    figure.wp-caption {
      @include image-overlay(".wp-caption-text", "title");
    }
  }
} @elseif ($m-views) {
  .gallery-view {
    figure.wp-caption {
      @include image-overlay(".wp-caption-text", "title");
    }
  }
} @elseif ($m-ubik-related) {
  .related-posts {
    figure.wp-caption {
      @include image-overlay(".wp-caption-text", "title");
    }
  }
}



// == IMAGE METADATA == //

// Styling specific to the Image Metadata module for Pendrell
@if ($m-image-metadata) {
  .image-info {
    @extend %spacer-above;
    @include rem("padding-top", $spacer, 1);
    border-top: $d-divider;
  }
  .image-description {
    @include font-size($s-text-smaller);
    @include k-media-above($b-medium) {
      @include font-size($s-text-small);
    }
  }
}
