// ==== INTERFACE ==== //

// This partial is meant to contain all user interface elements: buttons, menus, and so on

// Button styling adapted from Twenty Twelve
button,
.button a,
input[type="submit"],
input[type="button"],
input[type="reset"],
#cancel-comment-reply-link {
  @include button;
}



// Site interface: the toolbar/menu at top right
#site-interface {
  display: block;
  // Spacing needs to match the spacing in the layout-box mixin in the custom library
  @include k-absolute(right $spacer top $spacer);
  @include respond-to(medium) {
    @include rem('right', $spacer*1.5);
  }
}



// Menu toggle for mobile phones and small screens
#responsive-menu-toggle {
  @include respond-to(medium) {
    display: none;
  }
  &.toggled {
    @extend button:active;
  }
}



// Button dropdown wrapper; apply to a list within a button element; borrows only the essentials from Kipple's k-list-nested mixin
ul.button-dropdown {
  @include dropdown-button(right);
  display: none;
  //opacity: 0;
  //transition: opacity .3s ease-out, visibility .3s ease-out;
  //visibility: hidden;
  //button:hover > & {
  //  opacity: 1;
  //  transition: opacity .09s ease-in, visibility .09s ease-in;
  //  visibility: visible;
  //}
}



// Tooltips are based on the data-tooltip attribute; e.g. <span data-tooltip="This is a tooltip">Hover here!</span>
.tooltip,
span[data-tooltip] {
  @include tooltip;
}
