// ==== INTERFACE ==== //

// This partial is meant to contain all user interface elements: buttons, forms, and so on...

// == BUTTONS == //

%button {
  @include button-capsule;
}
%button-1 {
  @include button-capsule-flat;
}
button,
.button,
input[type="button"], // @TODO: eliminate `input`, introduce `button` elements instead
input[type="reset"],
input[type="submit"] {
  @extend %button;
  @extend %button-1;
}
button[type="submit"],
input[type="submit"] {
  // Nothing special
}
input[type="reset"] {
  // Nothing special
}
.button-action {
  //@extend %button-capsule-theme-2;
}

// Containers and groups by functionality
.buttons {
  @include button-group;
}
.buttons-merge {
  @include button-merge;
}



// == FORMS == //

// General form styling rules; applies to contact, comments, password, and search forms in the site content area
.site-content form {
  @extend %links-no-border;
  @include font-size(head-smaller);
  input[type="email"],
  input[type="text"],
  input[type="url"] {
    width: percentage( ( ( $width-main / 2 ) - 8 ) / $width-main ); // Should yield a perfect 50% after accounting for borders and such
  }
  button[type="submit"],
  input[type="submit"] {
    //display: block;
  }
  textarea {
    max-width: $width-main;
    width: 100%;
  }
  div { // Presumably explanatory text; let's give it some space to breathe
    @extend %spacer-below-half;
  }
}

// Form errors; specific to the contact form for the most part, but designed for reuse
input.error,
textarea.error {
  box-shadow: 0 0 6px rgba( colour(error), .9 );
  border: 1px solid colour(error);
  outline: none;
}

// Labels
label {
  &:not(.error):not(.checkbox-label) {
    @include font-style(label);
    display: block;
  }
  &.checkbox-label {
    @include font-size(text-smaller);
    @include rem( margin-left, 6px );
    display: inline;
  }
  &.error {
    @include font-size(text-smaller);
    color: colour(error);
    display: block; // Errors go below inputs
    font-weight: $w-body-bold;
  }
}

// General form classes
.alert {
  @extend %spacer-below-half;
}
.error {
  color: colour(error);
  font-weight: $w-body-bold;
}
.notice {
  font-style: italic;
}
.required {
  color: colour(required);
}
.success {
  color: colour(success);
}
.warning {
  color: colour(error);
  font-style: italic;
}

// Specific to the comments form
.comment-form-wrap {
  @extend %spacer-below-double; // Needed for when the comment form moves around
}
.comment-notes-after {
  @extend %spacer-below-half;
  @include font-size(text-smaller);
  color: colour(text-lighter);
  code {
    @include font-size(text-smallest);
    @include k-highlight-reset;
    display: inline;
  }
}

// Post password form
.form-post-password {
  @extend %spacer-below;
  button {
    @include rem( margin, 0 0 0 6px );
  }
}

// Specific to the contact form (CF1)
.contact-form-spinner,
.contact-form-status {
  @extend %spacer-above;
}



// == SEARCH FORM == //

// Search form input field stretches to the width of the contain; adapted from: http://boulderinformationservices.wordpress.com/2011/02/02/input-field-and-submit-button-on-the-same-line-full-width/
.search-form {
  @include font-size(text-smallest); // Keeps the search button from getting too large for some reason; @TODO: puzzle this bug out
  width: 50%;
  .site-navigation &,
  .widget & {
    width: 100%; // Search form in the navigation and sidebar stretches to fill
  }
}
.search-field-wrap {
  overflow: hidden;
  padding-right: spacer(1/2);
}
.search-field {
  width: 100%;
  &:focus {
    outline: none; // Remove a weird glow caused by all this CSS voodoo
  }
}
.search-submit {
  float: right;
  margin: 0 0 0 6px;
}



// == SELECTRIC == //

// Replaces default select menus with a bit of jQuery magic; see `lib/_selectric.scss` for actual styling
@include selectric;



// == TOOLTIPS == //

// Tooltips are based on the data-tooltip attribute; e.g. <span data-tooltip="This is a tooltip">Hover here!</span>
.tooltip,
span[data-tooltip] {
  @include k-tooltip(
    $offset: spacer() - 6px
  , $tooltip-background: colour(highlight-bg)
  , $tooltip-border: 1px solid colour(interface)
  , $tooltip-border-radius: $radius
  , $tooltip-color: colour(text)
  , $tooltip-font-size: size(text-smaller)
  , $tooltip-triangle-color: colour(interface)
  );
  border-bottom: 1px dotted rgba( colour(text), .4 );
  &:before {
    max-width: 600px;
    width: 50vw;
  }
}
