// ==== INTERFACE ==== //

// This partial is meant to contain all user interface elements: buttons, forms, and so on...



// == BUTTONS == //

%button {
  @include button-capsule;
}
%button-container {
  @include button-container;
}
%button-group {
  @include button-group;
}
button,
.button,
input[type="button"], // @TODO: eliminate `input`, introduce `button` elements instead
input[type="reset"],
input[type="submit"] {
  @extend %button;
}
button[type="submit"],
input[type="submit"] {
  // Nothing special
}
input[type="reset"] {
  // Nothing special
}

// Containers and groups by functionality
.archive-buttons,
.entry-meta-buttons,
.comment-buttons,
.comment-reply-title small {
  @extend %button-container;
}
.archive-buttons,
.entry-meta-buttons,
.comment-buttons {
  @extend %button-group;
}



// == FORM ELEMENTS == //

// Form entry; @TODO: expand on this section
.alert {
  color: colour(alert);
  font-weight: $w-body-bold;
}
.notice {
  font-style: italic;
}
.required {
  color: colour(required);
}
.success {
  color: colour(success);
}
.warning {
  color: colour(alert);
  font-style: italic;
}

// Form errors; specific to the contact form for the most part, but designed for reuse
input.error,
textarea.error {
  box-shadow: 0 0 6px rgba( colour(alert), .9 );
  border: 1px solid colour(alert);
  outline: none;
}

// Labels
label {
  &:not(.error):not(.checkbox-label) {
    @include font-style(label);
    @include rem( margin-top, spacer(1/2) );
    display: block;
  }
  &.checkbox-label {
    @include font-size(text-smaller);
    @include rem( margin-left, spacer(1/4) );
    display: inline;
  }
  &.error {
    @include font-size(text-smaller);
    color: colour(alert);
    display: block; // Errors go below inputs
    font-weight: $w-body-bold;
  }
}



// == ICONS == //

// SVG icon sets; style icons individually, by set, or as a group
svg {
  @if module(ubik-svg-icons) {
    &.icon {
      @include rem( height, 24px );
      @include rem( width, 24px );
      display: inline-block;
      fill: currentColor; // Inherit color
      vertical-align: baseline; // Options: baseline, sub, super, text-top, text-bottom, middle, top, bottom

      button &,
      .button & {
        @include rem( height, 18px );
        @include rem( width, 18px );
        @include rem( margin, 4px -4px 0 4px );
        filter: drop-shadow( 0 1px 1px rgba( colour(body-bg), .9 ) ); // Matches letterpress effect
        float: right;
      }

      button &.icon-typ-th-list,
      .button &.icon-typ-th-list {
        @include rem( height, 16px );
        @include rem( width, 16px );
        @include rem( margin, 5px -4px 0 5px );
      }
    }
  }

  // Fix jQuery bug: http://bugs.jquery.com/ticket/11352
  use {
    pointer-events: none;
  }
}



// == SITE INTERFACE == //

// Site interface: the toolbar/menu at top right
.site-interface {
  @include k-absolute(right 0 top 0);
  display: block;
}

// Menu toggle for mobile phones and small screens
.menu-toggle {
  @include k-media-above( break(medium) ) {
    display: none;
  }
  &.active svg.icon {
    filter: drop-shadow( 0 -1px 1px rgba( colour(body-bg), .9 ) ); // Reverses letterpress effect
  }
}

// Skip link
.skip-link {
  opacity: 0;
  position: fixed;
  right: 99999%;
  &:focus {
    opacity: 1;
    outline-width: 1px;
    position: static;
    transition: opacity .3s;
  }
}



// == RESPONSE FORM == //

// Response form; used in comments and the contact form; @TODO: generalize label styling
.comment-form,
.contact-form {
  @include font-size(head-smaller);
  input[type="email"],
  input[type="text"],
  input[type="url"] {
    font-family: inherit; // Possibly redundant
    width: percentage( ( ( $width-main / 2 ) - 8) / $width-main ); // Should yield a perfect 50% after accounting for borders and such
  }
  textarea {
    box-sizing: border-box; // To account for padding and such
    font-family: inherit; // Possibly redundant
    max-width: $width-main;
    width: 100%;
  }
  button[type="submit"],
  input[type="submit"] {
    @extend %spacer-above;
    display: block;
  }
}

// Specific to the contact form (CF1), which inherits from #response-form
.contact-form-spinner,
.contact-form-status {
  @extend %spacer-above;
}



// == SEARCH FORM == //

// Search form input field stretches to the width of the contain; adapted from: http://boulderinformationservices.wordpress.com/2011/02/02/input-field-and-submit-button-on-the-same-line-full-width/
.search-form {
  @include font-size(text-smallest); // Keeps the search button from getting too large for some reason; @TODO: puzzle this bug out
  width: 50%; // Width of the search form in most contexts
  .site-navigation &,
  .widget & {
    width: 100%; // Search form in the sidebar stretches to fill
  }
}
.search-field-wrap {
  overflow: hidden;
  padding-right: spacer(1/2);
}
.search-field {
  width: 100%;
  &:focus {
    outline: none; // Remove a weird glow caused by all this CSS voodoo
  }
}
.search-submit {
  float: right;
  margin-left: 6px;
}



// == TOOLTIPS == //

// Tooltips are based on the data-tooltip attribute; e.g. <span data-tooltip="This is a tooltip">Hover here!</span>
.tooltip,
span[data-tooltip] {
  @include k-tooltip(
    $offset: spacer() - 6px
  , $tooltip-background: colour(highlight-bg)
  , $tooltip-border: 1px solid colour(interface)
  , $tooltip-border-radius: $radius
  , $tooltip-color: colour(text)
  , $tooltip-font-size: size(text-smaller)
  , $tooltip-triangle-color: colour(interface)
  );
  border-bottom: 1px dotted rgba( colour(text), .4 );
  &:before {
    max-width: 600px;
    width: 50vw;
  }
}
