// ==== LAYOUT ==== //

// Overall site layout
.site {
  box-sizing: border-box;
  overflow: inherit; // Fixes weird IE display (July 8, 2015)
}

// == WRAPPERS == //

// These wrappers allow for backgrounds and layout options to be defined for each of the four sections (header, content, sidebar, and footer)
// There is also a fifth meta-wrapper to bind content and sidebar on large screens in two column mode
%wrap {
  box-sizing: border-box; // Makes life a little easier
  @include k-media-below( break(small) ) {
    @include rem( padding-left, spacer(1/2) );
    @include rem( padding-right, spacer(1/2) );
  }
  @include k-media-between( break(small), break(medium) ) {
    @include rem( padding-left, spacer() );
    @include rem( padding-right, spacer() );
  }
  @include k-media-above( break(medium) ) {
    @include rem( padding-left, spacer(1.5) );
    @include rem( padding-right, spacer(1.5) );
  }
}
.wrap-header,
.wrap-sidebar {
  @include k-media-above( break(large) ) {
    @include rem( padding-left, spacer() );
    float: right;
    width: 33%;
  }
}
.wrap-header {
  @extend %wrap;
  @include rem( padding-top, spacer(1/2) );
  background: colour(bg-header);
  @include k-media-above( break(medium) ) {
    @include rem( padding-top, spacer() );
  }
}
.wrap-main {
  @extend %clearfix-below;
  background: colour(bg-content);
}
.wrap-sidebar {
  @extend %wrap;
  @include rem( padding-top, spacer() );
  @include rem( padding-bottom, spacer() );
  background: colour(bg-sidebar);
  height: auto;
}
.wrap-content {
  @extend %wrap;
  @include k-media-above( break(large) ) {
    float: left;
    padding: 0;
    width: 67%;
  }
  @include k-media-below( break(large) ) {
    background: colour(bg-content);
  }
}
.wrap-footer {
  @extend %wrap;
  background: colour(bg-footer);
  @include k-media-above( break(large) ) {
    padding: 0 33% 0 0; // See .site-footer
  }
}



// == HEADER == //

.site-header {
  position: relative; // For use with the skip link and menu toggle
  @include k-media-above( break(large) ) {
    max-width: $width-content - $width-medium;
  }
}
.site-branding {
  @extend %spacer-below-half;
  @include k-media-above( break(large) ) {
    @include rem( padding-bottom, spacer() );
  }
  &:hover .site-description { // Show site description on hover
    opacity: 1;
    transition: opacity .6s ease;
    transition-delay: .43s;
  }
}
.site-title {
  @extend %clearfix-below;
  @include font-size(site-title-small);
  @include font-style(site-title);
  white-space: nowrap;
  @include k-media-above( break(medium) ) {
    @include font-size(site-title-big);
  }
  a {
    color: colour(site-title);
    display: inline-block;
    text-decoration: none;
    &:hover {
      color: colour(highlight);
    }
  }
  svg.icon {
    @include rem( margin, 0 4px 0 -3px );
    @include rem( height, 35px );
    @include rem( width, 35px );
    color: k-colour(raven);
    transform: scale(-1,1) rotate(180deg);
    transition: all .56s ease-out;
    vertical-align: bottom;
    @include k-media-below( break(medium) ) {
      @include rem( margin, 0 2px 0 -3px );
      @include rem( height, 24px );
      @include rem( width, 24px );
    }
  }
  &:hover {
    svg.icon {
      transition: all 1.4s ease;
      transform: scale(-1,1) rotate(-180deg);
    }
  }
}
.site-description {
  @extend %clearfix-below;
  @include font-size(text-smaller);
  @include font-style(site-description);
  color: colour(site-desc);
  opacity: 0;
  transition: opacity .8s ease-out;
  @include scut-hide-visually; // No description in this theme
}
.site-interface { // Site interface: the toolbar/menu at top right
  //display: block;
  @extend %clearfix-below;
  @include k-media-below( break(medium) ) {
    margin-top: spacer(-3/2);
  }
  > * {
    @include k-media-below( break(large) ) {
      @include rem( margin-bottom, spacer(1/2) );
    }
  }
}
.site-navigation {
  @extend %max-width-100; // Prevents hidden search box from overflowing container
  @include k-media-above( break(medium) ) {
    display: block !important; // Prevents the responsive menu display state from hiding the menu on larger screens after a resize
  }
  @include k-media-below( break(medium) ) {
    display: none;
    //padding-bottom: spacer(1/2);
  }
}



// == CONTENT == //

.site-content {
  @extend %clearfix-below;
  @include rem( padding-top, spacer() );
  @include rem( padding-bottom, spacer() );
  max-width: $width-medium; // Keeps content contained regardless of whether sidebar appears
  word-wrap: break-word; // Keep text content from overflowing
  &:focus {
    outline: none; // Prevent weird blue glow when using the skip link
  }
  @include k-media-above( break(large) ) {
    @include rem( padding, spacer(3.5) spacer(2) spacer() spacer(2) );
    @include rem( padding-right, spacer(2) );
    margin-left: auto;
  }

  // Individual articles within the content area
  article {
    @extend %spacer-below-triple; // Individual articles within the content area
  }
}
main {
  @extend %clearfix; // Mainly for gallery view (in which main is filed with floating figure elements)
}
.main-title {
  @extend %spacer-below-half;
  @include font-size(head-biggest);
  @include font-style(main-title);
}
.main-desc {
  @extend %clearfix-above;
  @extend %links;
  @extend %spacer-below-double;
  p {
    @extend %spacer-below;
  }
}



// == SIDEBAR == //

// See also: `_widgets.scss`



// == FOOTER == //

.site-footer {
  @include rem( padding-bottom, spacer() );
  position: relative; // For use with the "Back to top" button
  @include k-media-above( break(large) ) {
    @include rem( padding-left, spacer(2) );
    margin-left: auto;
    max-width: $width-medium + spacer(2);
  }
  color: colour(footer);
}
.site-footer-info {
  @extend %links-meta-no-border;
  @extend %text-smallest;
  @include links( colour(footer-link), false, colour(highlight), $link-border: false );
  color: colour(footer);
}



/*
 @include font-style(archive-title);
}
.archive-desc {
  @extend %clearfix-above;
  @extend %links;
  @extend %spacer-below-double;
  @include font-size(text-small);
  p {
    @extend %spacer-below;
    color: colour(text-muted);
  }
*/
