// ==== LAYOUT ==== //

// Overall site layout
.site {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

// == WRAPPERS == //

// These wrappers allow for backgrounds and layout options to be defined for each of the four sections (header, content, sidebar, and footer)
// There is also a fifth meta-wrapper to bind content and sidebar on large screens

// A general wrapper for various site elements
%wrap {
  box-sizing: border-box; // Makes life a little easier
  @include k-media-below( break(small) ) {
    @include rem( padding-left, spacer(1/2) );
    @include rem( padding-right, spacer(1/2) );
  }
  @include k-media-between( break(small), break(medium) ) {
    @include rem( padding-left, spacer() );
    @include rem( padding-right, spacer() );
  }
  @include k-media-above( break(medium) ) {
    @include rem( padding-left, spacer(1.5) );
    @include rem( padding-right, spacer(1.5) );
  }
}
.wrap-header {
  @extend %wrap;
  @include rem( padding-top, spacer() );
  position: relative; // Contains #site-interface, which is absolutely positioned
}
.wrap-main { // Wrapper around content and sidebar
  @extend %clearfix;
  flex: 1;
  @include k-media-above( break(large) ) {
    @include rem( padding-left, spacer(1.5) );
    @include rem( padding-right, spacer(1.5) );
    display: flex;
    justify-content: center;
  }
}
.wrap-content {
  @extend %wrap;
  flex: 1;
  @include rem( padding-top, spacer() );
  @include rem( padding-bottom, spacer() );
  @include k-media-above( break(large) ) {
    @include rem( padding-right, spacer() );
    float: left;
    max-width: $width-main;
    padding-left: 0;
    width: percentage( $width-main / $width-content );
    .full-width & {
      float: none;
      max-width: $width-content;
      padding-right: 0;
      width: 100%;
    }
  }
}
.wrap-sidebar {
  @extend %wrap;
  @include rem( padding-top, spacer() );
  @include rem( padding-bottom, spacer() );
  @include k-media-above( break(large) ) {
    @include rem( padding-left, spacer() );
    float: right;
    max-width: $width-content - $width-main;
    padding-right: 0;
    width: percentage( 1 - ( $width-main / $width-content ) );
    .full-width & {
      float: none;
      padding-left: 0;
      width: 100%;
    }
  }
}
.wrap-footer {
  @extend %wrap;
  position: relative; // For use with the "Back to top" button
}



// == HEADER == //

.site-header {
  @include k-center-block( $width-content );
  position: relative; // For use with the skip link and menu toggle
}
.site-branding {
  @include rem( padding-bottom, spacer(1/2) );
  &:hover .site-description { // Show site description on hover
    opacity: 1;
    transition: opacity .6s ease;
  }
}
.site-title {
  @extend %clearfix-below;
  @include font-size(head);
  @include font-style(site-title);
  @include k-media-above( break(medium) ) {
    @include font-size(head-biggest);
  }
  a {
    color: colour(site-title);
    display: inline-block;
    text-decoration: none;
    &:hover {
      color: colour(link-h);
    }
  }
}
.site-description {
  @extend %clearfix-below;
  @include font-size(text-smaller);
  @include font-style(site-description);
  color: colour(site-desc);
  opacity: 0;
  transition: opacity .8s ease-out;
  @extend %hide-below-medium; // Hide the site description on smaller screens
}
.site-navigation {
  @include k-media-below( break(medium) ) {
    display: none;
  }
  .search-form {
    @include rem( margin-bottom, spacer(1/2) );
    @include k-media-above( break(medium) ) {
      display: none;
    }
  }
  &.active {
    display: block;
  }
}
.site-interface { // Site interface: the toolbar/menu at top right
  @include k-absolute(right 0 top 0);
  display: block;
}



// == CONTENT == //

.site-content {
  @extend %clearfix-below;
  max-width: $width-main; // Keeps content contained regardless of whether sidebar appears
  word-wrap: break-word; // Keep text content from overflowing
  &:focus {
    outline: none; // Prevent weird blue glow when using the skip link
  }
  .full-width & {
    max-width: $width-content;
  }

  // Individual articles within the content area
  article {
    @extend %spacer-below-triple;
  }
}
main {
  @extend %clearfix; // Mainly for gallery view (in which main is filed with floating figure elements)
}



// == SIDEBAR == //

// See also: `_widgets.scss`
.site-sidebar {
  max-width: $width-main;
  @include k-media-between( break(small), break(large) ) {
    @include rem( column-gap, spacer(2) );
    column-count: 2;
    .widget {
      //break-inside: avoid; // Weird bug in Chrome
    }
  }
}



// == FOOTER == //

.site-footer {
  @extend %links-meta-no-border;
  @include k-center-block( $width-content );
  @include rem( padding-bottom, spacer() );
  color: colour(footer);
  .buttons {
    @include k-media-above( break(medium) ) {
      @include k-hide-visually;
    }
  }
}
.site-footer-info {
  @extend %text-smallest;
}
