// ==== LAYOUT ==== //

// == BACKGROUNDS == //

.site-header-wrapper {
  // Header background
}
.site-content-wrapper {
  // Content background
}
.site-footer-wrapper {
  // Footer background
}



// == HEADER == //

.site-header {
  @include layout-box;
  @include rem('padding-top', $spacer);
  position: relative;
}
.site-title {
  @extend %clearfix-below;
  @include font-size($s-header);
  font-weight: 200;
  text-transform: uppercase;
  @include respond-to(medium) {
    @include font-size($s-header-title);
  }
  a {
    color: $c-site-title;
    display: inline-block;
    text-decoration: none;
    &:hover {
      color: $c-link-h;
    }
  }
}
.site-description {
  @extend %clearfix-below;
  @include font-size($s-text-smaller);
  color: $c-site-desc;
  opacity: 0;
  transition: opacity .8s ease-out;

  // Hide the site description on smaller screens
  @include k-media-below($b-medium) {
    @include hide;
  }
}
.site-branding {
  @include rem('padding-bottom', $spacer/2);

  // Show site description
  &:hover .site-description {
    opacity: 1;
    transition: opacity .5s ease;
  }
}



// == CONTENT == //

.site-content {
  @extend %clearfix-below;
  @include layout-box;
  @include rem('padding-bottom', $spacer);
  @include rem('padding-top', $spacer);
}
.content-area {
  max-width: $main-width; // Keeps content contained regardless of whether sidebar appears
  // Float for the sidebar
  @include respond-to(large) {
    float: left;
    max-width: percentage( $main-width / $content-width );
  }
  // Individual articles
  article {
    @include rem('margin-bottom', $spacer*3);
  }
  // Remove sidebar and float on full-width display
  @include full-width {
    float: none;
    max-width: 100%;
  }
}



// == FOOTER == //

.site-footer {
  @extend %clearfix-below;
  @include layout-box;
  @include link-stylist($c-footer-link, $c-footer-link-v, $c-footer-link-h, $c-footer-link-a, $c-footer-link-f, $link-border: false);
  color: $c-footer;
}
.site-footer-buttons {
  @extend %button-container;
  display: block;
  @include respond-to(medium) {
    display: none;
  }
}
.site-footer-info {
  @extend %spacer-below;
  @include font-size($s-text-smallest);
}
