// ==== MENU ==== //

// Common
.menu-header,
.menu-footer {
  width: 100%;
  > li {
    a {
      color: colour(menu-sub);
      &:hover {
        color: colour(menu-sub-h);
      }
    }
    > a {
      @include rem( padding, 3px 6px );
      background: black();
      color: colour(menu-link);
      &:hover {
        background: black(.7);
        color: colour(menu-link-h);
      }
    }
  }

  // Immediate children link styling
  > .current-menu-item,
  > .current-menu-ancestor,
  > .current_page_item,
  > .current_page_ancestor {
    > a {
      background: k-colour(shark);
      color: colour(highlight);
      &:hover {
        background: black();
      }
    }
  }
}

// Header menu; applied to a ul element
.menu-header {
  @include font-size(menu-header);
  @include rem( margin, spacer(1/2) 0 );
  li {
    @include font-style(menu);
    white-space: nowrap;
  }
  > li {
    > ul {
      @include rem( margin-left, 6px );
    }
    ul {
      @include font-size(menu-header-sm);
      ul li {
        @include rem( margin-left, spacer(1/2) );
      }
    }
  }
  @include k-media-below( break(large) ) {
    @include k-list-floated( spacer(1/2) );
    > li ul {
      @include k-hide-visually; // This theme doesn't support submenus on smaller screens
    }
  }
  @include k-media-above( break(large) ) {
    @include k-list-accordion;
  }
}

// Footer menu
.menu-footer {
  @include font-size( menu-footer );
  @include k-list-floated( spacer(1/2) );
  @include rem( padding, spacer(1/2) 0 );
  //@include rem( padding-top, spacer(1/2) );
  ul {
    @extend %hide; // No submenus in the footer
  }
  > li {
    @include font-style(menu);
    white-space: nowrap;
  }
}
