// ==== MENU ==== //

// Inline menu; used in header and footer navigation; should be applied to ol or ul elements
.inline-menu {
  @include k-list-floated( spacer() );
  margin-bottom: 0;
  li {
    @include font-style(menu);
    white-space: nowrap;
  }
  > li:hover > ul {
    @extend %hide-below-medium; // Don't bother displaying submenus on small screens
  }
}



// Header menu; applied to a ul element
.menu-header {
  @extend %links-menu;
  @include font-size(menu-header);
  @include k-list-nested;
  border-bottom: 1px solid colour(divider); // Border for the whole menu
  width: 100%;

  // Link styling
  a:hover {
    color: colour(highlight);
  }

  // Immediate children link styling
  > .current-menu-item,
  > .current-menu-ancestor,
  > .current_page_item,
  > .current_page_ancestor {
    > a {
      color: lighten( colour(menu), 23 );
      &:hover {
        color: lighten( colour(menu), 33 );
      }
    }
  }

  // Submenu styling; placed here to avoid unnecessary nesting
  > li {
    @include rem( padding-bottom, spacer(1/2), 1 ); // Padding list items rather than the whole list so submenus display properly

    // Styling specific to the first submenu
    > ul {
      display: none; // Only display submenus on larger screens
      margin-top: spacer(-1/4); // Breaks vertical rhythm but gives a more natural look
      > li:first-child > a {
        @include triangle; // Pseudo triangle on first submenu only
        border-color: colour(interface);
        &:hover {
          border-color: darken( colour(sub-bg), 13); // Must match value below
        }
      }
    }

    // Styling for all submenus
    ul {
      @include dropdown-menu;
    }
  }

  // Media query to enable all menu features on larger screens
  @include k-media-above( break(medium) ) {
    display: block;
    > li > ul {
      display: block;
    }
  }
}



// Footer menu
.menu-footer {
  // Links aren't styled differently here as they match the values for .site-footer in this theme
  @include font-size(menu-footer);
  @include rem( padding-bottom, spacer(1/2) );
  @include rem( padding-top, spacer(1/2), 1 );
  border-top: 1px solid colour(divider);

  // No submenus in the footer
  ul {
    @extend %hide;
  }
}
