// ==== NAVIGATION ==== //

// General navigation
.site-content nav {
  @extend %links-no-border;
}
.page-links,
.nav-comments,
.nav-content,
.nav-page,
.nav-post {
  @extend %clearfix;
  @extend %spacer-below;
}
.nav-above {
  @include rem( margin-bottom, spacer() );
}
.nav-below {
  @extend %spacer-below-triple;
}
.nav-comments {
  @extend %spacer-below-double;
}
.nav-previous {
  @include rem( padding-right, spacer(1/2) );
  box-sizing: border-box;
  float: left;
  width: 50%;
}
.nav-next {
  @include rem( padding-left, spacer(1/2) );
  box-sizing: border-box;
  float: right;
  text-align: right;
  width: 50%;
}



// Breadcrumb navigation template; used in Ubik's Places module and kept here since it might be useful as a general pattern
%breadcrumbs-static {
  @extend %spacer-below;
  li {
    @include font-size(text-smaller);
    display: inline-block;
    margin-left: 0;
  }
}
.breadcrumbs {
  @extend %breadcrumbs-static;
  li + li:before {
    content: "\00a0\2192\00a0"; // Right-facing arrow: \2192; Greater than: \003e
  }
}

// View switcher, as defined in `src/modules/views.php`
@if module(views) {
  .view-switcher {
    @extend %breadcrumbs-static;
    @include rem( margin-right, spacer() );
    float: left;
    li + li:before {
      content: "\00a0\00b7\00a0"; // Middle dot: \00b7
    }
  }
}
