// ==== NAVIGATION ==== //

// General navigation
.page-links,
.nav-comments,
.nav-content,
.nav-page,
.nav-post {
  @extend %clearfix;
  @extend %spacer-below;
  @include link-stylist($link-color: false);
}
#nav-above {
  @include rem('margin-bottom', $spacer);
}
#nav-below {
  @include rem('margin-bottom', $spacer*3);
}
.nav-previous {
  float: left;
  width: 50%;
}
.nav-next {
  float: right;
  text-align: right;
  width: 50%;
}



// Breadcrumb navigation; used in Ubik's Places module and kept here since it might be useful as a general pattern
.breadcrumbs {
  @extend %spacer-below;
  li {
    @include font-size($s-text-smaller);
    display: inline-block;
    margin-left: 0;
    & + li:before {
      content: "\00a0\2192\00a0"; // Or perhaps you'd like to use a "greater than" symbol: \003e
    }
  }
}
