// ==== NAVIGATION ==== //

// General navigation
.page-links,
.nav-comments,
.nav-content,
.nav-singular {
  @extend %clearfix;
  @extend %spacer-below;
}
.nav-comments,
.nav-singular {
  @extend %links; // These are regular links, not buttons, and need styling
}
.nav-above {
  @include rem( margin-bottom, spacer() );
}
.nav-below {
  @extend %spacer-below-triple;
}
.nav-comments {
  @extend %spacer-below-double;
}
.nav-left {
  @include rem( padding-right, spacer(1/2) );
  box-sizing: border-box;
  float: left;
  width: 50%;
}
.nav-right {
  @include rem( padding-left, spacer(1/2) );
  box-sizing: border-box;
  float: right;
  text-align: right;
  width: 50%;
}



// Breadcrumb navigation template; used in Ubik's Places module and kept here since it might be useful as a general pattern
%breadcrumbs-static {
  @extend %spacer-below;
  li {
    @include font-size(text-smaller);
    display: inline-block;
    margin-left: 0;
  }
}
.breadcrumbs {
  @extend %breadcrumbs-static;
  @extend %links-no-border;
  li + li:before {
    content: "\00a0\2192\00a0"; // Right-facing arrow: \2192; Greater than: \003e
  }
}
