// ==== POST FORMATS ==== //

// Hiding aside, quotation, and status titles to preserve structured data and visual flow
body:not(.list-view) { // There's no way to isolate this, alas
  article.format-aside,
  article.format-quote,
  article.format-status {
    header {
      @include hide;
    }
  }
}



// Link
.entry-link { // Unique class; no need to nest it within article.format-link {}
  @extend %spacer-below;
  @include font-size($s-text-small);
  @include link-stylist($c-meta-link, $c-meta-link-v, $c-meta-link-h, $c-meta-link-a, $c-meta-link-f);
  &:before {
    content: "\00a0\27A5\00a0";
  }
}



// Quotation; a slight modification of the basic blockquote style defines in general.scss
body:not(.list-view) {
  article.format-quote {
    blockquote {
      @include border-radius(6px);
      @include font-size($s-text-bigger);
      border: none;
      box-shadow: inset 3px 3px 7px $c-shadow;
      color: $c-text;
      @include rem('padding', $spacer/2 $spacer);
      footer {
        @include font-size($s-text-small);
      }
    }
  }
}



// Status
body:not(.list-view) {
  article.format-status {
    .entry-content {
      @include font-size($s-text-bigger);
      font-weight: $w-light;
    }
  }
}



// Sidebar reset for post formats specified in the `pendrell_post_formats_sidebar` function in `src/modules/post-formats.php`
.single-format-aside,
.single-format-link,
.single-format-quote,
.single-format-status {
  .content-area {
    float: none;
    max-width: $main-width;
  }
}

// Sidebar reset for image and gallery post format posts are presumably handled by the full-width module; this is here in case it's inactive
@if $full-width == false {
  .single-format-gallery,
  .single-format-image {
    .content-area {
      float: none;
      max-width: $content-width;
    }
  }
}
