// ==== PRISM ==== //

// Prism syntax highlighting by Lea Verou; based on http://dabblet.com
// This is a stripped down version of the default Prism theme

$p-text:            $c-code-box;
$p-comment:         darken($p-text, 17);
$p-punctuation:     darken($p-text, 7);
$p-tag:             lighten($p-text, 27);
$p-selector:        adjust-hue($c-highlight, 60);
$p-variable:        lighten($c-highlight, 7);
$p-keyword:         adjust-hue($c-highlight, 90);
$p-regex:           adjust-hue($c-highlight, 180);

.token {
  &.comment,
  &.prolog,
  &.doctype,
  &.cdata {
    color: $p-comment;
  }
  &.punctuation {
    color: $p-punctuation;
  }
  &.property,
  &.tag,
  &.boolean,
  &.number,
  &.constant,
  &.symbol {
    color: $p-tag;
  }
  &.selector,
  &.attr-name,
  &.string,
  &.builtin {
    color: $p-selector;
  }
  &.atrule,
  &.attr-value,
  &.keyword {
    color: $p-keyword;
  }
  &.regex,
  &.important {
    color: $p-regex;
  }
  &.important {
    font-weight: $w-bold;
  }
  &.entity {
    cursor: help;
  }
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: $p-variable;
}

.namespace {
  opacity: .7;
}
