// ==== PRINT ==== //

// @TODO: margins and other measurements in cm
@media print {

  // Some tips from H5BP: https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css
  * {
    background: transparent !important;
    border: none !important;
    border-radius: none !important;
    box-shadow: none !important;
    color: #222 !important;
    text-shadow: none !important;
  }

  body {
    @include font-size(text-small);
  }

  a,
  a:visited {
    border-bottom: 1px dotted #BBB !important;
    text-decoration: none;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  // Headers
  h1,
  h2,
  h3 {
    page-break-after: avoid;
  }

  pre,
  blockquote {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: 3px solid #BBB !important;
    padding: spacer(1/3);
    page-break-inside: avoid;
  }

  code {
    background: #EEE !important;
    pre & {
      background: transparent !important;
      white-space: pre-wrap;
    }
  }

  thead {
    display: table-header-group; // h5bp.com/t
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  figure {
    overflow: hidden !important;
  }

  img {
    border-radius: 0 !important;
    max-width: 100% !important;
  }

  .site {
    clear: both !important;
    display: block !important;
    float: none !important;
    max-width: 100%;
    position: relative !important;
  }
  .site-header {
    margin: 0 0 spacer() 0;
    h2 {
      opacity: 1;
    }
  }
  .site-content,
  .site-footer {
    margin: 0;
  }
  .site-content,
  .comments-area {
    max-width: 100%;
  }
  .site-footer {
    margin: 0;
  }
  .wrap-header,
  .wrap-content {
    padding: 0;
  }

  // Show links in content but not for internal links, JavaScript, or footnotes
  .entry-content {
    a[href]:after {
      content: " <" attr(href) ">";
    }
    a[href^="javascript:"],
    a[href^="#"],
    a[rel="footnote"] {
      &:after {
        content: "";
      }
    }
  }

  // Hide these elements
  nav,
  button,
  .button,
  .buttons,
  .site-interface,
  .wrap-sidebar, // Instead of .site-sidebar,
  .author-avatar,
  .comment-avatar,
  .comment-respond {
    display: none;
  }
}
