// ==== INTERFACE ==== //

// This partial is meant to contain all user interface elements: buttons, forms, and so on...

// == BUTTONS == //

// Button styling adapted from Twenty Twelve
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button a,
#cancel-comment-reply-link {
  @include button;
}

// Emulating `:disabled` functionality for regular anchor elements
a.disabled {
  cursor: default;
  opacity: .5;
  pointer-events: none;
}



// == ICONS == //

// SVG icon sets; style icons individually, by set, or as a group
svg {
  &.icon {
    @include rem("height", 24px);
    @include rem("width", 24px);
    display: inline-block;
    fill: currentColor; // Inherit color
    vertical-align: sub;

    .button &,
    button & {
      @include rem("height", 18px);
      @include rem("width", 18px);
      @include rem("margin", 4px -4px 0 4px);
      filter: drop-shadow( 0 1px $c-body-bg ); // Matches letterpress effect
      float: right;
    }

    #archive-header & {
      @include rem("height", $spacer*3);
      @include rem("width", $spacer*3);
      color: $c-body-dark;
      float: left;
      margin-left: $spacer*-3.5;
      //margin-top: $spacer*-1;
      position: absolute;
    }
  }

  // Fix jQuery bug: http://bugs.jquery.com/ticket/11352
  use {
    pointer-events: none;
  }
}



// == RESPONSIVE MENU == //

// Site interface: the toolbar/menu at top right
.site-interface {
  display: block;
  @include k-absolute(right $spacer top $spacer);
  @include k-media-below($b-small) {
    @include rem("right", $spacer/2);
  }
  @include k-media-above($b-medium) {
    @include rem("right", $spacer*1.5);
  }
}

// Menu toggle for mobile phones and small screens
.responsive-menu-toggle {
  @include k-media-above($b-medium) {
    display: none;
  }
  &.toggled {
    @extend button:active;
  }
}



// == RESPONSE FORM == //

// Response form; used in comments and the contact form
.comment-form,
.contact-form {
  @include font-size($s-header-smaller);
  label:not(.error) {
    @include font-style("label");
    @include rem("margin-top", $spacer/2);
    display: block;
  }
  label.error {
    @include font-size($s-text-smaller);
    display: block; // Errors go below inputs
  }
  input[type="email"],
  input[type="text"],
  input[type="url"] {
    font-family: inherit; // Possibly redundant
    width: percentage( ( ($main-width/2) - 8) / $main-width ); // Should yield a perfect 50% after accounting for borders and such
  }
  textarea {
    font-family: inherit; // Possibly redundant
    max-width: $main-width;
    width: 100%;
  }
  button[type="submit"],
  input[type="submit"] {
    @extend %spacer-above;
    display: block;
  }
}

// Specific to the contact form (CF1), which inherits from #response-form
.contact-form-spinner,
.contact-form-status {
  @extend %spacer-above;
}



// == SEARCH FORM == //

// Search form input field stretches to the width of the contain; adapted from: http://boulderinformationservices.wordpress.com/2011/02/02/input-field-and-submit-button-on-the-same-line-full-width/
.search-form {
  width: 50%; // Width of the search form in most contexts
  .site-navigation &,
  .widget & {
    width: 100%; // Search form in the sidebar stretches to fill
  }
}
.search-field-wrap {
  overflow: hidden;
  padding-right: 15px;
}
.search-field {
  width: 100%;
  &:focus {
    outline: none; // Remove a weird glow caused by all this CSS voodoo
  }
}
.search-submit {
  float: right;
  margin-top: 2px; // Hack to deal with button alignment issues; @TODO: fix
}



// == TOOLTIPS == //

// Tooltips are based on the data-tooltip attribute; e.g. <span data-tooltip="This is a tooltip">Hover here!</span>
.tooltip,
span[data-tooltip] {
  @include k-tooltip(
    $offset: $spacer - 6px
  , $tooltip-background: $c-highlight-bg
  , $tooltip-border: $d-interface
  , $tooltip-border-radius: $d-radius
  , $tooltip-color: $c-text
  , $tooltip-font-size: $s-text-smaller
  , $tooltip-triangle-color: $c-interface
  );
  border-bottom: $d-mouseover;
  &:before {
    max-width: 600px;
    width: 50vw;
  }
}
