// ==== VARIOUS ==== //

// Screen reader text originally adapted from Twenty Twelve and _s
.screen-reader-text {
  @extend %off-screen;
  @extend %off-screen-focus;
  &:focus {
    @include border-rounded;
    background-color: transparent;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px black(.6);
    color: black();
    font-weight: bold;
    line-height: normal;
    padding: spacer(1/2);
    text-decoration: none;
  }
}

// Footnotes; for use with Markdown Extra implementations e.g. JP Markdown
.footnotes {
  @extend %links-reset-border;
  @extend %text-smaller;
  li {
    outline: none; // Remove blue border when clicking on footnotes
    &:before {
      @include font-size(text-smaller);
    }
  }
}

// References list; for use with scholarly works
.references {
  @extend %text-smaller;
  ol,
  ul {
    li:before {
      content: "";
    }
  }
  li {
    @include scut-hanging-indent( spacer() );
    margin: 0;
  }
}

// Dividers; fleurons and asterisms via Ubik Text, activate by making a single asterisk (*) its own paragraph
.divider {
  color: colour(text-dark);
  text-align: center;
}

// Clearing helper class; still in use
.clear {
  @extend %clearfix-below;
}
.hide {
  @extend %hide;
}

// Alignment
.alignleft {
  @extend %align-left;
}
.alignright {
  @extend %align-right;
}
.aligncenter {
  @extend %align-center;
}
.alignnone {
  @extend %align-none;
}

// Positioning
.bottom-left {
  @extend %bottom-left;
}
.bottom-right {
  @extend %bottom-right;
}
.top-left {
  @extend %top-left;
}
.top-right {
  @extend %top-right;
}

// WordPress theme guidelines requires some classes even if they aren't used
.sticky {
  @extend %spacer-reset;
}
