// ==== VIEWS ==== //

// == LIST VIEW == //

@if module(ubik-views) {

  // This class only appears in list-view so it is safe to declare it without nesting
  .entry-thumbnail {
    @include rem( width, $width-thumb );
    float: left;
    figure.wp-caption {
      @extend %spacer-reset;
      figcaption {
        background-image: none; // Reset; no text here, all we want is the hover effect
      }
    }
  }

  // This section is messy and disorganized mainly to prevent unnecessary nesting
  .list-view {
    .site-content article {
      @extend %spacer-below;
    }
    .entry-title {
      @include font-size(head);
      margin: 0;
    }
    .entry-header {
      @extend %spacer-below-reset;
      .entry-meta {
        @extend %clearfix-reset;
        @extend %uppercase;
      }
    }
    .entry-content-wrapper {
      @include rem( margin-left, $width-thumb + spacer() );
      @include k-media-below( break(small) ) {
        @include rem( margin-left, $width-thumb + spacer(1/2) );
      }
    }
    .entry-content {
      @extend %text-small;
      @extend %max-width-medium; // Smaller text means more characters per line; let's tighten it up a bit
      p {
        @extend %spacer-reset;
      }
    }
    @if module(post-formats) {
      .entry-link {
        @extend %hide;
      }
    }
  }

  // Reset a few things when a list appears within a post or page
  .entry-content .list-view article {
    @extend %spacer-below;
    a,
    a:visited {
      border-bottom: none;
    }
    p {
      @extend %spacer-reset;
    }
  }
}
