// ==== WIDGETS ==== //

// Below large breakpoint the sidebar drops to the bottom
.site-sidebar {
  @include k-media-above( break(large) ) {
    max-width: $width-content - $width-medium;
  }
}
.sidebar {
  @extend %spacer-below;
}
@include k-media-between( break(medium), break(large) ) {
  .sidebar-1,
  .sidebar-2 {
    box-sizing: border-box;
    width: 50%;
    &:only-child {
      float: none;
      max-width: $width-medium;
      padding: 0;
      width: 100%;
    }
  }
  .sidebar-1 {
    @include rem( padding-right, spacer() );
    float: left;
  }
  .sidebar-2 {
    @include rem( padding-left, spacer() );
    float: right;
    .s3c-wrapper,
    .search-form {
      margin-left: auto; // Right-align selectric boxes
    }
    .widget {
      text-align: right;
    }
  }
}
.widget {
  @extend %spacer-below;
  @include font-style(widget-text);
  @include links( colour(sidebar-link), false, colour(sidebar-link-h), false, false, false );
  display: inline-block;
  max-width: $width-medium;
  vertical-align: top;
  width: 100%;
  word-wrap: break-word;

  // Titles
  h2 {
    @include font-style(widget-title);
    @include rem( margin-bottom, spacer(1/4) );
  }

  // Lists
  ul {
    @include rem( margin-bottom, spacer(1/4) );
    ul {
      @include rem( margin-left, spacer(1/2) ); // Half length indentation since we don't have that much space to play with
      //@include rem( margin-top, spacer(1/4) );
    }
  }

  // Content
  li {
    @include rem( line-height, spacer(3/4) );
    @include rem( margin-bottom, spacer(1/2) );
  }

  // Text
  p {
    //@extend %spacer-below;
  }

  // Images
  img {
    @include border-rounded;
  }

  // Form elements and dropdowns
  .s3c-wrapper,
  .search-form {
    max-width: $width-content / 2;
    width: 100%;
  }

  // Eliminate margin on the very last widget
  &:last-child {
    @extend %spacer-below-reset;
  }
}
