// ==== WIDGETS ==== //

// Widgets :D see also `wrap-sidebar` and related classes in `_layout.scss`
.widget {
  @extend %spacer-below;
  @include font-size(text-smaller);
  @include font-style(widget-text);
  @include links( colour(sidebar-link), false, lighten( colour(sidebar-link), 7), false, false, false );
  color: colour(sidebar);
  word-wrap: break-word;

  // Titles
  h2 {
    @include font-size(head-small);
    @include font-style(widget-title);
    color: colour(sidebar-head);
  }

  // Lists
  ul ul {
    @include rem( margin-left, spacer(1/2) ); // Half length indentation since we don't have that much space to play with
  }

  // Text
  p {
    @extend %spacer-below;
  }

  // Images
  img {
    @include border-radius;
  }

  // Eliminate margin on the very last widget
  &:last-child {
    margin-bottom: 0;
  }
}
