// ==== WIDGETS ==== //

// Widgets :D see also `wrap-sidebar` and related classes in `_layout.scss`
.widget {
  @extend %links-no-border;
  @extend %spacer-below;
  @include font-size(text-smaller);
  @include font-style(widget-text);
  color: colour(text-lighter);
  word-wrap: break-word;

  // Titles
  h2 {
    @include font-size(head-smallest);
    @include font-style(widget-title);
    color: colour(text-dark);
  }

  // Lists
  ul ul {
    @include rem( margin-left, spacer(1/2) ); // Half length indentation since we don't have that much space to play with
  }

  // Content
  li {
    @include rem( line-height, spacer(2/3) );
    @include rem( margin-bottom, spacer(1/3) );
  }

  // Text
  p {
    @extend %spacer-below;
  }

  // Images
  img {
    @include border-radius;
  }

  // Eliminate margin on the very last widget
  &:last-child {
    margin-bottom: 0;
  }
}
