// ==== ADMIN ==== //

@import "lib/loader";

body {
  font-family: k-font-stack(helvetica-light);
}

// Sorry for the use of `!important`, that's just how things roll on the WordPress back-end
.wp-editor-area {
  font-family: k-font-stack(helvetica-light) !important;
  font-size: 20px !important;
  line-height: 1.4 !important;
}
